<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <include file="Public::head"/>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="fixed-top">
        <!-- BEGIN HEADER -->
    <include file="Public::top"/>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <include file="Public::left"/>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN THEME CUSTOMIZER-->
                        <div id="theme-change" class="hidden-phone">
                            <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                        </div>
                        <!-- END THEME CUSTOMIZER-->
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <ul class="breadcrumb">
                            <li>
                                <a href="{:U('Index/index')}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                            </li>
                            <li>
                                <a href="{:U('Index/index')}">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                            </li>
                            <li><a href="javascript:void(0)">广告位列表</a><span class="divider-last">&nbsp;</span></li>

                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div id="page" class="dashboard">
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN RECENT ORDERS PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-reorder"></i>广告位列表</h4>
                                    <php>
                                        if(showHandle('AdPosition/add')){
                                    </php>
                                        <span class="tools">
                                            <a href="javascript:void(0);" class="icon-plus add" >添加广告位</a>
                                        </span>
                                    <php>
                                        }
                                    </php>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>名称</th>
                                                <th>宽度</th>
                                                <th>高度</th>
                                                <th>描述</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="list" id="vo">
                                            <tr class="odd gradeX">
                                                <td>{$vo.position_name}</td>
                                                <td>{$vo.advertising_width}</td>
                                                <td>{$vo.advertising_height}</td>
                                                <td>{$vo.position_description}</td>
                                                <td>
                                                    <php>
                                                        if(showHandle('AdPosition/edit')){
                                                    </php>
                                                        <a class="btn btn-small edit"  href="javascript:void(0)" data-id="{$vo.id}"><i class="icon-pencil icon-white"> </i>编辑</a>
                                                    <php>
                                                        }
                                                    </php>
                                                </td>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                    <div class="row-fluid">
                                        <div class="span12 center">
                                            <div class="pagination" id="sample_1_info" style="text-align: center">
                                                {$page}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END RECENT ORDERS PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->

    <!--添加广告位开始-->
    <div id="add" class="modal hide fade in">
        <form id="addForm" method="post" class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>添加广告位</h3>
            </div>
            <div class="modal-body" >

                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>名称：</td>
                            <td><input class="input-xlarge"  name="position_name" type="text" data-rule="required" >  
                            </td>
                        </tr>
                        <tr>
                            <td>宽度：</td>
                            <td><input class="input"  name="advertising_width" type="text" data-rule="required" >像素
                            </td>
                        </tr>
                        <tr>
                            <td>高度：</td>
                            <td><input class="input"  name="advertising_height" type="text" data-rule="required" >像素
                            </td>
                        </tr>
                        
                        <tr>
                            <td>描述：</td>
                            <td>
                                <textarea name="position_description"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit"  class="btn btn-success">提交</button>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </form>
    </div>
    <!--添加广告位结束-->

    <!--编辑广告位开始-->
    <div id="edit" class="modal hide fade in">
        <form id="editForm" method="post"  class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>编辑信息</h3>
            </div>
            <div class="modal-body" >
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>名称：</td>
                            <td><input class="input-xlarge"  name="position_name" type="text" data-rule="required" >  
                            </td>
                        </tr>
                        <tr>
                            <td>宽度：</td>
                            <td><input class="input"  name="advertising_width" type="text" data-rule="required" >像素
                            </td>
                        </tr>
                        <tr>
                            <td>高度：</td>
                            <td><input class="input"  name="advertising_height" type="text" data-rule="required" >像素
                            </td>
                        </tr>
                        
                        <tr>
                            <td>描述：</td>
                            <td>
                                <textarea name="position_description"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <input type="hidden" name='id' /> 
                <button type="submit"  class="btn btn-success">提交</button>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </form>
    </div>
    <!--编辑专题信息结束-->

    <!-- BEGIN FOOTER -->
    <include file="Public::footer"/>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
    <script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>

    <script src="{$Think.const.JS_URL}jquery.validator.js"></script>
    <script src="{$Think.const.JS_URL}zh-CN.js"></script>
    <script src="{$Think.const.JS_URL}scripts.js"></script>
    <script>

        //添加专题 
        $('.add').click(function () {
            $('#add').modal();
        });

        //提交添加专题 表单
        $('#addForm').bind('valid.form', function () {
            $('#add').modal('hide');
            $.ajax({
		url: "{:U('add')}",
		type: "POST",
		data: $(this).serialize(),
		success: function(d) {
                    var result = eval("(" + d + ")");
                    if (result.flag == 1) {
                        alert(result.msg);
                        window.location.reload();//刷新当前页面.
                    } else {
                        alert(result.msg);
                    }
                }
            });
        });

        //修改专题信息
        $('.edit').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/system.php/AdPosition/edit/id/' + id,
                type: 'get',
                success: function (d) {
                    var result = eval("(" + d + ")");
                    var data = result.data;
                    if (result.flag == 1) {
                        $('#editForm input[name="position_name"]').val(data.position_name);
                        $('#editForm input[name="advertising_width"]').val(data.advertising_width);
                        $('#editForm input[name="advertising_height"]').val(data.advertising_height);
                        $('#editForm textarea[name="position_description"]').val(data.position_description);
                        $('#editForm input[name="id"]').val(data.id);
                        $('#edit').modal();
                    } else {
                        alert('操作失败');
                    }
                }
            });
        });

        //提交修改专题的表单
        $('#editForm').bind('valid.form', function () {
            $('#edit').modal('hide');
            $.ajax({
                url: "{:U('edit')}",
                type: "POST",
		data: $(this).serialize(),
                success: function (d) {
                    var result = eval("(" + d + ")");
                    if (result.flag == 1) {
                        alert('修改成功');
                        window.location.reload();//刷新当前页面.
                    } else {
                        alert('修改失败');
                    }
                }
            });
        });

    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>