<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="icon" href="/Public/soumu.ico" type="image/x-icon" />
    <title>{$seoInfo.seo_title}_{$Think.config.SITE_NAME}</title>
    <meta name="keywords" content="{$seoInfo.seo_keywords}" />
    <meta name="description" content="{$seoInfo.seo_description}" />
    <link href="{$Think.const.CSS_URL}screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- 引入新闻头部 -->
<include file="Common:head_news" />
<!-- 中间内容部分 -->
<div class="nws_main">
    <div class="contain clearfix">
        <!-- 面包屑导航 -->
        <div class="breadcrumb news_breadcrumb">
            <ul>
                <li><a href="{:U('/news')}">资讯</a></li>
                <li>></li>
                <li><a href="{:U('/news/'.$categoryPInfo['cid'])}">{$categoryPInfo.name}</a></li>
                <notempty name='categoryInfo'>
                <li>></li>
                <li><a href="{:U('/news/'.$categoryPInfo['cid'].'-'.$categoryInfo['cid'])}">{$categoryInfo.name}</a></li>
                </notempty>
            </ul>
        </div><!-- breadcrumb面包屑导航结束 -->
        <!-- 左侧资讯列表 -->
        <div class="news_list_left nws_left">
            <ul class="news_list_ul">
                <volist name="lists" id="vo">
                <li class="clearfix">
                    <a href="{:U('news/detail/'.$vo['id'])}">
                        <empty name="vo.Img">
                            <img src="{$Think.const.IMG_URL}news_default.jpg" alt="{$vo.title}" />
                        <else/>
                            <img src="{$vo.Img.image_url}" alt="{$vo.title}" />
                        </empty>
                    </a>
                    <div class="substance">
                        <h1><a href="{:U('news/detail/'.$vo['id'])}">{$vo.title}</a></h1>
                        <p>{$vo.summary|msubstr=0,100}...<a href="{:U('news/detail/'.$vo['id'])}">查看详情</a></p>
                        <p class="source">来源：<font><notempty name='vo.source'>{$vo.source}<else/>91搜墓网</notempty></font>时间：{$vo.published_time|date='Y-m-d',###}<span>阅读量({$vo.hits})</span></p>
                    </div>
                </li>
                </volist>
            </ul>
            <!-- 分页 -->
            <div class="pagination" id="sample_1_info" style="text-align: center">
                {$pageshow}
            </div>
        </div><!-- nws_left左侧资讯列表结束 -->
        <!-- 右侧内容 -->
        <div class="nws_right">
            <!-- 广告 -->
            <div class="news_list_add">
                <img src="{$Think.const.IMG_URL}news_add_img.jpg" alt="看丧葬习俗，知白事常识，关注91搜墓网公众号" />
            </div><!-- news_list_add end -->
            <!-- 最新资讯 -->
            <div class="nws_latest">
                <h1><i class="latest_i"></i>最新资讯</h1>
                <ul>
                    <volist name='lastestNews' id='vo'>
                        <li class="clearfix">
                            <notempty name='vo.Img'>
                            <a href="{:U('/news/detail/'.$vo['id'])}">
                                <notempty name='vo.Img'>
                                    <img src="{$vo.Img.thumbnail}" alt='{$vo.title}'/>
                                    <else/>
                                    <img src="{$Think.const.IMG_URL}news_default.jpg" alt="{$vo.title}"/>
                                </notempty>
                            </a>
                            <p>
                                <a href="{:U('/news/detail/'.$vo['id'])}" title="{$vo.title}">{$vo.title|msubstr=0,25}</a>
                            </p>
                        </li>
                    </volist>
                </ul>
            </div><!-- nws_latest最新资讯结束 -->
            <!-- 热门文章 -->
            <div class="nws_article">
                <h1><i class="article_i"></i>热门文章</h1>
                <ul>
                    <volist name='hotnews' id='vo' mod='2'>
                    <li <eq name='mod' value='0'>class="neodd"</eq>>
                        <a href="{:U('news/detail/'.$vo['id'])}">{$vo.title}</a>
                    </li>
                    </volist>
                </ul>
            </div><!-- nws_article热门文章结束 -->
        </div><!-- nws_right右侧内容结束 -->
    </div><!-- contain -->
</div><!-- main中间内容部分结束 -->

<include file="Common:footer" />
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/news.js"></script>
</body>
</html>