<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="icon" href="/Public/soumu.ico" type="image/x-icon" />
    <title>{$seoInfo.seo_title}_{$Think.config.SITE_NAME}</title>
    <meta name="keywords" content="{$seoInfo.seo_keywords}" />
    <meta name="description" content="{$seoInfo.seo_description}" />
    <link href="{$Think.const.CSS_URL}screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <!-- 轮播图样式slide.css -->
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}slide.css"/>
    
    <script type="text/javascript" src="{$Think.const.JS_URL}wap.js"></script>
    <script type="text/javascript">
        var url = window.location.pathname;
        var newurl = "{$Think.config.WAP_STIE_DOMAIN}"+url;
        browserRedirect(newurl);
    </script>
</head>
<body>
    <!-- 顶部 -->
    <div class="navbar_top">
        <div class="contain">
            <div class="greet">
                <empty name="Think.session.member_name">
                    <if condition='getHomeUrl() neq "/"'>
                        <span>您好! 欢迎来到91搜墓网&nbsp;<a href="{:U('/'.strtolower(C('CHINA_ABBR')))}" title="返回首页">返回首页</a></span>
                    <else />
                        <span>您好! 欢迎来到91搜墓网首页</span>
                    </if>
                    <a class="login" href="{:U('/login')}" title="登陆">登录</a>
                    <a href="{:U('/register')}" title”注册“>注册</a>
                <else />
                    <if condition='getHomeUrl() neq "/"'>
                        <span>{$Think.session.member_name}您好! 欢迎来到91搜墓网&nbsp;<a href="{:U('/'.strtolower(C('CHINA_ABBR')))}" title="返回首页">返回首页</a></span>
                    <else />
                        <span>{$Think.session.member_name}您好! 欢迎来到91搜墓网首页</span>
                    </if>
                    <a href="{:U('/logout')}" rel="nofollow" title="推出登陆">退出登录</a>
                </empty>
            </div>
            <div class="nav_top">
                <ul>
                    <li class="scan">
                        <img src="{$Think.const.IMG_URL}saomwei.gif" alt="91搜墓网微信公众号二维码"/>扫描微信<i></i>
                        <span class="toolbar-layer"></span>
                    </li>
                <li><a target="_blank" href="{:U('/personal')}" rel="nofollow">用户中心</a></li>
                <li><a target="_blank" href="{:U('/help/issue/xmjq')}">帮助中心</a></li>
                <li><a target="_blank" href="{:U('/intro/sitemap')}">网站地图</a></li>
                <!--<li class="last"><a href="{:U('/Storecenter/login')}" rel="nofollow">商家后台</a></li>-->
                </ul>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div><!-- 顶部结束navbar_top -->
    <!-- 头部header -->
    <div class="header">
        <div class="contain">
            <!-- LOGO -->
            <div class="logo clearfix">
                <a href="<?php echo getHomeUrl(); ?>">
                    <img src="{$Think.const.IMG_URL}logo.png" alt="91搜墓网_{$regionName}站"/>
                    <img src="{$Think.const.IMG_URL}logo_left.gif" alt="陵园，墓地-91搜墓网">
                </a>
            </div>
            <!-- 选择城市+搜索 -->
            <div class="search">
                <!-- 选择城市 -->
                <div class="city">
                    <span class="sele c_down">{$regionName}<i class="sele_bg"></i></span>
                    <!-- 展开城市列表 -->
                    <div class="city_list search_city">
                        <div class="ci_title">
                            <ul id="city_nav">
                                <li><a href="javascript:void(0)" tab="tabCity1" rel="nofollow">省份</a></li>
                            </ul>
                            <span class="c_close search_close"></span>
                        </div>
                        <!-- 展开的城市 -->
                        <ul class="list_box">
                            <!-- 热门城市 -->
                            <li id="tabCity1" class="city_box">
                                <ul class="clearfix">
                                <volist name='region' id='vo'>
                                    <li>
                                        <a href="{:U('/'.strtolower($vo['abbreviate']))}"  title="{$Think.config.SITE_NAME}_{$vo.region_name}站">{$vo.region_name}</a>
                                    </li>
                                </volist>
                                </ul>
                            </li>
                        </ul><!-- list_box展开的城市结束 -->
                    </div><!-- city_list展开城市列表结束 -->
                </div><!-- city选择城市结束 -->
                <form id='seacth_top_form' action='/search' method='get' onsubmit="return search_top()">
                    <input class="tex" type="text" data-id="kwd" name='wd' autocomplete="off" placeholder="请输入搜索的陵园名称" />
                    <button class="btn"></button>
                    <div class="search_box" style="text-align: left; font: 15px 'Microsoft Yahei'; position:absolute; z-index: 100; margin:31px 90px; background:white; border: 1px solid #FBB784; display: none; width: 245px;"></div>
                </form>
            </div><!-- search选择城市+搜索结束 -->
            <!-- 热线 -->
            <div class="header_phone clearfix">
                <img src="{$Think.const.IMG_URL}header_phone_img.png" alt="热线电话:4008010344"/>
            </div>
            <!-- 查找陵园+查找殡仪馆tab -->
            <div class="seek">
                <!-- tab标题 -->
                <div class="seek_title clearfix">
                    <ul id="seek_nav">
                        <li class="seek_lia"><a href="javascript:void(0)" tab="tabA" rel="nofollow"  rel="nofollow">查找陵园</a></li>
                        <li><a href="javascript:void(0)" tab="tabB" rel="nofollow">查找殡仪馆</a></li>
                    </ul>
                </div>
                <!-- 搜索内容 -->
                <ul class="seek_list">
                    <!-- 查找陵园 -->
                    <li id="tabA" class="seek_box">
                        <form id='search_cemetery_form' onsubmit="return search_cemetery()" action="/c-search"  method="get">
                        <ul>
                            <li class="seek_city">
                                <span>地区</span><input class="seek_tex seek_down cemetery-province" type="text" placeholder="请选择地区"  value="{$Think.session.ip_region_name}"/>
                                <input type="hidden" value="{$regionId}" class="cemetery-provinceid" name="province">
                                <!-- 展开城市列表 -->
                                <div class="city_list see_city">
	                                <div class="ci_title">
	                                    <ul id="cityB_nav">
	                                        <li><a href="jascription:void(0)" tab="tabCity7" rel="nofollow">热门城市</a></li>
	                                    </ul>
	                                    <span class="c_close seek_close"></span>
	                                </div>
	                                <!-- 展开的城市 -->
	                                <ul class="list_box">
	                                    <!-- 热门城市 -->
	                                    <li id="tabCity7" class="cityB_box">
	                                        <ul class="clearfix">
	                                            <volist name='region' id='vo'>
	                                                <li>
	                                                    <a class="region_provice" href="javascript:void(0)" data-val="{$vo.region_id}" rel="nofollow">{$vo.region_name}</a>
	                                                </li>
	                                            </volist>
	                                        </ul>
	                                    </li>  
	                                </ul><!-- list_box展开的城市结束 -->
	                            </div><!-- city_list展开城市列表结束 -->
                            </li>
                            <li class="name">
                                <span>陵园名称</span><input class="seek_tex" type="text" placeholder="（选填）陵园名称" name="wd"/>
                            </li>
                            </ul>
                            <button class="seek_btn">立即搜索</button>
                        </form>
                        <p><span>温馨提示：</span>在平台预约会员陵园，并成功购墓者，可享平台返现优惠！</p>
                    </li>
                    <!--查找殡仪馆-->             
                    <li id="tabB" class="seek_box seek_bin">
                        <form id='search_funeral_form' onsubmit="return search_funeral()" action="/f-search"  method="get">
                            <ul>
                                <li class="city_bin">地<span>区</span><input class="seek_tex byg_down funeral-province" type="text" placeholder="请选择地区" value="{$Think.session.ip_region_name}" />
                                    <input type="hidden" value="{$regionId}" class="funeral-provinceid" name="province">
                                    <div class="city_list byg_city">
                                        <div class="ci_title">
                                            <ul id="cityC_nav">
                                                <li><a href="javascript:;" rel="nofollow" tab="tabCity13">热门城市</a></li>
                                            </ul>
                                            <span class="c_close byg_close"></span>
                                        </div>
                                        <!-- 展开的城市 -->
                                        <ul class="list_box">
                                            <!-- 热门城市 -->
                                            <li id="tabCity13" class="cityC_box">
                                                <ul class="clearfix">
                                                    <volist name='region' id='vo'>
                                                    <li>
                                                        <a class="funeral_provice" href="javascript:void(0)" data-val="{$vo.region_id}">{$vo.region_name}</a>
                                                    </li>
                                                    </volist>
                                                </ul>
                                            </li>
                                        </ul><!-- list_box展开的城市结束 -->
                                </div><!-- city_list展开城市列表结束 -->
                                </li>
                                <li class="name_bin">
                                    <span>殡仪馆名称</span><input class="seek_tex" type="text" placeholder="（选填）殡仪馆名称" name="wd"/>
                                </li>
                            </ul>
                            <button class="seek_btn">立即搜索</button>
                        </form>
                        <p><span>温馨提示：</span>在平台预约会员陵园，并成功购墓者，可享平台返现优惠！</p>
                    </li>
                </ul>
            </div><!-- seek查找陵园+查找殡仪馆tab结束 -->
        </div><!-- contain -->
    </div><!-- 头部header结束 -->
    <!-- 导航 -->
    <div class="nav">
        <div class="contain">
            <ul class="nav_list clearfix">
                <li class="lineheight"><a href="<?php echo getHomeUrl(); ?>" >首页</a></li>
                <li><a href="<?php echo getHomeUrl('cemetery'); ?>" >陵园</a></li>
                <li><a href="{$Think.config.LR_URL}" target="_blank">91乐融</a></li>
                <li><a href="{:U('/service')}">祭扫服务</a></li>
                <li><a href="<?php echo getHomeUrl('funeral'); ?>" >殡仪馆</a></li>
                <li><a href="{:U('/news')}" >资讯</a></li>
                <li><a href="{:U('/specialtopics')}" >会员专栏</a></li>
                <!--<li><a href="jascription:void(0)">传统节日</a></li>-->
                <li class="last"><a href="{:U('/fengshui')}" >殡葬风水</a></li>
            </ul>
        </div>
    </div><!-- nav导航结束 -->
    <!--banner部分-->
    <div class="main_visual">
        <div class="flicking_con">
            <div class="flicking_inner">
            <volist name="ads" id="ad">
                <a href="jascription:void(0)"></a>
            </volist>
            </div>
        </div>
        <div class="main_image clearfix">
            <ul>
                <volist name="ads" id="ad">
                    <li>
                        <eq name="ad.banner_link" value="/">
                        <a href="javascript:void(0)" title="{$ad.banner_name}" target="_blank">
                        <else/>
                        <a href="{$ad.banner_link}" title="{$ad.banner_name}"  target="_blank">
                        </eq>
                        <span style="background: url('{$Think.config.IMG_HOST}{$ad.banner_url}') center top no-repeat;"></span></a>
                    </li>
                </volist>
            </ul>
        </div>
        <a href="javascript:;" id="btn_prev"></a>
        <a href="javascript:;" id="btn_next"></a>
    </div><!-- banner部分结束 -->
    <!-- 中间内容部分 -->
    <div class="main">
        <div class="contain">
            <!-- 最新陵园 -->
            <div class="cemetery clearfix">
                <!-- 左侧内容 -->
                <div class="cemetery_left">
                    <h1><span class="cemetery_title"></span>最新陵园</h1>
                    <ul>
                        <volist name='newstore' id='vo' key='k'>
                            <li <if condition="$k%3== '0'">class='last'</if>>
                            <a href="{:U('cemetery/detail/'.$vo['store_id'])}" target="_blank" title="{$vo.store_name}">
                                <empty name='vo.store_banner'>
                                    <img src="{$Think.const.IMG_URL}cemetery_img1.jpg" alt="{$vo.store_name}" />
                                <else />
                                    <img src="{$vo.store_banner}" alt="{$vo.store_name}" />
                                </empty>
                            </a>
                            <in name="vo.member_status" value="$storeMembersYH">
                                 <span class="coupon"></span>
                             </in>
                                <div class="describe">
                                    <h2>
                                        <a target="_blank" href="{:U('cemetery/detail/'.$vo['store_id'])}" title="{$vo.store_name}">
                                        <in name="vo.member_status" value="$storeMembersVip">
                                            <img class="vip" src="{$Think.const.IMG_URL}vip.png" alt="平台会员"/>
                                        </in>
                                        {$vo.store_name|msubstr=0,15}
                                        </a>
                                    </h2>
                                    <p>特色：{$vo.feature|msubstr=0,12}</p>
                                    <p>简介：{$vo.summary|msubstr=0,15}</p>
                                    <h3>参考价：<gt name='vo.min_price' value="0"><span>￥ {$vo['min_price']}</span>万起<else/>--</gt></h3>
                                </div>
                            
                            </li>
                        </volist>
                         <li class="last">
                            <a target="_blank" href="{:U('intro/joinus')}" title="加盟合作">
                                <img src="{$Think.const.IMG_URL}cemetery_jmhz.jpg" alt="加盟合作"/>
                            </a>
                            <div class="describe">
                                 <h2><a target="_blank" href="{:U('intro/joinus')}" title="加盟合作">91搜墓网期待您的加盟</a></h2>
                                 <p>中国殡葬协会会员单位 </p>
                                 <p>中国殡葬协会青年工作委员会主任单位</p>
                            </div>
                        </li>
                    </ul>
                </div><!-- cemetery_left左侧内容结束 -->
                <!-- 右侧内容 -->
                <div class="cemetery_right">
                    <!-- 最新预约 -->
                    <h1>最新预约<img src="{$Think.const.IMG_URL}new.gif" alt="陵园最新预约"/></h1>
                    <table class="table_list" cellspacing="0">
                        <thead class="table_thd">
                            <tr>
                                <th>地区</th>
                                <th>陵园</th>
                                <th>手机</th>
                                <th>预约时间</th>
                            </tr>
                        </thead>
                        <tbody class="table_tbd">
                            <volist name='appointInfo' id='vo' mod="2">
                                <tr <eq name="mod" value="0">class="odd"<else />class="even"</eq>>
                                    <td><a href="{:U('/'.strtolower($vo['abbreviate']))}" title="{$vo.province}">{$vo.province}</a></td>
                                    <td><a target="_blank" href="{:U('cemetery/detail/'.$vo['store_id'])}" title="{$vo.store_name}">{$vo.store_name|msubstr=0,10}</a></td>
                                    <td>{$vo.mobile|substr_replace='****',3,4}</td>
                                    <td>{$vo.appoint_time|date='Y-m-d',###}</td>
                                </tr>
                            </volist>
                            
                        </tbody>
                    </table><!-- table_list最新预约结束 -->
                    <!-- 广告图 -->
                    <div class="ad1">
                        <empty name="firstAd">
                            <a href="javascript:void(0)">
                            <img src="{$Think.const.IMG_URL}index_ad_img1.jpg" alt="91搜墓网"/>
                            </a>
                        <else/>
                            <a target="_blank" href="{$firstAd.banner_link}"  title="{$firstAd.banner_name}">
                            <img src="{$Think.config.IMG_HOST}{$firstAd.banner_url}" alt="{$firstAd.banner_name}">
                            </a>
                        </empty>                   
                    </div><!-- ad1广告图结束 -->
                </div><!-- cemetery_right右侧内容结束 -->
            </div><!-- cemetery最新陵园结束 -->
            <!-- 风水推荐 -->
            <div class="cemetery clearfix">
                <!-- 左侧内容 -->
                <div class="cemetery_left geomancy_left">
                    <h1><span class="geomancy_title"></span>风水推荐</h1>
                    <ul>
                        <volist name='fstj' id='vo' key='k'>
                            <li <if condition="$k%3== '0'">class='last'</if>>
                            <a href="{:U('cemetery/detail/'.$vo['store_id'])}" target="_blank" title="{$vo.store_name}">
                                <empty name='vo.store_banner'>
                                    <img src="{$Think.const.IMG_URL}cemetery_img1.jpg" alt="{$vo.store_name}" />
                                <else />
                                    <img src="{$vo.store_banner}" alt="{$vo.store_name}" />
                                </empty>
                            </a>
                                <!--判断是否优惠(上海除外)-->
                                <neq name="vo.province_id" value="41">
                                    <in name="vo.member_status" value="$storeMembersYH">
                                     <span class="coupon"></span>
                                    </in>
                                </neq>
                                <div class="describe">
                                    <h2>
                                        <a target="_blank" href="{:U('cemetery/detail/'.$vo['store_id'])}" title="{$vo.store_name}">
                                        <in name="vo.member_status" value="$storeMembersVip">
                                            <img class="vip" src="{$Think.const.IMG_URL}vip.png" alt="平台会员"/>
                                        </in>
                                        <!--判断上海个人会员显示V-->
                                        <if condition="($vo.member_status eq 16) AND ($vo.province_id eq 41)">
                                            <img class="vip" src="{$Think.const.IMG_URL}vip.png" alt="平台会员"/>
                                        </if>
                                        {$vo.store_name|msubstr=0,15}
                                        </a>
                                    </h2>
                                    <p>特色：{$vo.feature|msubstr=0,12}</p>
                                    <p>简介：{$vo.summary|msubstr=0,15}</p>
                                    <h3>参考价：<gt name='vo.min_price' value="0"><span>￥ {$vo['min_price']}</span>万起<else/>--</gt></h3>
                                </div>
                        </li>
                        </volist>
                    </ul>
                </div><!-- cemetery_left左侧内容结束 -->
                <!-- 右侧内容 -->
                <div class="cemetery_right geomancy_right">
                    <!-- 公司动态 -->
                    <h1>公司动态</h1>
                    <div id="marquee4">
                        <ul>
                            <volist name="gsdt" id="vo">
                            <li>
                                <a href="{:U('news/detail/'.$vo['id'])}" title="{$vo.title}" target="_blank">{$vo.title|msubstr=0,28}</a>
                            </li>
                            </volist>
                        </ul>
                    </div>
                    <!-- 广告图 -->
                    <div class="ad1">
                        <empty name="secAd">
                            <a href="javascript:void(0)">
                                <img src="{$Think.const.IMG_URL}index_ad_img1.jpg" alt="91搜墓网平台"/>
                            </a>
                        <else/>
                            <a target="_blank" href="{$secAd.banner_link}" title="{$secAd.banner_name}">
                                <img src="{$Think.config.IMG_HOST}{$secAd.banner_url}" alt="{$secAd.banner_name}" />
                            </a>
                        </empty>             
                    </div><!-- ad1广告图结束 -->
                </div><!-- cemetery_right右侧内容结束 -->
            </div><!-- cemetery风水推荐结束 -->
            <!-- 广告图 -->
            <div class="ad2">
            <empty name="hengfuAd">
                <a href="javascript:void(0)">
                    <img src="{$Think.const.IMG_URL}index_ad_img2.jpg" alt="91搜墓网平台优势"/>
		</a>
                <else/>
                    <a target="_blank" href="{$hengfuAd.banner_link}" title="{$hengfuAd.banner_name}">
                    <img src="{$Think.config.IMG_HOST}{$hengfuAd.banner_url}" alt="{$hengfuAd.banner_name}" />
                    </a>
                </empty>
            </div>
            <!-- 环境推荐 -->
            <div class="cemetery clearfix">
                <!-- 左侧内容 -->
                <div class="cemetery_left setting_left">
                    <h1><span class="setting_title"></span>环境推荐</h1>
                    <ul>
                        <volist name='hjtj' id='vo' key='k'>
                            <li <if condition="$k%3== '0'">class='last'</if>>
                                <empty name='vo.store_banner'>
                                    <a href="{:U('cemetery/detail/'.$vo['store_id'])}" target="_blank" title="{$vo.store_name}">
                                        <img src="{$Think.const.IMG_URL}cemetery_img1.jpg" alt="{$vo.store_name}" />
                                    </a>
                                <else />
                                    <a href="{:U('cemetery/detail/'.$vo['store_id'])}" target="_blank" title="{$vo.store_name}">
                                        <img src="{$vo.store_banner}" alt="{$vo.store_name}" />
                                    </a>
                                </empty>
                                <!--判断是否优惠(上海除外)-->
                                <neq name="vo.province_id" value="41">
                                    <in name="vo.member_status" value="$storeMembersYH">
                                     <span class="coupon"></span>
                                    </in>
                                </neq>
                                <div class="describe">
                                    <h2>
                                        <a href="{:U('cemetery/detail/'.$vo['store_id'])}" title="{$vo.store_name}" target="_blank">
                                        <in name="vo.member_status" value="$storeMembersVip">
                                            <img class="vip" src="{$Think.const.IMG_URL}vip.png" alt="平台会员"/>
                                        </in>
                                        <!--判断上海个人会员显示V-->
                                        <if condition="($vo.member_status eq 16) AND ($vo.province_id eq 41)">
                                            <img class="vip" src="{$Think.const.IMG_URL}vip.png" alt="平台会员"/>
                                        </if>
                                        {$vo.store_name|msubstr=0,15}
                                        </a>
                                    </h2>
                                    <p>特色：{$vo.feature|msubstr=0,12}</p>
                                    <p>简介：{$vo.summary|msubstr=0,15}</p>
                                    <h3>参考价：<gt name='vo.min_price' value="0"><span>￥{$vo['min_price']}</span>万起<else/>--</gt></h3>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div><!-- cemetery_left左侧内容结束 -->
                <!-- 右侧内容 -->
                <div class="cemetery_right setting_right">
                    <!-- 风水文化 -->
                    <h1>风水文化</h1>
                    <ul class="geomantic">
                        <li class="geomantic_first clearfix">
                            <a href="{:U('news/detail/'.$fswhtj['id'])}" target="_blank">
                                <empty name='fswhtj.Img'>
                                    <img src="{$Think.const.IMG_URL}news_default.jpg" alt="{$fswhtj.title}" />
                                <else />
                                    <img src="{$fswhtj.Img.thumbnail}" alt="{$fswhtj.title}" />
                                </empty>
                                <p>{$fswhtj.title}</p>
                            </a>
                        </li>
                        <volist name="fswh" id="vo">
                            <li>
                                <a href="{:U('news/detail/'.$vo['id'])}" title="{$vo.title}">{$vo.title|msubstr=0,25}</a>
                            </li>
                        </volist>
                    </ul>
                    <!-- 广告图 -->
                    <div class="ad1">
                        <empty name="thirdAd">
                            <a href="javascript:void(0)">
                            <img src="{$Think.const.IMG_URL}index_ad_img1.jpg" alt="91搜墓网"/>
                            </a>
                        <else/>
                            <a target="_blank" href="{$thirdAd.banner_link}" title="{$thirdAd.banner_name}">
                            <img src="{$Think.config.IMG_HOST}{$thirdAd.banner_url}" alt="{$thirdAd.banner_name}" />
                            </a>
                        </empty>             
                    </div><!-- ad1广告图结束 -->
                </div><!-- cemetery_right右侧内容结束 -->
            </div><!-- cemetery环境推荐结束 -->
            <!-- 交通推荐 -->
            <div class="cemetery clearfix">
                <!-- 左侧内容 -->
                <div class="cemetery_left traffic_left">
                    <h1><span class="traffic_title"></span>交通推荐</h1>
                    <ul>
                        <volist name='jttj' id='vo' key='k'>
                        <li <if condition="$k%3== '0'">class='last'</if>>
                            <a href="{:U('cemetery/detail/'.$vo['store_id'])}" target="_blank" title="{$vo.store_name}">
                                <empty name='vo.store_banner'>
                                    <img src="{$Think.const.IMG_URL}cemetery_img1.jpg" alt="{$vo.store_name}" />
                                <else />
                                    <img src="{$vo.store_banner}" alt="{$vo.store_name}" />
                                </empty>
                            </a>
                                <!--判断是否优惠(上海除外)-->
                                <neq name="vo.province_id" value="41">
                                    <in name="vo.member_status" value="$storeMembersYH">
                                     <span class="coupon"></span>
                                    </in>
                                </neq>
                                <div class="describe">
                                    <h2>
                                        <a href="{:U('cemetery/detail/'.$vo['store_id'])}" title="{$vo.store_name}" target="_blank">
                                        <in name="vo.member_status" value="$storeMembersVip">
                                            <img class="vip" src="{$Think.const.IMG_URL}vip.png" alt="平台会员"/>
                                        </in>
                                        <!--判断上海个人会员显示V-->
                                        <if condition="($vo.member_status eq 16) AND ($vo.province_id eq 41)">
                                            <img class="vip" src="{$Think.const.IMG_URL}vip.png" alt="平台会员"/>
                                        </if>
                                        {$vo.store_name|msubstr=0,15}
                                        </a>
                                    </h2>
                                    <p>特色：{$vo.feature|msubstr=0,12}</p>
                                    <p>简介：{$vo.summary|msubstr=0,15}</p>
                                    <h3>参考价：<gt name='vo.min_price' value="0"><span>￥ {$vo['min_price']}</span>万起<else/>--</gt></h3>
                                </div>
                        </li>
                        </volist>
                    </ul>
                </div><!-- cemetery_left左侧内容结束 -->
                <!-- 右侧内容 -->
                <div class="cemetery_right traffic_right">
                    <!-- 常见问题 -->
                    <h1>常见问题</h1>
                    <ul class="faq">
                        <volist name='cjwt' id='vo' key='k'>
                            <li>
                                <a href="{:U('news/detail/'.$vo['id'])}" title="{$vo.title}" target="_blank">
                                    <span <elt name="k" value="3">class="faq_led"</elt>>{$k}</span>{$vo.title|msubstr=0,20}
                                </a>
                            </li>
                        </volist>
                    </ul>
                    <!-- 广告图 -->
                    <div class="ad1">
                        <empty name="forthAd">
                            <a href="javascript:void(0)">
                            <img src="{$Think.const.IMG_URL}index_ad_img1.jpg" alt="91搜墓网"/>
                            </a>
                        <else/>
                            <a target="_blank" href="{$forthAd.banner_link}" title="{$forthAd.banner_name}">
                            <img src="{$Think.config.IMG_HOST}{$forthAd.banner_url}" alt="{$forthAd.banner_name}" />
                            </a>
                        </empty>       
                    </div><!-- ad1广告图结束 -->
                </div><!-- cemetery_right右侧内容结束 -->
            </div><!-- cemetery交通推荐结束 -->
            <!-- 最新资讯 -->
            <div class="cemetery clearfix">
                <!-- 最新资讯 -->
                <div class="new_message">
                    <h1><span class="message_title"></span>最新资讯</h1>
                    <!-- 左侧 -->
                    <div class="message">
                        <ul class='clearfix'>
                            <volist name='latestnews' id='vo'>
                                <li>
                                    <a href="{:U('news/detail/'.$vo['id'])}" title="{$vo.title}" target="_blank">{$vo.title|msubstr=0,24}</a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                    <!-- 右侧 -->
                    <div class="message_right">
                        <!-- tab切换标题 -->
                        <div class="message_tab clearfix">
                            <ul id="message_nav">
                                <li class='mess_led'>
                                    <a href="javascript:void(0)" tab="tabC">企业软文</a>
                                </li>
                                <li><a href="{:U('/news')}" tab="tabD">查看往期</a></li>
                            </ul>
                        </div>
                        <!-- tab列表 -->
                        <ul class="message_list">
                            <li class="message_box">
                                <ul>
                                    <volist name='qyrw' id='vo'>
                                        <li>
                                            <a href="{:U('news/detail/'.$vo['id'])}" title="{$vo.title}" target="_blank">{$vo.title|msubstr=0,19}</a>
                                        </li>
                                    </volist>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- message_right右侧结束 -->
                </div><!--new_message结束 -->
            </div><!-- cemetery最新资讯结束 -->
            <!-- 优势 -->
            <div class="advantage clearfix">
                <ul>
                    <li>
                        <span class="photo-value"></span>
                        <h1>超值优惠</h1>
                        <p>优惠信息100%真实</p>
                    </li>
                    <li>
                        <span class="photo-major"></span>
                        <h1>专业团队</h1>
                        <p>资深的企业，专业的咨询团队</p>
                    </li>
                    <li>
                        <span class="photo-message"></span>
                        <h1>信息全面</h1>
                        <p>涵盖全国上千家公墓信息</p>
                    </li>
                    <li>
                        <span class="photo-capacity"></span>
                        <h1>智能服务</h1>
                        <p>多种线上咨询、预约服务</p>
                    </li>
                    <li class="last">
                        <span class="photo-integrity"></span>
                        <h1>诚信保障</h1>
                        <p>交易透明，诚信商家，安全保障</p>
                    </li>
                </ul>
            </div><!-- advantage优势结束 -->
        </div><!-- contain -->
    </div><!-- main中间内容部分结束 -->
    <!-- 底部footer部分 -->
    
    <include file="Common:footer_home" />
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
    <!-- 轮播jquery.touchSlider.js -->
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.touchSlider.js"></script>
    <!-- 公司动态无缝滚动jquery.kxbdMarquee.js -->
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.kxbdmarquee.js"></script>
    <!-- 公共JS -->
    <script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
    <!--私有JS -->
    <script type="text/javascript" src="{$Think.const.JS_URL}home/index.js"></script>
    <script type="text/javascript">
        $('input[data-id="kwd"]').keyup(function() {
            var store_name = $(this).val();
            $.ajax({
                url:"{:U('searchAutoHint')}",
                type:'post',
                data:{
                    store_name:store_name,
                },
                success:function(d){
                    var data = eval("("+d+")");
                    var result = data['data'];
                    var aTag = '';
                    if(data['flag'] == 1){
                        $('.search_box').show();
                        $('.city_list').hide();
                        for (var i = 0; i < result.length; i++) {
                            aTag += '<a data-name="click_name" href="javascript:void(0)">'+result[i]+'</a>';
                        }
                    }else{
                        $('.search_box').hide();
                    }
                    $('.search_box').empty().append(aTag);
                    
                    $('a[data-name="click_name"]').css('display','block');
                    // 鼠标滑过样式
                    $('a[data-name="click_name"]').hover(function(){
                        $('input[data-id="kwd"]').val($(this).text());
                        $(this).css({
                            'background-color':'#FBB784',
                            'color':'white'
                        });
                    },function(){
                        $(this).css({
                            'background-color':'white',
                            'color':'black'
                        });
                    });
                    // 点击给搜索框赋值
                    $('a[data-name="click_name"]').click(function(){
                        $('input[data-id="kwd"]').val($(this).text());
                        $('.search_box').hide();
                    });
                }
            });
        });
    </script>
</body>
</html>