<meta charset="utf-8" />
<title>91搜墓网后台</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="91搜墓网后台" name="description" />
<meta content="91搜墓网" name="author" />
<link href="{$Think.const.ASSETS_URL}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="{$Think.const.ASSETS_URL}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="{$Think.const.ASSETS_URL}font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="{$Think.const.CSS_URL}style.css" rel="stylesheet" />
<link href="{$Think.const.CSS_URL}style_responsive.css" rel="stylesheet" />
<link href="{$Think.const.CSS_URL}style_default.css" rel="stylesheet" id="style_color" />
<link href="{$Think.const.CSS_URL}common.css" rel="stylesheet" type="text/css">