<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <title>个人中心-修改密码_{$Think.config.SITE_NAME}</title>
    <meta name="keywords" content="个人中心" />
    <meta name="description" content="个人中心" />
    <link href="{$Think.const.CSS_URL}screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- 提示框 -->
<div class="tooltip_box"></div>
<div class="tooltip_pers">
    <div class="clearfix">
        <img src="{$Think.const.IMG_URL}pers_save.png" />
        <p id="content"></p>
    </div>
    
    <div class="tooltip_pers_btn">
        <a class="ack_btn" href="javascript:void(0);">关闭</a>
    </div>
    <span class="tooltip_cloce"></span>
</div>
<!-- 引入头部 -->
<include file="Common:head_in" />
<!-- 中间内容部分 -->
<div class="main">
    <div class="contain clearfix">
        <!-- 面包屑导航 -->
        <div class="breadcrumb">
            <ul>
                <li><a href="<?php echo getHomeUrl(); ?>">首页</a></li>
                <li>></li>
                <li><a href="{:U('/personal')}">用户中心</a></li>
                <li>></li>
                <li>修改密码</li>
            </ul>
        </div><!-- breadcrumb面包屑导航结束 -->
        <!-- 用户中心左侧导航 -->
        <div class="user_nav">
            <h1><i></i>用户中心</h1>
            <ul>
                <li><a href="myorder.html">我的订单</a></li>
                <!-- <li><a href="cashback.html">领取返现</a></li> -->
                <li><a href="personal.html">个人资料</a></li>
                <li><a href="collect.html">我的关注</a></li>
                <li><a class="user_led" href="changepassword.html">修改密码</a></li>
            </ul>
        </div><!-- user_nav用户中心左侧导航结束 -->
        <!-- 用户中心右侧 -->
        <div class="user_right">
            <h1>修改密码</h1>
            <!-- 修改密码 -->
            <div class="change">
                <form name='myform' id='myform' method='post' action="">
                    <ul>
                        <li>
                            <p>原始密码<span class="cha_hint">*</span><font>（请输入原始密码）</font></p>
                            <input class="cha_tex" id="oldpassword" type="password" name='oldpassword'/>
                            <span id='oldpasswordError' class="pers_validate" style='display: none'><i></i>原始密码不能为空</span>
                        </li>
                        <li>
                            <p>新密码<span class="cha_hint">*</span></p>
                            <input class="cha_tex" type="password" name='newpassword' />
                            <span id='newpasswordError' class="pers_validate" style="display: none"><i></i>新密码不能为空</span>
                        </li>
                        <li>
                            <p>请确认<span class="cha_hint">*</span></p>
                            <input class="cha_tex" type="password" name='newpassword2' />
                            <span  id='newpassword2Error' class="pers_validate" style='display: none'><i></i>请再次输入密码</span>
                        </li>
                        <li>
                            <p>验证码<span class="cha_hint">*</span></p>
                            <input class="cha_tex" type="text" name='code'/>
                            <img class="cha_yzm  codeimg" src="{:U('Verifycode/verify_code',array())}" title="点击刷新"/>
                            <span  id='codeError' class="pers_validate" style='display: none'><i></i>请输入验证码</span>
                        </li>
                        <li ><input class="cha_save" type="button" value="保存"></li>
                    </ul>
                </form>
            </div><!-- change修改密码结束 -->
        </div><!-- user_right用户中心右侧结束 -->
    </div><!-- contain -->
</div><!-- main中间内容部分结束 -->
<include file="Common:footer" />
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/changepassword.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/common.js"></script>
</body>
</html>