<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <meta charset="UTF-8">
    <title>{$storeInfo.store_name}_墓型_{$Think.config.SITE_NAME}</title>
    <meta name="keywords" content="{$storeInfo.store_name}_墓型展示，墓型汇总" />
    <meta name="description" content="{$storeInfo.store_name}_墓型展示，墓型汇总" />
    <link href="{$Think.const.CSS_URL}screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
</head>
<body>
<include file="Common:head_in" />
<!-- 中间内容部分 -->
<div class="main">
    <div class="contain">
        <!-- 面包屑导航 -->
        <div class="breadcrumb">
            <ul>
                <li><a href="<?php echo getHomeUrl(); ?>">首页</a></li>
                <li>></li>
                <li><a href="<?php echo getBreadUrl($storeInfo['province_id']) ?>">陵园</a></li>
                <li>></li>
                <li><a href="{:U('cemetery/detail/'.$storeInfo['store_id'])}">{$storeInfo.store_name}</a></li>
                <li>></li>
                <li>墓型列表</li>
            </ul>
        </div><!-- breadcrumb面包屑导航结束 -->
        <!-- 墓型列表 -->
        <div class="tomb_list">
            <ul class="det_tombtype clearfix">
                <!-- 墓型内容 -->
                <volist name='tombList' id='vo' key='k'>
                <li <if condition='$k%4==0'>class="det_tomb last"<else />class="det_tomb"</if>>
                    <!-- 墓型图片 -->
                    <empty name="vo.Img">
                    <img src="{$Think.const.IMG_URL}det_tombtype_img1.jpg" alt="{$vo.goods_name}"/>
                    <else />
                    <img src="{$vo.Img.image_url}" alt="{$vo.goods_name}"/>
                    </empty>
                    <!-- 墓型描述 -->
                    <div class="det_depict">
                        <h2>{$vo.goods_name}</h2>
			<!--<h4>价格：￥<notempty name="vo.Area.price">{$vo.Area.price}<else/>--</notempty></h4>-->
                        <ul class="clearfix">
                            <li>
                                <h3>外观大小</h3>
                                <p><notempty name="vo.WAIGUAN">{$vo.WAIGUAN.attr_value}<else/>整理中</notempty></p>
                            </li>
                            <li class="last">
                                <h3>材质</h3>
                                <p><notempty name="vo.Material">{$vo.Material.attr_value}<else/>大理石</notempty></p>
                            </li>
                        </ul>
                        <neq name="storeInfo[status]" value="2">
                            <!-- 预约看墓按钮 -->
                            <a class="det_looktomb" href="{:U('order/'.$vo['store_id'])}">免费预约看墓</a>
                        </neq>
                    </div><!-- det_depict墓型描述结束 -->
                </li>
                </volist>
            </ul><!-- det_tombtype end -->			
        </div><!-- tomb_list墓型列表结束 -->
        <!-- 分页 -->
        <div style="text-align: center" class="pagination"> 
            {$pageshow}
        </div><!-- pagination分页结束 -->
    </div><!-- contain -->
</div><!-- main中间内容部分结束 -->
<include file="Common:footer" />
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
</body>
</html>