<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="icon" href="/Public/soumu.ico" type="image/x-icon" />
    <title>联系91搜墓网_{$Think.config.SITE_NAME}</title>
    <meta name="keywords" content="联系91搜墓网" />
    <meta name="description" content="联系91搜墓网" />
    <link href="{$Think.const.CSS_URL}screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--引入头部 -->
<include file="Common:head_in" />

<!-- 底部页面banner -->
<div class="aboutus_banner">
    <img src="{$Think.const.IMG_URL}aboutus_banner.jpg" alt="联系91搜墓网"/>
</div><!-- 底部页面banner结束 -->
<!-- 底部页面内容导航 -->
<div class="help_nav">
    <div class="innerhelp_nav">
        <ul>
            <li class="help_nav_led"><a href="{:U('/intro/aboutus')}">91搜墓网</a></li>
            <li><a href="{:U('/help/guide/gmlc')}">购墓指南</a></li>
            <li><a href="{:U('/help/security/wzys')}">订单保障</a></li>
            <li><a href="{:U('/help/issue/xmjq')}">常见问题 </a></li>
            <li><a href="{:U('/help/common/bzjr')}">殡葬文化</a></li>
            <li class="last"><a href="{:U('/intro/joinus')}">加盟合作</a></li>
        </ul>
    </div>
</div><!-- help_nav底部页面内容导航结束 -->
<!-- 中间内容部分 -->
<div class="main">
    <div class="contain clearfix">
        <!-- 底部页面左侧导航 -->
        <div class="help_leftnav">
            <img src="{$Think.const.IMG_URL}footer_leftnav_logo.png" alt="关于91搜墓网"/>
            <h1>关于91搜墓网</h1>
            <p>ABOUT 91 SOUMU</p>
            <ul>
                <li><a href="aboutus.html">关于我们</a></li>
                <li class="help_leftnav_led"><a href="contactus.html">联系我们</a></li>
            </ul>
        </div><!-- help_leftnav底部页面左侧导航结束 -->
        <!-- 底部页面右侧 -->
        <div class="help_right">
            <h1>联系我们  <span>Contact Us</span></h1>
            <!-- 联系我们内容 -->
            <div class="contactus clearfix">
                <!-- 地图图片 -->
                <img class="map_img" src="{$Think.const.IMG_URL}contactus_mapimg.jpg" alt="公司位置地图"/>
                <!-- 右侧公司地址电话 -->
                <div class="contact_right">
                    <ul>
                        <li class="clearfix">
                            <h2><i class="add_sh"></i>北京总部</h2>
                            <div class="contact_add">
                                <p>咨询时间：9:00-18:00</p>
                                <p>咨询热线：400-8010-344</p>
                                <p>电话预约：400-8010-344</p>
                                <!--<p>公司地址：上海市徐汇区中山西路2025号永升大厦10楼1018室</p>-->
								<p>公司地址：北京市海淀区中关村东路18号财智国际大厦C座1907室</p>
                            </div>
                        </li>
                         <!--<li class="clearfix">
                            <h2><i class="add_bj"></i>北京分部</h2>
                            <div class="contact_add">
                                <p>咨询时间：周一至周五</p>
                                <p class="p2">（9:00-18:00）</p>
                                <p>咨询热线：400-8010-344</p>
                                <p>电话预约：400-8010-344</p>
                                <p>公司地址：上海市徐汇区中山西路2025号永升大厦10楼1018室</p>
                            </div>
                        </li> -->
                        <li class="clearfix">
                            <h2><i class="add_hz"></i>陵园合作</h2>
                            <div class="contact_add">
                                <p>咨询热线：400-8010-344</p>
                                <p>公司邮箱：hgy@huigeyuan.com</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <h2><i class="add_scb"></i>市场部</h2>
                            <div class="contact_add">
                                <p>咨询热线：400-8010-344</p>
                                <p>公司邮箱：hgy@huigeyuan.com</p>
                            </div>
                        </li>
						<li class="clearfix">
							<h2><i class="add_lrhz"></i>乐融合作</h2>
							<div class="contact_add">
								<p>咨询热线：400-8010-344</p>
								<p>公司邮箱：lr@91ler.com</p>
							</div>
						</li>
                    </ul>
                </div><!-- contact_right右侧公司地址电话结束 -->
                <div class="clear"></div>
            </div><!-- contactus联系我们内容结束 -->
        </div><!-- help_right底部页面右侧 -->
    </div><!-- contain -->
</div><!-- main中间内容部分结束 -->
<!--底部代码引入-->
<include file="Common:footer" />
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
</body>
</html>