<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <include file="Public::head"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
<!-- BEGIN HEADER -->
<include file="Public::top"/>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
    <!-- BEGIN SIDEBAR -->
    <include file="Public::left"/>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN THEME CUSTOMIZER-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:U('Index/index')}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="{:U('Index/index')}">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                        </li>
                        <li><a href="{:U('Financing/listFina')}">融资信息</a><span class="divider">&nbsp;</span></li>
                        <li><a href="{:U('Financing/listChatFina',array('fid'=>$info['fid'],'fname'=>$info['fname']))}">{$info['fname']}  洽谈列表</a><span class="divider">&nbsp;</span></li>
                        <li><a href="javascript:viod(0);">添加洽谈信息</a><span class="divider-last">&nbsp;</span></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div id="page" class="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN RECENT ORDERS PORTLET-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>添加洽谈信息</h4>
                            </div>
                            <div class="widget-body form">
                                <!-- BEGIN FORM-->
                                <form id="defaultForm" method="post"  autocomplete="off" action="{:U('Financing/saveChatFina')}" enctype="multipart/form-data">
                                    <div class="">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <label class="control-label"><span style="color:red">*</span>公司名称/个人:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="公司名称/个人" class="input-large" name="info[name]" data-rule='required' id='name'>
                                                            <span id="proname" style="color: red"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="control-label"><span style="color:red">*</span>状态:</label>
                                                </td>
                                                <td>
                                                    <select class="input-medium m-wrap" tabindex="1" name="info[status]" data-rule='required'>
                                                        <option value="">---请选择---</option>
                                                        <volist name='Think.config.CHAT_STATUS' id='vo'>
                                                        <option value="{$key}">{$vo}</option>
                                                        </volist> 
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label"><span style="color:red">*</span>联系人:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="联系人" class="input-large" name="info[contracts]" data-rule='required' id='contract'>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="control-label">资质:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="资质" class="input-large" name="info[qualification]">
                                                        </div>
                                                    </div>
                                                </td>  
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">联系人电话:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="联系人手机号" class="input-large" name="info[mobile]" id="mobiles">
                                                            <span id="style" style="color: red"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="control-label">固定电话:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="固定电话" class="input-large" name="info[tel]" id='tel'>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">预约时间:</label>
                                                </td>
                                                <td>
                                                    <div class="controls">
                                                        <input size="16" type="text" name="info[appointment]" value="{:date('Y-m-d H:i:s')}"  onClick="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss'})" class="Wdate input-medium">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="control-label">洽谈时间:</label>
                                                </td>
                                                <td>
                                                    <div class="controls">
                                                        <input size="16" type="text" name="info[chat_time]" value="{:date('Y-m-d')}"  onClick="WdatePicker({dateFmt: 'yyyy-MM-dd'})" class="Wdate input-medium">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">备注:</label>
                                                </td>
                                                <td  colspan="3">
                                                    <div class="controls">
                                                        <textarea class="span6 " rows="3"  name="info[remark]" style="margin-top: 0px; margin-bottom: 10px; height: 123px;"></textarea>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-actions">
                                        <input type='hidden' name='fname' value="{$info['fname']}">
                                        <input type='hidden' name='info[finance_id]' value="{$info['fid']}">
                                        <button type="submit" class="btn btn-success" id='sub'>提交</button>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END RECENT ORDERS PORTLET-->
                    </div>
                </div>

            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<include file="Public::footer"/>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
<script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="{$Think.const.JS_URL}My97DatePicker/WdatePicker.js"></script>

<js href="__PUBLIC__/Admin/kindeditor/kindeditor.js,__PUBLIC__/Admin/kindeditor/lang/zh_CN.js"/>

<script src="{$Think.const.JS_URL}jquery.validator.js"></script>
<script src="{$Think.const.JS_URL}scripts.js"></script>
<script src="{$Think.const.JS_URL}zh-CN.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="js/excanvas.js"></script>
<script src="js/respond.js"></script>
<![endif]-->

<script>
    var PHONE = false;
    var TEL   = false;
    //验证联系人手机号
    $('#mobiles').blur(function(){
        if($(this).val()){
            var mobile = $('#mobiles').val();
            var reg = /^(1[3|4|5|7|8]\d{9})$/;
            if(!reg.test(mobile)){
                $("#style").text("手机号不正确");
                PHONE = false;
            }else{
                $("#style").text("");
                PHONE = true;
            }
        }else{
            PHONE = false;
        }
    })

    //检测固话内是否有值
    $('#tel').blur(function(){
        if($(this).val()){
            TEL = true;
        }else{
            TEL = false;
        }
    })

    //表单验证
    $('#defaultForm').submit(function(){
        //脚本中触发元素的丧失焦点事件
        $('input').trigger('blur');
        
        if(!$('#name').val()){
            alert('请填写公司名称');
            return false;
        }

        if(!$('#contract').val()){
            alert('请填写联系人');
            return false;
        }
        if(!(PHONE || TEL)){
            alert('请填写联系人电话');
            return false;
        } 
         
    })
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>