<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <include file="Public::head"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
<!-- BEGIN HEADER -->
<include file="Public::top"/>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
    <!-- BEGIN SIDEBAR -->
    <include file="Public::left"/>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN THEME CUSTOMIZER-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$Think.config.ADMIN_HOME_URL}"><i class="icon-home"></i>91搜墓网后台</a> <span class="divider">&nbsp;</span>
                        </li>
                         <li><a href="{:U('Financing/listFina')}">融资信息</a><span class="divider">&nbsp;</span></li>
                        <li><a href="javascript:viod(0);">{$fname}  相册列表</a><span class="divider-last">&nbsp;</span></li>

                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div id="page" class="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN RECENT ORDERS PORTLET-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>项目相册列表</h4>
                                    <span class="tools">
                                        <a href="{:U('Financing/addImgFina', array('fid'=>$fid,'fname'=>$fname))}" class="icon-plus">添加项目相册</a>
                                    </span>
                            </div>

                            <div class="widget-body">
                                <table class="table table-striped table-bordered" id="sample_1">
                                    <thead>
                                    <tr>
                                        <th>
                                            <a href="javascript:;" id="all">全选</a>&nbsp;
                                            <a href="javascript:;" id="delAll">取消</a>&nbsp;
                                            <a href="javascript:;" id="antiAll">反选</a>&nbsp;
                                            <input type="button" id="batchDel" value="删除" style="cursor:pointer;" />
                                        </th>
                                        <th class="hidden-phone">图片标题</th>
                                        <th class="hidden-phone">图片类型</th>
                                        <th class="hidden-phone">图片跳转链接</th>
                                        <th class="hidden-phone">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="vo">
                                        <tr class="odd gradeX">
                                            <td align="center">
                                                <input name="ID_Dele" type="checkbox" id="check" value="{$vo.id}" url="{$vo.url}"/>&nbsp;
                                            <img src="{$vo.url}" style="width:40px;height:40px"/></td>
                                            <td>{$vo.title}</td>
                                            <td>
                                                <if condition="$vo.type eq 1">景观
                                                <elseif condition="$vo.type eq 2" />资质
                                                <elseif condition="$vo.type eq 0"/>合同
                                                </if>
                                            </td>
                                            <td>{$vo.pic_url}</td>
                                            <td id="w">
                                                <a href="{:U('Financing/editImgFina',array('id'=>$vo['id'],'fid'=>$vo['finance_id'],'fname'=>$fname,'p'=>$nowPage))}" class="btn btn-small btn-primary opCat">
                                                    <i class="icon-pencil icon-white"> </i> 编辑
                                                </a>
                                                <button type="button" class="btn btn-danger btn-small del" delid="{$vo.id}" url="{$vo.url}" class="del">
                                                    <i class="icon-remove  icon-white"> </i>删除
                                                </button>     
                                            </td>
                                        </tr>
                                    </volist>

                                    </tbody>
                                </table>
                                <div class="row-fluid">
                                    <div class="span12 center">
                                        <div class="pagination" id="sample_1_info" style="text-align: center">
                                            {$page}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END RECENT ORDERS PORTLET-->
                    </div>
                </div>

            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<include file="Public::footer"/>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
<script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>
<script src="{$Think.const.JS_URL}jquery.validator.js"></script>
<script src="{$Think.const.JS_URL}scripts.js"></script>

<script>
    
    //全选
    $('#all').click(function(){
        $("input[name='ID_Dele']").each(function(){
            $(this).attr('checked',true);
        }); 
    })
    //取消全选
    $("#delAll").click(function(){  
        $("input[name='ID_Dele']").each(function(){
            $(this).attr("checked",false);
        });  
    });
    //反选
    $("#antiAll").click(function(){
        $("input[name='ID_Dele']").each(function(){
            this.checked=!this.checked;              
        });
    })
    
    //批量删除
    $("#batchDel").click(function(){
         if(!window.confirm('确定要删除？')){
            event.preventDefault();
        }else{
            var str = '';
            var url = '';
            $("input[name='ID_Dele']:checked").each(function(){
                str += ($(this).val()+',');
                url += '.'+$(this).attr('url')+',';
            });
            str=str.substring(0,str.lastIndexOf(','));
            url=url.substring(0,url.lastIndexOf(','));
            if(str==''){
                alert('没有选择删除的图片');return;
            }
            $.ajax({
                url : '/system.php/Financing/delImgFina',
                type : 'POST',
                data : {'id':str,'url':url},
                async:false,
                dataType:'json',
                success : function(data) {
                    if(data.img == 1){
                        $("input[name='ID_Dele']").each(function(){
                            $(this).parents('tr').remove();
                        }); 
                        window.location.reload();//刷新当前页面.
                    }else{
                        alert('删除失败，请刷新重试！');        
                    }
                }
            });
        }
    });

    //删除
    $('.del').click(function(){
        var url = '.'+$(this).attr('url');
        var id = $(this).attr('delid');
        if(!window.confirm('确定要删除？')){
            return false;
        }else{
            $.ajax({
                url:'/system.php/Financing/delImgFina',
                type:'post',
                data:{'id':id,'url':url},
                async:false,
                dataType:'json',
                success : function(e){
                    if(e.img ==1){
                        $('.del').parents('tr').remove();
                        window.location.reload();//刷新当前页面.
                    }else{
                        alert('删除失败');
                    }
                }
            });
        }
    })
    
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>