<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <include file="Public::head"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
<!-- BEGIN HEADER -->
<include file="Public::top"/>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
    <!-- BEGIN SIDEBAR -->
    <include file="Public::left"/>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN THEME CUSTOMIZER-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="#">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                        </li>
                        <li><a href="{:U('cemeteryList',array('p'=>$p,'sname'=>$sname,'sprovince'=>$sprovince))}">陵园基础信息</a><span class="divider">&nbsp;</span></li>
                        <li><a href="javascript:void(0)">名人墓地列表</a><span class="divider-last">&nbsp;</span></li>

                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div id="page" class="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN RECENT ORDERS PORTLET-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>名人墓地列表</h4>
                                <php>
                                    if (showHandle('BaseStore/addCelebrity')) {
                                </php>
                                    <span class="tools">
                                        <a href="{:U('BaseStore/addCelebrity',array('sid'=>$storeId,'np'=>$p,'sname'=>$sname,'sprovince'=>$sprovince))}" class="icon-plus">添加名人墓地</a>
                                    </span>
                                <php>
                                    }
                                </php>
                            </div>
                            <div class="widget-body">
                                <table class="table table-striped table-bordered" id="sample_1">
                                    <thead>
                                    <tr>
                                        <th class="hidden-phone">编号</th>
                                        <th class="hidden-phone">逝者名字</th>
                                        <th class="hidden-phone">性别</th>
                                        <th class="hidden-phone">生卒</th>
                                        <th class="hidden-phone">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="vo">
                                        <tr class="odd gradeX">
                                            <td>{$vo.id}</td>
                                            <td>{$vo.name}</td>
                                            <td>
                                                <if condition="$vo['sex'] eq 1">
                                                男<else/>女
                                                </if>
                                            </td>
                                            <td>
                                                <if condition="$vo.born_in neq ''">{$vo.born_in}</if>---
                                                <if condition="$vo.died_in neq 0">{$vo.died_in}<else/>至今</if>
                                            </if>
                                         </td>
                                            <td>
                                                <php>
                                                    if (showHandle('BaseStore/editCelebrity')) {
                                                </php>
                                                    <a href="{:U('BaseStore/editCelebrity',array('sid'=>$vo['store_id'],'id'=>$vo['id'],'np'=>$p,'sname'=>$sname,'sprovince'=>$sprovince))}"class="btn btn-small btn-primary opCat">
                                                        <i class="icon-pencil icon-white"> </i> 编辑
                                                    </a>
                                                <php>
                                                    }
                                                    if (showHandle('BaseStore/delCelebrity')) {
                                                </php>
                                                    <if condition="$vo.status eq -1">
                                                        <button type="button" class="btn btn-success btn-small del" data-id="{$vo.id}" data-status="{$Think.config.NORMAL_STATUS}">
                                                         <i class="icon-ok  icon-white"> </i>启用
                                                    <else/>
                                                        <button type="button" class="btn btn-danger btn-small del" data-id="{$vo.id}" data-status="{$Think.config.DELETE_STATUS}">
                                                         <i class="icon-remove  icon-white"> </i>删除
                                                    </if>
                                                <php>
                                                    }
                                                </php>
                                                </button>
                                            </td>
                                        </tr>
                                    </volist>

                                    </tbody>
                                </table>
                                <div class="row-fluid">
                                    <div class="span12 center">
                                        <div class="pagination" id="sample_1_info" style="text-align: center">
                                            {$page}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END RECENT ORDERS PORTLET-->
                    </div>
                </div>

            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<include file="Public::footer"/>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
<script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>

<script src="{$Think.const.JS_URL}jquery.validator.js"></script>
<script src="{$Think.const.JS_URL}zh-CN.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="js/excanvas.js"></script>
<script src="js/respond.js"></script>
<![endif]-->


<!--地图封装接口 以及一些初始化的数据 -->
<script src="{$Think.const.JS_URL}scripts.js"></script>
<script>
    //删除开启名人墓地
    $('.del').click(function(){
        var id = $(this).attr('data-id');
        var status = $(this).attr('data-status');
        if(!window.confirm('确定要执行此操作吗？')){
            event.preventDefault();
        }else{
            $.ajax({
                url:'{:U("delCelebrity")}',
                type:'post',
                data:{'id':id,"status":status},
                async:false,
                success : function(data){
                    var result = eval("(" + data + ")");
                    if(result.flag==1){
                        alert(result.msg);
                        window.location.reload();//刷新当前页面.
                    }else{
                        alert(result.msg);
                    }
                }
            });
        }
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>