<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <include file="Public::head"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
<!-- BEGIN HEADER -->
<include file="Public::top"/>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
    <!-- BEGIN SIDEBAR -->
    <include file="Public::left"/>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN THEME CUSTOMIZER-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="{$Think.config.ADMIN_HOME_URL}">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                        </li>
                        <li><a href="{:U('BaseStore/funeralList', array('p'=>$nowPage,'sname'=>$getData['sname'],'sprovince'=>$getData['sprovince'],'scity'=>$getData['scity']))}">殡仪馆信息</a><span class="divider">&nbsp;</span></li>
                         <li><a href="javascript:void(0)" >{$storename}</a><span class="divider-last">&nbsp;</span></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div id="page" class="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN RECENT ORDERS PORTLET-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>编辑殡仪馆信息</h4>
                            </div>
                            <div class="widget-body form">
                                <!-- BEGIN FORM-->
                                <form id="defaultForm" method="post"  autocomplete="off" action="__SELF__" enctype="multipart/form-data">
                                    <div class="">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <label class="control-label"><span style="color:red">*</span>省份:</label>
                                                </td>
                                                <td>
                                                    <select class="input-small m-wrap" tabindex="1" name="info[province_id]" id="province">
                                                        <option value="0">--请选择--</option>
                                                        <volist name="province" id="pro">
                                                            <if condition="$pro[region_id] eq $store[province_id]">
                                                                <option value="{$pro.region_id}"  selected="selected">{$pro.region_name}</option>
                                                            <else/>
                                                                <option value="{$pro.region_id}">{$pro.region_name}</option>
                                                            </if>
                                                        </volist>
                                                    </select>省
                                                    <select class="input-small m-wrap" tabindex="1" name="info[city_id]" id="city">
                                                        <option value="0">--请选择-- </option>
                                                        <volist name="cities" id="cityV">
                                                            <if condition="$cityV[region_id] eq $store[city_id]">
                                                                <option value="{$cityV.region_id}"  selected="selected">{$cityV.region_name}</option>
                                                                <else/>
                                                                <option value="{$cityV.region_id}">{$cityV.region_name}</option>
                                                            </if>
                                                        </volist>
                                                    </select>市/区
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label"><span style="color:red">*</span>殡仪馆名称:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="殡仪馆名称:" class="input-medium" name="info[store_name]" value="{$store.store_name}" data-rule='required' >
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="hide">
                                                <td>
                                                    <label class="control-label">商家类型:</label>
                                                </td>
                                                <td>
                                                    <input id='category_id' name='info[category_id]' value='{$Think.config.CATEGORY_FUNERAL_ID}' />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">殡仪馆图片:</label>
                                                </td>
                                                <td>
                                                    <div class="controls">
                                                        <notempty name="store[store_logo]">  
                                                            <img width="235px" height="135px" src="{$store.store_logo}" alt="{$store.store_name}">
                                                        <else/>
                                                            <img width="235px" height="135px" src="{$store.store_banner}" alt="{$store.store_name}">
                                                        </notempty>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label"><span style="color:red">*</span>更改殡仪馆图片:</label>
                                                </td>
                                                <td>
                                                    <div class="controls">
                                                        用于列表展示：<input type="file" class="default" name="store_banner"/>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">殡仪馆等级:</label>
                                                </td>
                                                <td>
                                                    <select class="input-small m-wrap" tabindex="1" name="info[level]">
                                                        <option value="0">请选择</option>
                                                         <volist name="funerallevels" id="vo">
                                                         <option value="{$key}" <eq name="key" value="$store.level">selected</eq>>{$vo}</option>
                                                         </volist>
                                                    </select>
                                                    等级越低所对应的殡仪馆等级越高
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">地址:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="地址" class="input-xxlarge" name="info[address]" value="{$store.address}">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">殡仪馆seo标题:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="用于SEO的title" class="input-xxlarge" name="info[seo_title]" value="{$store.seo_title}">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">殡仪馆seo关键字:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="用于SEO的keywords" class="input-xxlarge" name="info[seo_keywords]" value="{$store.seo_keywords}">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">殡仪馆seo描述:</label>
                                                </td>
                                                <td>
                                                    <div class="controls">
                                                        <textarea class="span6" placeholder="用于SEO的description" rows="3"  name="info[seo_description]" style="width:544px;" >{$store.seo_description}</textarea>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label"><span style="color:red">*</span>简介:</label>
                                                </td>
                                                <td>
                                                    <div>
                                                        <textarea name="info[content]" class="input" id="content" style="width:800px;height:400px;" data-rule='required'>{$store.content}</textarea>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">备注:</label>
                                                </td>
                                                <td>
                                                    <div class="controls">
                                                        <textarea class="span6" style="width:800px;" rows="3"  name="info[remarks]" >{$store.remarks}</textarea>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">评论:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            环境：<input type="text" placeholder="" class="input-mini" name="info[review_ambient]" value="{$store.review_ambient}">
                                                            价格：<input type="text" placeholder="" class="input-mini" name="info[review_price]" value="{$store.review_price}">
                                                            交通：<input type="text" placeholder="" class="input-mini" name="info[review_traffic]" value="{$store.review_traffic}">
                                                            服务：<input type="text" placeholder="" class="input-mini" name="info[review_service]" value="{$store.review_service}">
                                                            <span style="color:red;">(评论级别为1-5)</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">经纬度:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            经度：<input type="text" placeholder="经度" class="input-large" name="info[longitude]" value="{$store.longitude}" />
                                                            纬度：<input type="text" placeholder="纬度" class="input-large" name="info[latitude]" value="{$store.latitude}" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">车接送:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <textarea class="span6 " rows="3"  name="info[pick_up_address]" style="margin-top: 0px; margin-bottom: 10px; height: 123px;" >{$store.pick_up_address}</textarea>
                                                            *填写的车接送时候写完整的地址为一行
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">距离市区的距离:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="" class="input-large" name="info[distance]" value="{$store.distance}">公里
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="radio">殡仪馆状态:</label>
                                                </td>
                                                <td>
                                                    <div class="controls">
                                                        <input type="radio" name="info[status]" value="1" <if condition="$store.status eq 1">checked="checked"</if>>
                                                        开启
                                                        <input type="radio" name="info[status]" value="-1" <if condition="$store.status eq -1">checked="checked"</if>>
                                                        关闭
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">排序:</label>
                                                </td>
                                                <td>
                                                    <div class="control-group">
                                                        <div class="controls">
                                                            <input type="text" placeholder="" class="input-large" name="info[sort]" value="{$store.sort}">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success">提交</button>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END RECENT ORDERS PORTLET-->
                    </div>
                </div>

            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<include file="Public::footer"/>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
<script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="{$Think.const.JS_URL}My97DatePicker/WdatePicker.js"></script>

<js href="__PUBLIC__/Admin/kindeditor/kindeditor.js,__PUBLIC__/Admin/kindeditor/lang/zh_CN.js"/>

<script src="{$Think.const.JS_URL}jquery.validator.js"></script>
<script src="{$Think.const.JS_URL}zh-CN.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="js/excanvas.js"></script>
<script src="js/respond.js"></script>
<![endif]-->



<!--地图封装接口 以及一些初始化的数据 -->
<script src="{$Think.const.JS_URL}scripts.js"></script>
<script>
    $(function() {
        $("#province").change(function() {
            var provinceId = $('#province').val();
            getLevel2City('#city', provinceId);
        });

        /**
         * 获取二级地区列表
         * @param {type} province_id
         * @returns {undefined}
         */
        function getLevel2City(selectId, provinceId) {
            $.post('/system.php/BusinessStore/getCityList',
                    {province_id: provinceId},
                    function(data) {
                        if (data.length > 0) {
                            var str = "<option value='0'>--请选择--</option>";
                            for (var i = 0; i < data.length; i++) {
                                str += "<option value='" + data[i]['region_id'] + "'>" + data[i]['region_name'] + "</option>";
                            }
                            $(selectId).empty().append(str);
                        }
                    }, 'json');
        }

        var content;
        KindEditor.ready(function(K) {
            content = K.create('#content');
        });
    });

</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>