<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <include file="Public::head"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
<!-- BEGIN HEADER -->
<include file="Public::top"/>
<!-- END HEADER -->


<!--模态化弹框添加商家相册-->
<div id="updateContact" class="modal hide fade in" style="display: none; ">
    <form  id="data-form" method="post" class="form-horizontal" autocomplete="off" enctype="multipart/form-data" >
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>添加/编辑{$tips}图片</h3>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <td>
                        设置封面:
                    </td>
                    <td>
                        <input type="radio" name="info[set_photo_album_status]" value='1'checked>是
                        <input type="radio" name="info[set_photo_album_status]" value='0'>否
                    </td>
                </tr>
                <tr>
                    <td>
                        相册类型:
                    </td>
                    <td>
                        <input type="radio" name="info[album_id]" value="{$Think.config.STORE_IMG_GATEHOUSE}" checked>
                        门楼
                        <input type="radio" name="info[album_id]" value="{$Think.config.STORE_IMG_SCENERY}">
                        景观
                        <input type="radio" name="info[album_id]" value="{$Think.config.STORE_IMG_QUALIFICATION}">
                        资质
                    </td>
                </tr>
                <tr>
                    <td>
                        名　称:
                    </td>
                    <td>
                        <input type="text" name="info[title]" placeholder="名称" class="input-xlarge" value="" id="data-title" />
                        <div class="data-error" style="display:none;color:red">名称不能为空</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        链接地址:
                    </td>
                    <td>
                        <input type="text" name="info[image_link]" class="input-xlarge" placeholder="http://" value="http://" />
                    </td>
                </tr>
                <tr data-name="trTag" class="hide">
                    <td>
                        图片
                    </td>
                    <td>
                        <img name="imageUrl" src="" alt=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        上传图片:
                    </td>
                    <td>
                        <div>
                            <a href='javascript:void(0)' class="hide" data-name="add_plus" onclick='addli(this)'>[+]</a><input type="file" class="default" data-id="img_url">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        是否可用:
                    </td>
                    <td>
                        <input type="radio" name="info[state]" value='1' checked >是
                        <input type="radio" name="info[state]" value='-1'>否
                    </td>
                </tr>
                <tr>
                    <td>
                        排　序:
                    </td>
                    <td>
                        <input type="text" name="info[sort]" class="input-xlarge" value="0" />
                    </td>
                </tr>
                <input type="hidden" name="id" value="">
                <input type="hidden" name="info[store_id]" value="{$storeId}"/>
                <input type="hidden" name="np" value="{$nowPage}"/>
                <input type="hidden" name="sname" value="{$sname}"/>
                <input type="hidden" name="sprovince" value="{$sprovince}"/>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-success">提交</button>
            <a href="#" class="btn" data-dismiss="modal">关闭</a>
        </div>
    </form>
</div>
<!--模态框结束添加商家相册-->


<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
    <!-- BEGIN SIDEBAR -->
    <include file="Public::left"/>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN THEME CUSTOMIZER-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$Think.config.ADMIN_HOME_URL}"><i class="icon-home"></i>91搜墓网后台</a> <span class="divider">&nbsp;</span>
                        </li>
                         <li><a href="{:U('BaseStore/'.$listFunc,array('p'=>$nowPage,'sname'=>$sname,'sprovince'=>$sprovince))}">{$tips}基础信息</a><span class="divider">&nbsp;</span></li>
                        <li><a href="javascript:viod(0);">{$storename}     相册列表</a><span class="divider-last">&nbsp;</span></li>

                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div id="page" class="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN RECENT ORDERS PORTLET-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>{$tips}相册列表</h4>
                                <span class="tools">
                                    <a href="javascript:;" class="icon-plus">添加相册</a>
                                </span>
                            </div>

                            <div class="widget-body">
                                <table class="table table-striped table-bordered" id="sample_1">
                                    <thead>
                                    <tr>
                                        <th>
                                            <a href="javascript:;" id="all">全选</a>&nbsp;
                                            <a href="javascript:;" id="delAll">取消</a>&nbsp;
                                            <a href="javascript:;" id="antiAll">反选</a>&nbsp;
                                            <input type="button" id="batchDel" value="删除" style="cursor:pointer;" class="del"/>
                                        </th>
                                        <th class="hidden-phone">图片名称</th>
                                        <th class="hidden-phone">设置封面</th>
                                        <th class="hidden-phone">图片类型</th>
                                        <th class="hidden-phone">图片URL</th>
                                        <th class="hidden-phone">是否显示</th>
                                        <th class="hidden-phone">排序</th>
                                        <th class="hidden-phone">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="vo">
                                        <tr class="odd gradeX">
                                            <td align="center">
                                                <neq name="vo[state]" value="-1">
                                                    <input name="ID_Dele" type="checkbox" id="check" value="{$vo.id}"/>&nbsp;
                                                <else/>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                </neq>
                                                <img src="{$vo.thumb_image_url}" style="width:50px;" />
                                                <img width="23px" title="放大" src="/Public/Admin/Img/zoomIn.png" class="zoomIn"   data-image="{$vo.image_url}">
                                            </td>
                                            <td>{$vo.title}</td>
                                            <td><if condition="$vo.set_photo_album_status eq 1">是<else/>否</if></td>
                                            <td>
                                                <if condition="$Think.config.STORE_IMG_GATEHOUSE eq $vo[album_id]">门楼
                                                    <elseif condition="$Think.config.STORE_IMG_SCENERY eq $vo[album_id] " />景观
                                                    <elseif condition="$Think.config.STORE_IMG_QUALIFICATION eq $vo[album_id]" />资质
                                                </if>
                                            </td>
                                            <td>{$vo.image_link}</td>
                                            <td><if condition="$vo.state eq 1">是<else/><span style="color:red">已删除</span></if></td>
                                            <td>{$vo.sort}</td>
                                            <td id="w">
                                                <a href="javascript:;" data-id="{$vo['id']}" data-sid="{$vo['store_id']}" data-np="{$p}" data-sname="{$sname}" data-sprovince="{$sprovince}" class="btn btn-small btn-primary opCat data-pic">
                                                    <i class="icon-pencil icon-white"> </i> 编辑
                                                </a>
                                                <if condition="$vo['state'] eq 1">
                                                    <button type="button" class="btn btn-danger btn-small del" onclick="deleteImage({$vo.id})">
                                                        <i class="icon-remove  icon-white"> </i>禁用
                                                    </button>
                                                <else/>
                                                    <a href="javascript:void(0)" class="btn btn-success btn-small enable" data-id="{$vo.id}">
                                                        <i class="icon-ok  icon-white"> </i>启用
                                                    </a>
                                                </if>
                                            </td>
                                        </tr>
                                    </volist>

                                    </tbody>
                                </table>
                                <div class="row-fluid">
                                    <div class="span12 center">
                                        <div class="pagination" id="sample_1_info" style="text-align: center">
                                            {$page}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END RECENT ORDERS PORTLET-->
                    </div>
                </div>

            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<!--放大图片信息开始-->
<div id="zoomIn" class="modal hide fade in">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>放大图片</h3>
    </div>
    <div class="modal-body">
        <img id="zoomInImage" src=""/>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
    </div>
</div>
<!--放大图片信息结束-->


<!-- BEGIN FOOTER -->
<include file="Public::footer"/>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
<script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>

<script src="{$Think.const.JS_URL}jquery.validator.js"></script>
<script src="{$Think.const.JS_URL}zh-CN.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="js/excanvas.js"></script>
<script src="js/respond.js"></script>
<![endif]-->



<!--地图封装接口 以及一些初始化的数据 -->
<script src="{$Think.const.JS_URL}scripts.js"></script>
<script>
    //添加图片摸态框
     $('.icon-plus').click(function(){
        $('#data-form')[0].reset();
        $('input[data-id="img_url"]').attr('name','img_url[]');
        $('a[data-name="add_plus"]').show();
        $('tr[data-name="trTag"]').hide();
        $('#updateContact').modal(); 
    });

    //表单提交事件
    $('#data-form').bind('valid.form',function(){
        var dataFrom = new FormData(document.getElementById("data-form"));
        $.ajax({
            url:"{:U('saveAlbum')}",
            type:'POST',
            data:dataFrom,
            processData: false,
            contentType: false,
            dataType:'json',
            success:function(d){
                if(d.flag == 1) {
                    $('#data-form').modal('hide');
                    alert(d.msg);
                    window.location.reload();
                }else{
                    alert(d.msg);
                }
            }
        });
    });

    //修改相册信息
    $('.data-pic').click(function(){
        $('#data-form')[0].reset();
        $('tr[data-name="trTag"]').show();
        $('a[data-name="add_plus"]').hide();
        $('input[data-id="img_url"]').attr('name','img_url');
        var id = $(this).attr('data-id');
        $.ajax({
            url:'/system.php/BaseStore/editImage',
            type:'get',
            data:{id:id},
            dataType:'json',
            success:function(d){
                var data = d.data;
                if(d.flag==1){
                    $('input').removeAttr('checked');
                    $('img[name="imageUrl"]').attr({'src':data.thumb_image_url,'alt':data.title});
                    $("input[name='info[set_photo_album_status]'][value="+data.set_photo_album_status+"]").attr('checked',true);
                    $("input[name='info[album_id]'][value="+data.album_id+"]").attr('checked',true);
                    $("input[name='info[title]']").val(data.title);
                    $("input[name='info[image_link]']").val(data.image_link);
                    $("input[name='info[state]'][value="+data.state+"]").attr('checked',true);
                    $("input[name='info[sort]']").val(data.sort);
                    $("input[name='id']").val(data.id);
                    $('#updateContact').modal();
                }
            }
        })
    });

    //全选
    $('#all').click(function(){
        $("input[name='ID_Dele']").each(function(){
            $(this).attr('checked',true);
        }); 
    })
    //取消全选
    $("#delAll").click(function(){  
        $("input[name='ID_Dele']").each(function(){
            $(this).attr("checked",false);
        });  
    });
    //反选
    $("#antiAll").click(function(){
        $("input[name='ID_Dele']").each(function(){
            this.checked=!this.checked;              
        });
    })
    
    $("#batchDel").click(function(){
         if(!window.confirm('确定要删除？')){
            event.preventDefault();
        }else{
            var str = '';
            $("input[name='ID_Dele']:checked").each(function(){
                str += ($(this).val()+',');
            });
            str=str.substring(0,str.lastIndexOf(','));
            if(str==''){
                alert('没有选择删除的图片');return;
            }
            deleteImage(str);
        }
    });

    function deleteImage(id){
        if(!window.confirm('确定要删除？')){
            return false;
        }else{
            $.ajax({
                url:'/system.php/BaseStore/delImage',
                type:'post',
                data:{'id':id},
                success : function(e){
                    if(e ==1){
                        window.location.reload();//刷新当前页面.
                    }else{
                        alert('删除失败');
                    }
                }
            });
        }
    }
    //启用
    $('.enable').click(function(){
        var id = $(this).attr('data-id');
        $.ajax({
            url: "{:U('enableAlbum')}",
            type: 'post',
            data: 'id='+id,
            success: function (d) {
                var result = eval("(" + d + ")");
                if (result.flag == 1) {
                    alert(result.msg);
                    window.location.reload();
                } else {
                    alert(result.msg);
                }
            }
        });
    });

    function addli(a){
        var li = $(a).parent();
        if($(a).html()=="[+]"){
            var newli = li.clone();
            $(newli).find('a').html("[-]");
            $(newli).find('input').val("");
            li.after(newli);
        }else{
            li.remove();
        }
    }

    //放大图片
    $('.zoomIn').click(function(){
        var src = $(this).attr('data-image');
        $('#zoomInImage').attr('src',src);
        $('#zoomIn').modal();
    });

</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>