<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
           <include file="Public::head" />
            <link rel="stylesheet" type="text/css" href="{$Think.const.ASSETS_URL}chosen-bootstrap/chosen/chosen.css" />
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="fixed-top">
        <!-- BEGIN HEADER -->
    <include file="Public::top"/>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <include file="Public::left"/>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN THEME CUSTOMIZER-->
                        <div id="theme-change" class="hidden-phone">
                            <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                        </div>
                        <!-- END THEME CUSTOMIZER-->
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <ul class="breadcrumb">
                            <li>
                                <a href="{:U('Index/index')}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                            </li>
                            <li>
                                <a href="{:U('Index/index')}">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                            </li>
                            <li><a href="javascript:void(0)">完成的订单列表</a><span class="divider-last">&nbsp;</span></li>

                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div id="page" class="dashboard">
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN RECENT ORDERS PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-reorder"></i>完成的订单列表</h4>
                                </div>
                                <div class="widget-body">
                                    <form id="quickForm" method="get" class="form-horizontal" autocomplete="off" action='{:U("finish")}'>
                                    <table>
                                        <tr>
                                            <td>搜索：</td>
                                            <td>
                                                <select name='store_id' class='chosen' tabindex="100" data-placeholder="选择商家">
                                                    <option value=""></option><option value="">所有商家</option>
                                                    <volist name='store_name' id='vo'>
                                                        <option value='{$key}' <eq name="key" value="$Think.get.store_id">selected</eq>>{$vo}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" name="mobile" class="input-medium" placeholder="预约人手机号" value="{$Think.get.mobile}"/>
                                              
                                                <button class="btn btn-primary">确定</button>
                                            </td>
                                        </tr>
                                    </table>
                                    </form>
                                    <table class="table table-striped table-bordered" id="sample_1">
                                        <thead>
                                            <tr>
                                                <th width="10%" class="hidden-phone">手机号</th>
                                                <th width="8%" class="hidden-phone">姓名</th>
                                                <th width="8%" class="hidden-phone">预约时间</th>
                                                <th width="13%" class="hidden-phone">商家名称</th>
                                                <th width="8%" class="hidden-phone">下单时间</th>
                                                <th width="8%" class="hidden-phone">佣金实收金额</th>
                                                <th width="8%" class="hidden-phone">返现金额</th>
                                                <th width="8%" class="hidden-phone">完成时间</th>
                                                <th width="12%" class="hidden-phone">跟踪信息</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="list" id="vo">
                                            <tr class="odd gradeX">
                                                <td>{$vo.mobile}</td>
                                                <td>{$vo.buyer}</td>
                                                <td>{$vo.appoint_time|date='Y-m-d',###}</td>
                                                <td>{$vo.store_name}
                                                <eq name="vo.store_status" value="14">
                                                    <img width="28px" src="{$Think.const.IMG_URL}guang.png" title="广告会员">
                                                </eq>
                                                <eq name="vo.store_status" value="16">
                                                    <img width="28px" src="{$Think.const.IMG_URL}ge.png" title="个人会员">
                                                </eq>
                                                <eq name="vo.store_status" value="19">
                                                    <img width="28px" src="{$Think.const.IMG_URL}ge.png" title="个人会员">
                                                </eq>
                                                <eq name="vo.store_status" value="20">
                                                    <img width="28px" src="{$Think.const.IMG_URL}shang.png" title="商家会员">
                                                </eq>
                                                </td>
                                                <td>{$vo.created_time|date='Y-m-d',###}</td>
                                                <td>{$vo.paid_in_amount}</td>
                                                <td>{$vo.return_fact_money}</td>
                                                <td>{$vo.updated_time|date='Y-m-d',###}</td>
                                            <td>

                                                <if condition="$vo['brokerage_status'] eq C('BROKERAGE_STATUS.SUCCESS')">
                                                <php>
                                                    if (showHandle('OrderGrave/orderbillinfo')) {
                                                </php>
                                                 <a class="btn btn-small btn-success viewBill"  href="javascript:;" data-id="{$vo.id}" ><i class="icon-eye-open icon-white"> </i>查看票据</a>
                                                 <php>
                                                    }
                                                 </php>
                                                </if>
                                                 <php>
                                                    if (showHandle('OrderGrave/ordersfollow')) {
                                                    </php>
                                                    <a class="btn btn-small ordersfollow" href="javascript:void(0)"
                                                  data-orderId="{$vo.id}">查看信息</a>
                                                  <php>
                                                    }
                                                    </php>
                                            </td>
                                            
                                            </tr>
                                        </volist>

                                        </tbody>
                                    </table>
                                    <div class="row-fluid">
                                        <div class="span12 center">
                                            <div class="pagination" id="sample_1_info" style="text-align: center">
                                                {$page}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END RECENT ORDERS PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->

   <!--查看票据开始-->
    <div id="viewBill" class="modal hide fade in">
        <form id="viewBillForm" class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>查看票据信息</h3>
            </div>
            <div id="billTitle"  style="text-align:center;"></div>
            <div class="modal-body" id="viewBillBody">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </form>
    </div>
    <!--查看票据结束-->
    
    
      <!--添加跟踪信息结开始-->
    <div id="addorderfollowform" class="modal hide fade in">
        <form id="defaultForm" method="post" class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>添加跟踪信息</h3>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>沟通对象:</td>
                            <td><input name="type" value="1" checked="checked" type="radio"> 客户 
                                <input name="type" value="2" type="radio"> 商家
                            </td>
                        </tr>
                        <tr>
                            <td>沟通问题:</td>
                            <td>
                                <textarea rows="3" id='question'  name="question" class="input-xlarge" data-rule="required"></textarea>
                            </td>
                        </tr>
                     
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <input type='hidden' id='orderid' name='orderid'>
                <input type='hidden' id='member_id' name='member_id'>
                <input type='hidden' id='ordersn' name='ordersn'>
                <button type="submit" id='tijiao' class="btn btn-success">提交</button>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </form>
    </div>
    <!--添加跟踪信息结束-->


    <!--查看跟踪信息结开始-->
    <div id="orderfollowform" class="modal hide fade in" style="width:45%;">
        <form id="lookdefaultForm" method="post" class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>查看跟踪信息</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                     <thead>
                            <tr class="data-message">
                                 <th style=" width:20%;" >时间</th>
                                <th style=" width:10%;" class="hidden-phone">对象</th>
                                <th style=" width:70%;" class="hidden-phone">问题</th>
                            </tr>
                     </thead>
                </table>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </form>
    </div>
    <!--查看跟踪信息结束-->
    <!-- BEGIN FOOTER -->
    <include file="Public::footer"/>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
    <script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{$Think.const.ASSETS_URL}chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
    <script src="{$Think.const.JS_URL}jquery.validator.js"></script>
    <script src="{$Think.const.JS_URL}zh-CN.js"></script>
    <script language="javascript" type="text/javascript" src="{$Think.const.JS_URL}My97DatePicker/WdatePicker.js"></script>
    <script src="{$Think.const.JS_URL}scripts.js"></script>
    <script type="text/javascript">


        //点击添加跟踪信息按钮，弹出跟踪信息表单
        $('.addorderfollow').click(function () {
            var orderId = $(this).attr("data-orderId");
            var member_id = $(this).attr("data-memberId");
            $('#orderid').val(orderId);
            $('#member_id').val(member_id);
            $('#addorderfollowform').modal();
        });

        //提交跟踪信息form 表单
        $('#defaultForm').bind('valid.form', function () {
            $('#addorderfollowform').modal('hide');
            $.ajax({
                url: "{:U('addorderfollow')}",
                type: 'POST',
                data: $(this).serialize(),
                success: function (d) {
                    var result = eval("(" + d + ")");
                    if (result.flag == 1) {
                        alert('添加成功');
                    } else {
                        alert('添加失败');
                    }
                }
            });
        });


        //点击查看跟踪信息按钮，弹出查看跟踪信息表单
        $('.ordersfollow').click(function () {
            $('.afterData').remove();//清空以前数据
            var orderId = $(this).attr("data-orderId");
            $.ajax({
                url: "{:U('OrderGrave/ordersfollow')}",
                type: 'POST',
                data: 'orderId='+orderId,
                success: function (d) {
                    var result = eval("(" + d + ")");
                    var data = result.data;
                    //将得到的跟踪信息插入表格
                    if(result.flag==0){
                       str = "<tr></tr>";
                    }else if(result.flag==1){
                        var str = '';
                        var length = data.length;
                        for(var i=0; i<length; i++){
                            if(data[i].type == '1'){
                                str += "<tr class='afterData'><td>"+data[i].created_time+"</td><td>客户</td><td>"+data[i].question+"</td></tr>";
                            }else{
                                str += "<tr class='afterData'><td>"+data[i].created_time+"</td><td>商家</td><td>"+data[i].question+"</td></tr>";
                            }
                        }
                    }
                    $('.data-message').after(str);
                    $('#orderfollowform').modal();
                }
            });
        });


        //查看票据
        $('.viewBill').click(function(){
            var orderId = $(this).attr('data-id');
            $.ajax({
                url: "{:U('OrderGrave/orderbillinfo')}",
                type: 'POST',
                data: {'orderId':orderId},
                success:function(d){
                    var result = eval("(" + d + ")");
                    if(result.flag==1){
                        var str = '<center><h4>'+result.msg+'</h4></center>';
                        $('#viewBillBody').empty().append(str);
                        $('#billTitle').empty();
                        $('#viewBill').modal();
                    }else if(result.flag==2){
                        //票据类型
                        var typeStr = '';
                        var types = result.types;
                        for(var i in types){
                            typeStr += '<span class="btn btn-primary typesColor" onclick="dataType('+i+')" dataType = '+i+' >'+types[i]+'</span>&nbsp;&nbsp';
                        }
                        $('#billTitle').empty().append(typeStr);
                        //票据
                        var data = result.data;
                        var str = '<table class="table table-striped table-bordered"><tbody>'; 
                        var length = data.length;
                        for(var i=0;i<length;i++){
                            str += '<tr class="'+data[i].type+' allType"><td style="text-align:center;"><a href='+data[i].bill_image+' target="_blank"><img src='+data[i].bill_image+' width="300" /></a></td></tr>';
                        }
                        str += '</tbody></table>';
                        $('#viewBillBody').empty().append(str);
                        $('#viewBill').modal();
                    }else {
                        alert(result.msg);
                    }
                }
            });
        });
       //显示选择类型的票据
       function dataType(d){
           $('.typesColor').css('color','');
           $('.typesColor[dataType='+d+']').css('color','green');
           $('#viewBillBody .allType').css('display','none');
           $('.'+d).css('display','');
       }
    </script>
</body>
<!-- END BODY -->
</html>