<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <include file="Public::head"/>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="fixed-top">
        <!-- BEGIN HEADER -->
    <include file="Public::top"/>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <include file="Public::left"/>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN THEME CUSTOMIZER-->
                        <div id="theme-change" class="hidden-phone">
                            <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                        </div>
                        <!-- END THEME CUSTOMIZER-->
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        
                        <ul class="breadcrumb">
                            <li>
                                <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                            </li>
                            <li>
                                <a href="#">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                            </li>
                            <li><a href="#">殡仪馆数据分布</a><span class="divider-last">&nbsp;</span></li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div id="page" class="dashboard">
                    <div class="row-fluid">
                    <!--表格数据开始-->
                        <div class="span12">
                            <!-- BEGIN RECENT ORDERS PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-reorder"></i>各省殡仪馆数据分布</h4>
                                    <php>
                                        if (showHandle('Analysis/funeralStoreStat')) {
                                    </php>
                                        <a href="javascript:;"  class="updatafuneral"><h3 style="color:green;float:right;margin-right:20px;margin-top:0px;">更新数据</h3></a>
                                    <php>
                                        }
                                    </php>
                                </div>
                                <div class="widget-body">
                                <notempty name="datas">
                                    <php>
                                        if (showHandle('Analysis/exportExcel')) {
                                    </php>
                                        <a style="float:right;" href="{:U('exportExcel',array('categoryId'=>'38','bool'=>'false','name'=>'殡仪馆'))}">下载殡仪馆数据</a>
                                    <php>
                                        }
                                    </php>
                                </notempty>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>地区名称</th>
                                                <th>殡仪馆总数</th>
                                                <th>会员总数</th>
                                                <th>非会员总数</th>
                                                <th>关闭总数</th>
                                                <th>统计时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <php>$allTotal=0;$allMemberTotal=0;$allNoMemberTotal=0;$allClosedTotal=0;</php>
                                        <volist name="datas" id="vo">
                                            <tr class="odd gradeX">
                                                <td>
                                                    <span class="roll" data-region-id="{$vo.region_id}" style="color:green;">►</span>
                                                    {$vo.region_name}</td>
                                                <td>{$vo.total}</td>
                                                <td>{$vo.member_total}</td>
                                                <td>{$vo.no_member_total}</td>
                                                <td>{$vo.closed_total}</td>
                                                <td>{$vo.created_time}</td>
                                                <php>
                                                    $allTotal += $vo['total'];
                                                    $allMemberTotal += $vo['member_total'];
                                                    $allNoMemberTotal += $vo['no_member_total'];
                                                    $allClosedTotal += $vo['closed_total'];
                                                </php>
                                            </tr>
                                            <volist name="vo.child" id="vchild">
                                                <tr class="odd gradeX {$vchild.pid}"  style='display:none;'>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;|--{$vchild.region_name}</td>
                                                    <td>{$vchild.total}</td>
                                                    <td>{$vchild.member_total}</td>
                                                    <td>{$vchild.no_member_total}</td>
                                                    <td>{$vchild.closed_total}</td>
                                                    <td>{$vchild.created_time}</td>
                                                </tr>
                                            </volist>
                                        </volist>
                                            <tr class="odd gradeX" style="color:red">
                                                <td>全国</td>
                                                <td>{$allTotal}</td>
                                                <td>{$allMemberTotal}</td>
                                               <td>{$allNoMemberTotal}</td>
                                               <td>{$allClosedTotal}</td>
                                               <td>{$datas.0.created_time}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END RECENT ORDERS PORTLET-->
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    


    <!-- BEGIN FOOTER -->
    <include file="Public::footer"/>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
    <script src="{$Think.const.ASSETS_URL}jquery-slimscroll/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>
    <!-- ie8 fixes -->
    <!--[if lt IE 9]>
    <script src="js/excanvas.js"></script>
    <script src="js/respond.js"></script>
    <![endif]-->
    <script src="{$Think.const.JS_URL}scripts.js"></script>
    <script>
        //展开和收起
        $('.roll').click(function(){
            var region_id = $(this).attr('data-region-id');
            var display = $('.'+region_id).css('display');
            if(display == 'none'){
                $(this).html($(this).html().replace('►','▼'));
                $('.'+region_id).css('display','table-row');
            }else if(display == 'table-row'){
                $(this).html($(this).html().replace('▼','►'));
                $('.'+region_id).css('display','none');
            }
        });
        
        //更新数据
        $('.updatafuneral').click(function(){
            $.ajax({
                url:'{:U("funeralStoreStat")}',
                type: 'POST',
                success: function (d) {
                    var result = eval("(" + d + ")");
                    if(result.flag == 1){
                        alert(result.msg);
                        window.location.reload();
                    }else{
                        alert(result.msg);
                    }
                }
                
            });
        });
    </script>
</body>
<!-- END BODY -->
</html>