<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <include file="Public::head"/>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="fixed-top">
        <!-- BEGIN HEADER -->
    <include file="Public::top"/>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <include file="Public::left"/>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN THEME CUSTOMIZER-->
                        <div id="theme-change" class="hidden-phone">
                            <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                        </div>
                        <!-- END THEME CUSTOMIZER-->
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <ul class="breadcrumb">
                            <li>
                                <a href="{:U('Index/index')}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                            </li>
                            <li>
                                <a href="{:U('Index/index')}">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                            </li>
                            <li><a href="javascript：void(0)">个人信息</a><span class="divider-last">&nbsp;</span></li>
                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div id="page" class="dashboard">
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN RECENT ORDERS PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-reorder"></i>个人信息</h4>
                                     <php>
                                        if(showHandle('UserCenter/editPassword')){
                                    </php>
                                        <span class="tools">
                                            <a class="btn btn-success btn-small editpassword" href="javascript:void(0)" style="color:white;"><i class="icon-ok  icon-white"> </i>修改密码</a>
                                        </span>
                                    <php>
                                        }
                                    </php>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td>真实姓名：</td>
                                                <td>
                                                    <input type="text"  value="{$data.nickname}" disabled="disabled"/>   
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>登录帐号：</td>
                                                <td>
                                                    <input type="text"  value="{$data.email}" disabled="disabled"/> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>电子邮箱：</td>
                                                <td>
                                                    <input type="text"  value="{$data.email_address}" disabled="disabled"/> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END RECENT ORDERS PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->

    <!--更改密码开始-->
    <div id="password" class="modal hide fade in" style="width:500px;">
        <form id="passwordForm" method="post" class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>更改密码</h3>
            </div>
            <div class="modal-body" >
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>请输入原密码：</td>
                            <td>
                                <input  type="password" name="password" placeholder="原密码" data-rule="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>新密码：</td>
                            <td>
                                <input  type="password" name="newpassword" placeholder="新密码" data-rule="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>确认新密码：</td>
                            <td>
                                <input  type="password" name="renewpassword" placeholder="确认新密码" data-rule="required"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="hidden" name='action' value="post" /> 
                <button type="submit" class="btn btn-success">提交</button>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </form>
    </div>
    <!--更改密码结束-->
    
    <!-- BEGIN FOOTER -->
    <include file="Public::footer"/>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
    <script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>

    <script src="{$Think.const.JS_URL}jquery.validator.js"></script>
    <script src="{$Think.const.JS_URL}zh-CN.js"></script>
    <script src="{$Think.const.JS_URL}scripts.js"></script>
    <script>
        //点击修改密码，弹出修改密码表单
        $('.editpassword').click(function () {
            $('#password').modal();
        });
        $('#passwordForm input[name="password"]').blur(function(){
            var pwd = $(this).val().replace(/(^\s*)|(\s*$)/g,"");
            var action = 'get';
            $.ajax({
                url: "{:U('editPassword')}",
                type: 'post',
                data: {'pwd':pwd,'action':action},
                success: function (d) {
                    var result = eval("(" + d + ")");
                    if (result.flag == 0) {
                        alert('原密码错误！');
                    }else{
                        $('#passwordForm input[name="password"]').attr('data-pass','true');
                    } 
                }
            });
         });
        //提交密码表单
        $('#passwordForm').bind('valid.form', function () {
            if($('#passwordForm input[name="password"]').attr('data-pass')){
                var newpassword = $('#passwordForm input[name="newpassword"]').val().replace(/(^\s*)|(\s*$)/g,"");
                var renewpassword = $('#passwordForm input[name="renewpassword"]').val().replace(/(^\s*)|(\s*$)/g,"");
                if(newpassword == renewpassword){
                    $('#password').modal('hide');
                    $.ajax({
                        url: "{:U('editPassword')}",
                        type: 'post',
                        data: $(this).serialize(),
                        success: function (d) {
                            var result = eval("(" + d + ")");
                            if (result.flag == 1) {
                                alert(result.msg);
                                window.location.reload();//刷新当前页面.
                            } else {
                                alert(result.msg);
                            }
                        }
                    });
                }else{
                    alert('密码不一致！');
                }
            }else{
                alert('请输入正确的原密码！');
            }
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>