<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
		<include file="Public::head"/>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="fixed-top">
        <!-- BEGIN HEADER -->
    <include file="Public::top"/>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <include file="Public::left"/>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN THEME CUSTOMIZER-->
                        <div id="theme-change" class="hidden-phone">
                            <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                        </div>
                        <!-- END THEME CUSTOMIZER-->
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <ul class="breadcrumb">
                            <li>
                                <a href="{:U('Index/index')}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                            </li>
                            <li>
                                <a href="{:U('Index/index')}">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                            </li>
                            <li><a href="{:U('index')}">广告管理</a><span class="divider">&nbsp;</span></li>
                            <li><a href="javascript:void(0)">编辑</a><span class="divider-last">&nbsp;</span></li>

                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div id="page" class="dashboard">
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN RECENT ORDERS PORTLET-->
                            <div class="widget">
                                <div class="widget-body">
                                    <form id="editForm" method="post" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
                                        <div class="modal-header">
                                            <h3>修改广告</h3>
                                        </div>
                                        <div class="" >

                                            <table class="table table-bordered table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>广告位：<span style="color:red">*</span></td>
                                                        <td>
                                                            <select name='ad_position_id' id="ad_position_id">
                                                                <option value="">请选择</option>
                                                                <volist name='adpos' id='vo'>
                                                                    <option value="{$vo.id}" <eq name="adbanner.ad_position_id" value="$vo.id">selected</eq> data-width="{$vo.advertising_width}" data-height="{$vo.advertising_height}">{$vo.position_name}</option>
                                                                </volist>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>省份：<span style="color:red">*</span></td>
                                                        <td>
                                                            <select tabindex="1" name="province_id">
                                                            <option value="0">请选择省</option>
                                                            <volist name="provinces" id="vo">
                                                                <option <eq name="adbanner.province_id" value="$vo.region_id">selected</eq> value="{$vo.region_id}">{$vo.region_name}</option>
                                                            </volist>
                                                            </select> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>广告位类别：<span style="color:red">*</span></td>
                                                        <td>
                                                            <select tabindex="1" name="banner_type">
                                                                <option value="0">选择类别</option>
                                                                <option <eq name="adbanner.banner_type" value="$bannerType['PC']">selected</eq> value="{$Think.config.BANNER_TYPE.PC}">pc端</option>
                                                                <option <eq name="adbanner.banner_type" value="$bannerType['WAP']">selected</eq> value="{$Think.config.BANNER_TYPE.WAP}">手机端</option>
                                                            </select>
                                                        </td>                       
                                                    </tr>
                                                    <tr>
                                                        <td>名称：<span style="color:red">*</span></td>
                                                        <td><input class="input-xxlarge"  name="banner_name" type="text" data-rule="required" value="{$adbanner.banner_name}" >  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>图片：<span style="color:red">*</span></td>
                                                        <td>
                                                            <input class="default" name="image" type="file"><span id="size"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>链接地址：<span style="color:red">*</span></td>
                                                        <td><input class="input-xxlarge"  name="banner_link" type="text" data-rule="required" value="{$adbanner.banner_link}" >  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>在线时间：</td>
                                                        <td>
                                                            <input type="text" size="30" name="start_time" onClick="WdatePicker({dateFmt: 'yyyy-MM-dd'})" class="Wdate" <neq name="adbanner.start_time" value="0"> value="{$adbanner.start_time|date='Y-m-d',###}" </neq> />至
                                                            <input type="text" size="30" name="end_time" onClick="WdatePicker({dateFmt: 'yyyy-MM-dd'})"  class="Wdate" <neq name="adbanner.end_time" value="0"> value="{$adbanner.end_time|date='Y-m-d',###}"</neq> />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>状态：</td>
                                                        <td><input name="status" value="{$Think.config.NORMAL_STATUS}" type="radio" data-rule="checked" <eq name="adbanner.status" value="$Think.config.NORMAL_STATUS">checked</eq>> 正常 
                                                            <input name="status" value="{$Think.config.DELETE_STATUS}" type="radio" data-rule="checked" <eq name="adbanner.status" value="$Think.config.DELETE_STATUS">checked</eq>> 下线
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>图片分享：</td>
                                                        <td><input name="share" value="0" type="radio" data-rule="checked" <eq name="adbanner.share" value="0">checked</eq>> 不公用
                                                            <input name="share" value="{$Think.config.SHARE_STATUS}" type="radio" data-rule="checked" <eq name="adbanner.share" value="$Think.config.SHARE_STATUS">checked</eq>>  公用
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>排序：</td>
                                                        <td><input name="sort"  type="text" value="{$adbanner.sort}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan='2'>
                                                            <input name="banner_id"  type="hidden" value="{$adbanner.banner_id}">
                                                            <input type="hidden" name="p" value="{$Think.get.p}"/>
                                                            <input type="submit" class="btn submit" value="提交">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END RECENT ORDERS PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->


    

    <!-- BEGIN FOOTER -->
    <include file="Public::footer"/>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
    <script src="{$Think.const.JS_URL}scripts.js"></script>
    <script>
    //选择分类提示尺寸大小
    var width = $("#ad_position_id option:selected").attr("data-width");
    var height = $("#ad_position_id option:selected").attr("data-height");
    showSize(width,height);

    $("#ad_position_id").change(function(){
        width = $("#ad_position_id option:selected").attr("data-width");
        height = $("#ad_position_id option:selected").attr("data-height");
        showSize(width,height);
    });

    function showSize(width,height){
        $("#size").css("color","green");
        if( typeof(width) != 'undefined' && typeof(height) != 'undefined'){
            $("#size").html('请上传'+width+'×'+height+'的图片');
        }else{
            $("#size").html('');
        }
    }

    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>