<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <title>猴年专题</title>
    <meta name="keywords" content="2016年春节,猴年春节,春节祭祀习俗,元宵习俗" />
    <meta name="description" content="2016年春节,猴年春节,春节祭祀习俗,元宵习俗" />
     <link href="{$Think.const.CSS_URL}topics/header.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.CSS_URL}topics/newyear/2016.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
<include file="Common:head_topics" />

<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
    <div class="contain">
        <ul>
            <li class="currter"><a href="#">春节</a></li>
            <li><a href="#2F">春节传说</a></li>
            <li><a href="#3F">特色习俗</a></li>
            <li><a href="#4F">春节祭祀</a></li>
            <li><a href="#5F">传统知识</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div><!-- topics_nav导航结束 -->
<!-- banner -->
<div class="monkey_banner"></div>
<!-- 内容 -->
<div class="monkey_main">
    <div class="contain">
        <!-- 春节来源与传说 -->
        <div id="2F" class="monkey_legend clearfix">
            <div class="legend_left">
                <p>春节又叫阴历(农历)年，俗称“过年”。是我国民间最隆重、最热闹的一个古老传统节日。节日喜庆气氛要持续一个月。正月初一前有祭灶、祭祖等仪式；节中有给儿童压岁钱、亲朋好友拜年等典礼；节后半月又是元宵节，其时花灯满城，游人满街，盛况空前，元宵节过后，春节才算结束了。 </p>
                <p>春节的历史很悠久，有关它的各种传说也很多。据史书记载，一年一度庆祝丰收的仪式起源于周王朝（公元前1121－前771年〕，这个仪式虽然是在农历十一月间，但历来人们都认为它是新年习俗的起源。</p>
                <p>古代帝王继位，为了显示“天子”的权威，往往自立历法，因此历代元旦月日都不一致。汉武帝（公元前140－前87年〕继位，决定重修历法，使之统一。今日我们所采用的历法是汉武帝以后，经过多个朝代修定的，但农历正月初一为“元旦”，乃原自汉武帝定下的历法......   <a href="{:U('/news/detail/4777')}" target="_blank">点击查看>></a></p>
            </div>
            <div class="legend_right">
                <img src="{$Think.const.IMG_URL}topics/newyear/2016/mokey_legend_img.jpg" alt="2016年猴年春节"/>
            </div>
        </div><!-- mokey_legend春节来源与传说结束 -->
        <!-- 全国各地春节的特色习俗 -->
        <div id="3F" class="monkey_tercel">
            <!-- 标题 -->
            <h2><img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_tercel_h2.png" alt="全国各地春节的特色习俗"/></h2>
            <!-- 内容 -->
            <div class="tercel">
                <ul>
                    <li class="clearfix">
                        <!-- 文字内容 -->
                        <div class="tercel_left">
                            <h3><a href="{:U('/news/detail/4814')}" target="_blank">云南年俗   点击查看</a></h3>
                            <p>云南过年时与汉族一样也要贴对联。但那"对联"是红纸剪成的各种图案。不仅"书写"方式不同，连贴的方式也别具一格。除夕之夜，全家老小每人拿着自制的春联，合唱立脚点《祝年歌》，依序在院里院外、菜地果园和田边地角为万物张贴。因为边贴边唱，白族的春联被称为"歌联"。</p>
                        </div>
                        <!-- 图片内容 -->
                        <div class="tercel_right">
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_tercel_img1.jpg" alt="云南年俗"/>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_tercel_img2.jpg" alt="云南年俗"/>
                        </div>
                    </li>
                    <li class="center clearfix">
                        <!-- 图片内容 -->
                        <div class="tercel_right">
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_tercel_img3.jpg" alt="云南年俗"/>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_tercel_img4.jpg" alt="云南年俗"/>
                        </div>
                        <!-- 文字内容 -->
                        <div class="tercel_left">
                            <h3><a href="{:U('/news/detail/4814')}" target="_blank">上海年俗   点击查看</a></h3>
                            <p>旧时，一到春节乞丐就多起来了。 有一种乞丐,他们不是因为家中贫困而去行乞,而是为行孝道。据传,老年人活到九九八十一岁有一道鬼门关，只有吃了"百家饭"才可安然无恙度过这一关。于是家有老人的孝男孝女们在新春初一日走出家门去讨饭给自己的父母吃。</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <!-- 文字内容 -->
                        <div class="tercel_left">
                            <h3><a href="{:U('/news/detail/4814')}" target="_blank">陕西年俗   点击查看</a></h3>
                            <p>春节民俗，在全国各地大同小异。 陕西民风古朴，春节带有浓厚的乡土气息和地方特色。岁首。古代的“年”不是在腊月二十九或者三十，而是在“腊日”，即后来的“腊八”。南北朝以后才把腊祭移至岁末。到了民国时，改用阳历，才把阴历的“年”叫作春节，因为春节—般都在“立春”后，因而称其为春节。</p>
                        </div>
                        <!-- 图片内容 -->
                        <div class="tercel_right">
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_tercel_img5.jpg" alt="云南年俗"/>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_tercel_img6.jpg" alt="云南年俗"/>
                        </div>
                    </li>
                </ul>
            </div><!-- tercel End -->
        </div><!-- monkey_tercel全国各地春节的特色习俗结束 -->
        <!-- 春节祭祀:祭天、祭地、祭祖 -->
        <div id="4F" class="monkey_fete">
            <!-- 标题 -->
            <h2><img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_fete_h2.png" alt="春节祭祀:祭天、祭地、祭祖"/></h2>
            <!-- 祭祀内容 -->
            <div class="fete">
                <ul>
                    <!-- 祭祀 -->
                    <li>
                        <div class="fete_photo">
                            <img class="photo" src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_fete_img1.jpg" alt="祭祀"/>
                            <span><img src="{$Think.const.IMG_URL}topics/newyear/2016/fete_span.png" alt="祭祀"/></span>
                        </div>
                        <div class="fete_text">
                            <p>中国传统的祭祀大致分为三类，即祭天神、祭地祇、祭人鬼。对祭祀活动，历来就有严格的等级制度和规范的各项礼仪。从本质上看，是人们尊敬神灵，祈求福报的行为。<br/>祭祀，中国神传文化的重要组成部分。文献《周礼》记载：“邦都之赋，以待<br/><a href="{:U('/news/detail/4778')}" target="_blank">点击查看>></a></p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <!-- 祭天 -->
                    <li class="li2">
                        <div class="fete_photo">
                            <img class="photo" src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_fete_img2.jpg" alt="祭天"/>
                            <span><img src="{$Think.const.IMG_URL}topics/newyear/2016/fete_span1.png" alt="祭天"/></span>
                        </div>
                        <div class="fete_text">
                            <p>在中国，祭祀的对象有三种：天神、地祇、人鬼。其中，天神和地祇只能由天子祭祀，高层的诸侯大夫可以祭祀山川，一般士绅和平民百姓只能祭祀自己的祖先和灶神。<br/>祭天，是国家的头等大事。历代帝王都不敢懈怠祭祀上天。每年都要在特定的<br/><a href="{:U('/news/detail/4778')}" target="_blank">点击查看>></a></p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <div class="clear"></div>
                </ul>
                <ul>
                    <!-- 祭地 -->
                    <li>
                        <div class="fete_photo">
                            <img class="photo" src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_fete_img3.jpg" alt="祭地"/>
                            <span><img src="{$Think.const.IMG_URL}topics/newyear/2016/fete_span2.png" alt="祭地"/></span>
                        </div>
                        <div class="fete_text">
                            <p>在古代，祭天与祭地是同时举行的。早在远古时期，人们就有了对土地的崇拜，认为是大地养育着万物，就像慈爱的母亲一样，即“父天而母地”。祭地一般说来包括两种：一是祭祀“大地”，规格与祭天基本相当；一是祭祀“地祇”，包括社神、山神、水神、<br/><a href="{:U('/news/detail/4778')}" target="_blank">点击查看>></a></p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <!-- 祭祖 -->
                    <li class="li2">
                        <div class="fete_photo">
                            <img class="photo" src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_fete_img4.jpg" alt="祭祖"/>
                            <span><img src="{$Think.const.IMG_URL}topics/newyear/2016/fete_span3.png" alt="祭祖"/></span>
                        </div>
                        <div class="fete_text">
                            <p>在古老的氏族部落时期就有了对祖先的崇拜。祭祖仪式也是于周朝时形成定制的。周朝确立了用人陶、面点取代活人祭祀的方式，同时还制定了一系列的祭祀礼节，如上香、读祝文、奉献饭羹、奉茶、献帛、献酒等。仪式十分隆重、庄严。此时，人们对祖先的感觉是<br/><a href="{:U('/news/detail/4789')}" target="_blank">点击查看>></a></p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div><!-- fete祭祀内容结束 -->
        </div><!-- monkey_fete春节祭祀结束 -->
        <!-- 春节传统知识普及 -->
        <div id="5F" class="monkey_knowledge">
            <!-- 标题 -->
            <h2><img src="{$Think.const.IMG_URL}topics/newyear/2016/monkey_knowledge_h2.png" alt="春节传统知识普及"/></h2>
            <!-- 内容 -->
            <div class="knowledge">
                <ul>
                    <!-- 春节习俗 -->
                    <li>
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img1.jpg" alt="春节习俗"/></h3>
                        <div class="konw_mian">
                            <p>1、腊月二十三</p>
                            <p>祭灶</p> 
                            <p>我国春节，一般是从祭灶揭开序幕的。祭灶，是一项在我国民间影响很大、流传极广的习俗。旧时，</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img1.jpg"/>
                            <p>差不多家家灶间 都设有“灶王爷”神位。</p>
                            <p>2、腊月二十四</p>
                            <p>扫尘</p>
                            <p>“腊月二十四，掸尘扫房子” ，据......<a href="{:U('/news/detail/4841')}" target="_blank">{详细}</a></p>
                        </div>
                    </li>
                    <!-- 春节祭祀历史 -->
                    <li>
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img2.jpg" alt="春节祭祀历史"/></h3>
                        <div class="konw_mian">
                            <p>说起春节祭祀，在我国具有悠久的历史。从黄帝开始，就有比较完善的祭祀神灵、天地、祖先的活动。现在，各种大型的祭祀活动很多。南方（包括东南沿海一带）有 祭祀“妈祖”活动；中原（河南、</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img2.jpg"/>
                            <p>山东、河北、安徽一带）有祭祀黄帝轩辕氏活动。就我们家乡来说，泰山每年有祭祀泰山神活动、泰山封禅活动，曲阜有国际孔子 文化节、祭祀孔子诞辰活动等等，不胜枚举。.....<a href="{:U('/news/detail/4778')}" target="_blank">{详细}</a></p>
                        </div>
                    </li>
                    <!-- 春节上坟祭祖的原因 -->
                    <li class="last">
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img3.jpg" alt="春节上坟祭祖的原因"/></h3>
                        <div class="konw_mian">
                            <p>祭祀先祖，是春节期间一项隆重的民俗活动。除夕到来之前，家家户户都要把家谱、祖先像、牌位等供于家中上厅，摆好香炉、供品。祭祖的同时，有的地方也祭祀天神、土地神，还有的地方还叩拜玉</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img3.jpg"/>
                            <p>皇大帝（中国民间信仰中的最高之神）、王母娘娘（玉皇大帝的妻子）。供品有五碗菜、五色点心、五碗饭、一对枣糕、一个大馍馍，俗称“天地供”。由家长主祭，烧三炷香，叩.....<a href="{:U('/news/detail/4780')}" target="_blank">{详细}</a></p>
                        </div>
                    </li>
                    <!-- 正月初一习俗 -->
                    <li>
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img4.jpg" alt="正月初一习俗"/></h3>
                        <div class="konw_mian">
                            <p>春节俗称“过年”，原名“元旦”，隋代杜台卿在《五烛宝典》中说：“正月为端月，其一日为元日，亦云正朝，亦云元朔。”“元”的本意为“头”，后引申为“开始”，因为这一天是一年的头一天，</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img4.jpg"/>
                            <p>春季的头一天，正月的头一天，所以称为“三元”；因为这一天还是岁之朝，月之朝，日之朝，所以又称“三朝”；又因为它是第一个朔日，所以又称“元.....<a href="{:U('/news/detail/4786')}" target="_blank">{详细}</a></p>
                        </div>
                    </li>
                    <!-- 腊月二十三习俗 -->
                    <li>
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img5.jpg" alt="腊月二十三习俗"/></h3>
                        <div class="konw_mian">
                            <p>过年风俗源于远古农耕民族的“腊祭”。“腊祭”是古人“神先享用”意识的体现，人们习惯“索鬼神而祭祀”、“合聚万物而索享之”，形成“岁终出祭”古俗。由于宗教、风俗本身的保守性及历代</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img5.jpg"/>
                            <p>统治者的倡导，这种原始时代的“敬神”礼俗代代相袭，并逐渐演化为祭灶神。民谚曰：“三祭灶，四扫屋……”即指每年的腊月二十三（或二十四）祭祀灶神。灶神，俗称灶君.....<a href="{:U('/news/detail/4782')}" target="_blank">{详细}</a></p>
                        </div>
                    </li>
                    <!-- 腊月二十四习俗 -->
                    <li class="last">
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img6.jpg" alt="腊月二十四习俗"/></h3>
                        <div class="konw_mian">
                            <p>扫尘</p>
                            <p>民谚称“二十四，扫房子”。举行过灶祭后，便正式地开始做迎接过年的准备。每年从农历腊月二十三日起到除夕止，我国民间把这段时间叫做“迎春</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img6.jpg"/>
                            <p>日”，也叫“扫尘日”。扫尘就是年终大扫除，北方称“扫房”，南方叫“掸尘”。在春节前扫尘，是我国人民素有的传统习惯。每逢春节来临，家家户户都要打扫环境，清洗各种.....<a href="{:U('/news/detail/4783')}" target="_blank">{详细}</a></p>
                        </div>
                    </li>
                    <!-- 腊月二十九习俗 -->
                    <li>
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img7.jpg" alt="腊月二十九习俗"/></h3>
                        <div class="konw_mian">
                            <p>上供请祖</p>
                            <p>年谣称：“腊月二十九，上坟请祖上大供”。 对于祖先的崇拜，在我国由来已久。事死如生不仅是孝道的重要标志，也是尊老敬老的美德。春节是大节，</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img7.jpg"/>
                            <p>上坟请祖仪式也就格外郑重。上坟请祖的时间，大多数地区在二十九日早晨请祖。</p>
                            <p>小除夕</p>
                            <p>除夕前一日，叫“小除夕”，家.....<a href="{:U('/news/detail/4781')}" target="_blank">{详细}。</a></p>
                        </div>
                    </li>
                    <!-- 腊月三十习俗 -->
                    <li>
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img8.jpg" alt="腊月三十习俗"/></h3>
                        <div class="konw_mian">
                            <p>除夕</p>
                            <p>除夕是指每年农历腊月的最后一天的晚上，它与春节(正月初一)首尾相连。“除夕”中的“除”字是“去；易；交替”的意思，除夕的意思是“月穷岁</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img8.jpg"/>
                            <p>尽”，人们都要除旧部新，有旧岁至此而除，来年另换新岁的意思，是农历全年最后的一个晚上。故此期间的活动都围绕着除旧部新，消灾祈福为中心周、秦时期每年将尽的时.....<a href="{:U('/news/detail/4785')}" target="_blank">{详细}</a></p>
                        </div>
                    </li>
                    <!-- 元宵节传统习俗 -->
                    <li class="last">
                        <h3><img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_h3_img9.jpg" alt="元宵节传统习俗"/></h3>
                        <div class="konw_mian">
                            <p>除夕</p>
                            <p>农历正月十五，元宵节，又称上元节、春灯节、小正月、元夕节。元宵节是春节后第一个重要节日，由于中国幅员辽阔，历史悠久，所以关于元宵节的习俗在全国各地也不尽相同。</p>
                            <img src="{$Think.const.IMG_URL}topics/newyear/2016/knowledge_img9.jpg"/>
                            <p>1．元宵节吃“元宵”</p>
                            <p>正月十五吃元宵，是在中国由来己久的习俗，元宵即“汤圆”，它的做法成份风味各异，.....<a target="_blank" href="{:U('/news/detail/4814')}">{详细}</a></p>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div><!-- knowledge End -->
        </div><!-- monkey_knowledge春节传统知识普及结束 -->
    </div><!-- contain -->
</div><!-- hbfs_main内容结束 -->
<!-- 底部 -->
<div class="topics_footer">
    <p>{$Think.config.BEIAN_INFO}</p>
</div><!-- topics_footer end -->

<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}topics/newyear/2016newyear.js"></script>
</body>
</html>