<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>重阳节的起源_饮食习俗_重阳节传说_习俗_禁忌_{$Think.config.SITE_NAME}</title>
    <meta name="keywords" content="重阳节，重阳节孝文化，重阳节简介，重阳节习俗，重阳节禁忌" />
    <meta name="description" content="重阳节专题，讲述重阳节的来历，重阳节的饮食习俗、祭祖习俗，以及重阳节的禁忌等" />
    <link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/chongyangjie.css"/>
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/topic.css"/>
</head>
<body>
<include file="Common:head_topics" />
<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
    <div class="contain">
        <ul>
            <li class="currter"><a href="#">重阳节起源</a></li>
            <li><a href="#2F">饮食习俗</a></li>
            <li><a href="#3F">陵园推荐</a></li>
            <li><a href="#4F">孝文化</a></li>
            <li><a href="#5F">重阳节习俗</a></li>
            <li><a href="#5F">重阳节</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div><!-- nav导航结束 -->
<!-- banner -->
<div class="cyj_banner"></div>
<!-- 中间内容 -->
<div class="cyj_main">
    <div class="cyj_innermain">
        <!-- 重阳节起源 -->
        <div class="cyj_origin">
            <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_origin_img.jpg"/>
            <div class="cyj_origin_right">
                <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_origin_h1bg.jpg"/></h1>
                <p>重阳节是个历史悠久的节日，由于年代久远，节日的形成不易考察明确。因此，关于重阳节的起源，有种种不同的说法。</p>
                <p>其一：重阳的源头，可追溯到先秦之前。《吕氏春秋》之中《季秋纪》载：“(九月)命家宰，农事备收，举五种之要。藏帝籍之收于神仓，祗敬必饬。”“是日也，大飨帝，尝牺牲，告备于天子。”可见当时已有在秋九月农作物丰收之时祭飨天帝、祭祖，以谢天帝、祖先恩德的活动。</p>
                <p>汉代，《西京杂记》中记时的宫人贾佩兰称：“九月九日，佩茱萸，食蓬饵，饮菊花酒，云令人长寿。”相传自此时起，有了重阳节求寿之俗。这是受古代巫师(后为道士)追求长生，采集药物服用的影响。同时还有大型饮宴活动，是由先秦时庆丰收之宴饮发展而来的。 <a href="{:U('/news/detail/3366')}" target='_blank'>详细</a></p>
            </div>
            <div class="clear"></div>
        </div><!-- cyj_origin重阳节起源结束 -->
        <!-- 重阳三大饮食习俗 -->
        <div id="2F" class="cyj_diet">
            <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_diet_h1bg.png"/></h1>
            <ul>
                <!-- 吃重阳糕 -->
                <li>
                    <h2><span>吃</span>重阳糕</h2>
                    <div class="cyj_diet_content">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_diet_img1.jpg"/>
                        <p>九月食糕的习俗起源很早，“糕”之名，虽然起于六朝之末，但糕类食品在汉朝时即已出现，当时称为“饵”。饵的原料是米粉，米粉有稻米粉与黍米粉两种，黍米有粘性，二者和合，“合蒸曰饵”。黍为五谷之长，黍在古代是待客与    <a href="{:U('/news/detail/3904')}" target='_blank'>详细</a></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <!-- 吃牛肉 -->
                <li>
                    <h2><span>吃</span>牛肉</h2>
                    <div class="cyj_diet_content">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_diet_img2.jpg"/>
                        <p>全国各地重阳节也有吃牛肉的习俗。作为温性食品老年人在秋季食用正当时。营养师告诉大家，新鲜的牛羊肉为温性食品，在秋季食用比较容易被人体吸收，满足人们“贴秋膘”过寒冬的愿望。 <a href="{:U('/news/detail/3904')}" target='_blank'>详细</a></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <!-- 吃蟹 -->
                <li class="last">
                    <h2><span>吃</span>蟹</h2>
                    <div class="cyj_diet_content">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_diet_img3.jpg"/>
                        <p>品，在秋季食用比较容易被人体吸收，满足人们“贴秋膘”过寒冬的愿望。综上所述，重阳节就是一个大凶的日子，宜通过“登高望远”等一系列活动来破解凶灾，诸事不宜。当今社会，崇尚科学，但是重阳节毕竟是中华传统文化，我们<a href="{:U('/news/detail/3904')}" target='_blank'>详细</a></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div><!-- cyj_diet重阳三大饮食习俗结束 -->
        <!-- 陵园推荐 -->
        <div id="3F" class="cyj_recommend">
            <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_h1bg.png"/></h1>
            <ul>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_img1.jpg"/>
                    <h2>河南福寿园</h2>
                    <p>河南福寿园位于郑州新郑龙湖镇双湖大道<a href="{:U('/cemetery/detail/466')}" target='_blank'>{详情}</a></p>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_img2.jpg"/>
                    <h2>上海青浦福寿园</h2>
                    <p>上海福寿园地处青浦城南，毗邻松江，<a href="{:U('/cemetery/detail/118')}" target='_blank'>{详情}</a></p>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_img3.jpg"/>
                    <h2>河南新乡西陵公墓 </h2>
                    <p>河南新乡西陵公墓坐落于新乡市与卫辉市<a href="{:U('/cemetery/detail/537')}" target='_blank'>{详情}</a></p>
                </li>
                <li class="last">
                    <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_img4.jpg"/>
                    <h2>河南焦作龙凤生态陵园</h2>
                    <p>河南焦作龙凤生态陵园位于焦作市焦克<a href="{:U('/cemetery/detail/539')}" target='_blank'>{详情}</a></p>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_img5.jpg"/>
                    <h2>洛阳北邙仙境苑陵园</h2>
                    <p>河南洛阳北邙仙境苑陵园位于洛阳邙山最<a href="{:U('/cemetery/detail/526')}" target='_blank'>{详情}</a></p>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_img6.jpg"/>
                    <h2>河南荥阳市北邙陵园</h2>
                    <p>河南荥阳市北邙陵园位于郑州市北邙乡,<a href="{:U('/cemetery/detail/160')}" target='_blank'>{详情}</a></p>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_img7.jpg"/>
                    <h2>福建福州三山陵园</h2>
                    <p>福州三山陵园位于福州新店镇益凤村,陵<a href="{:U('/cemetery/detail/314')}" target='_blank'>{详情}</a></p>
                </li>
                <li class="last">
                    <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_recommend_img8.jpg"/>
                    <h2>浙江平阳松鹤陵园</h2>
                    <p>浙江平阳松鹤陵园坐落于平阳县昆阳镇城<a href="{:U('/cemetery/detail/208')}" target='_blank'>{详情}</a></p>
                </li>
                <div class="clear"></div>
            </ul>
        </div><!-- cyj_recommend陵园推荐结束 -->
        <!-- 孝文化 -->
        <div id="4F" class="cyj_filial">
            <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_h1bg.png"/></h1>
            <!-- tab标题 -->
            <div class="cyj_filial_title">
                <ul id="cyj_filial_nav">
                    <li><a href="#" tab="tab1"><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_nav_img1.jpg"/></a></li>
                    <li><a href="#" tab="tab2"><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_nav_img2.jpg"/></a></li>
                    <li><a href="#" tab="tab3"><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_nav_img3.jpg"/></a></li>
                    <li><a href="#" tab="tab4"><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_nav_img4.jpg"/></a></li>
                </ul>
            </div>
            <!-- 右侧内容 -->
            <div class="cyj_filial_right">
                <ul>
                    <li id="tab1" class="cyj_filial_box">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_right_img1.jpg">
                        <p>喜迎传统重阳佳节 弘扬中华孝亲文化</p>
                    </li>
                    <li id="tab2" class="cyj_filial_box">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_right_img2.jpg">
                        <p>孝道的传承，九九重阳再话孝道文化</p>
                    </li>
                    <li id="tab3" class="cyj_filial_box">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_right_img3.jpg">
                        <p>各地多彩活动过重阳 爱老敬老好传承孝道</p>
                    </li>
                    <li id="tab4" class="cyj_filial_box">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_filial_right_img4.jpg">
                        <p>“重阳敬老礼”孝心文化宣传活动倡孝道</p>
                    </li>
                </ul>
            </div><!-- cyj_filial_right右侧内容结束 -->
            <div class="clear"></div>
        </div><!-- cyj_filial孝文化结束 -->
        <!-- 重阳节习俗 -->
        <div id="5F" class="cyj_custom">
            <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_custom_h1bg.png"/></h1>
            <ul>
                <!-- 赏菊 -->
                <li>
                    <h2><span>赏</span>菊</h2>
                    <div class="cyj_custom_content">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_custom_img1.jpg"/>
                        <p>菊花，又叫黄花，属菊科，品种繁多。我国是菊花的故乡，自古培种菊花就很普遍。菊是长寿之花，又为文人们赞美作凌 霜不屈的象征，所以人们爱它、赞它，故常举    <a href="{:U('/news/detail/3896')}" target='_blank'>详细</a></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <!-- 登高 -->
                <li>
                    <h2><span>登</span>高</h2>
                    <div class="cyj_custom_content">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_custom_img2.jpg"/>
                        <p>重阳最重要的节日活动之一，即是登高。故重阳节又叫“登高节”。登高所到之处，没有划一的规定，一般是登高山、登高塔。 早在西汉，《长安志》中就有汉代京城 <a href="{:U('/news/detail/3896')}" target='_blank'>详细</a></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <!-- 佩茱萸 -->
                <li class="last">
                    <h2><span>佩茱萸</span>簪菊花</h2>
                    <div class="cyj_custom_content">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_custom_img3.jpg"/>
                        <p>重阳节有佩茱萸的风俗，因此又被称为“茱萸节”。茱萸是重阳节的重要标志。重阳节时人们还喜欢佩戴菊花。茱萸雅号“辟邪翁”，菊花又名“延寿客”。 <a href="{:U('/news/detail/3896')}" target='_blank'>详细</a></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <!-- 放纸鹤 -->
                <li class="last">
                    <h2><span>放</span>纸鹞</h2>
                    <div class="cyj_custom_content">
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_custom_img4.jpg"/>
                        <p>放纸鹞是惠州过重阳节的主要习俗。换句话说，惠州民间过重阳节是以放鹞为主要特征的。此习，除惠州流传的民谣中有叙述以外，光绪《惠州府志》亦有记述。 <a href="{:U('/news/detail/3896')}" target='_blank'>详细</a></p>
                        <div class="clear"></div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div><!-- cyj_custom重阳节习俗结束 -->
        <!-- 重阳节 -->
        <div id="6F" class="cyj_festival">
            <ul>
                <!-- 重阳节传说 -->
                <li>
                    <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_h1bg1.jpg"/></h1>
                    <div class="cyj_festival_details">
                        <p class="p_in"><strong>桓景斗瘟魔与重阳节</strong></p>
                        <p>汝南桓景，随费长房游学累年。长房谓日九月九日汝家中当有灾，宜急去。令家人各作绛婓囊，盛茱萸以系臂，登高饮菊花酒，此蜗祸可除。景如言举</p>
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_img1.jpg"/>
                        <p>家登山。夕还，见鸡犬牛羊一时暴死。长房闻之曰，此可代也。今世人九日登高饮酒，妇人带茱萸囊，盖始于此。</p>
                        <p class="p_in">较早有关重阳节的传说，见于梁朝吴均的《续齐谐记》。</p>
                        <p><a href="{:U('/news/detail/3897')}" target='_blank'>详细</a></p>
                    </div>
                </li>
                <!-- 重阳节禁忌 -->
                <li>
                    <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_h1bg2.jpg"/></h1>
                    <div class="cyj_festival_details">
                        <p class="p_in"><strong>重阳节禁忌：不能说节日快乐 登高原是避凶气 </strong></p>
                        <p>重阳节最重要的仪式活动是登高，这里面其实有着与现今说法完全迥异的含义。在古代生产力低下的</p>
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_img2.jpg"/>
                        <p>条件下，人的生命力极其脆弱，认识能力也受到限制，只能从某些片面局部的经验中积累所谓知识。</p>
                        <p class="p_in">古时人们对奇数有一定的禁忌。一年十二个月有六个奇数六个偶数，奇奇相逢和偶偶相逢都</p>
                        <p><a href="{:U('/news/detail/3898')}" target='_blank'>详细</a></p>
                    </div>
                </li>
                <!-- 重阳节历史沿革 -->
                <li class="last">
                    <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_h1bg3.jpg"/></h1>
                    <div class="cyj_festival_details">
                        <p class="p_in"> 战国时代，重阳节已经受到人们的重视，但只是在帝宫中进行的活动。汉代，过重阳节的习俗渐渐流行。相传汉高祖刘邦的妃子戚夫人遭到吕后的谋害，其身前一位侍女贾氏被逐出宫，嫁与贫民为</p>
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_img3.jpg"/>
                        <p>妻。贾氏便把重阳的活动带到了民间。贾氏对人说：在皇宫中，每年九月初九日，都要佩茱萸、食篷饵、饮菊花酒，以求长寿。从此重阳的风俗便在民间传开了。</p>
                        <p><a href="{:U('/news/detail/3903')}" target='_blank'>详细</a></p>
                    </div>
                </li>
                <!-- 重阳节诗词艺术 -->
                <li>
                    <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_h1bg4.jpg"/></h1>
                    <div class="cyj_festival_details">
                        <p class="p_in">汉代以后重阳节不仅在现实世界中丰富了人民的世俗生活，而且逐渐发展成为一种文化符号。世人创造了大量有关重阳节的故事、传说和诗歌，这既丰富了人民的精神生活，也为中华民族精神的培</p>
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_img4.jpg"/>
                        <p>育和中华传统文化的发展起到了重要作用。</p>
                        <p class="p_in">重阳节传说。自重阳节出现以后，大量的民间传说依附在重阳节这个载体上，其中最著名的就是东汉汝南（今河南上蔡）桓景九月九日带领百姓</p>
                        <p><a href="{:U('/news/detail/3901')}" target='_blank'>详细</a></p>
                    </div>
                </li>
                <!-- 重阳节寿文化内涵 -->
                <li>
                    <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_h1bg5.jpg"/></h1>
                    <div class="cyj_festival_details">
                        <p class="p_in">寿，按《辞海》的解释，是指寿命、或谓年岁长久之意，亦指老年人。《庄子》写道：“人，上寿百岁，中寿八十。”可见，60岁以上者即可称“寿”。寿文化的核心内容在于促进人们的身体</p>
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_img5.jpg"/>
                        <p>健康，达到延年益寿之目的。对于寿文化，古往今来，一直都受到人们的重视。</p>
                        <p><a href="{:U('/news/detail/3902')}" target='_blank'>详细</a></p>
                    </div>
                </li>
                <!-- 重阳节祭祖习俗 -->
                <li class="last">
                    <h1><img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_h1bg6.jpg"/></h1>
                    <div class="cyj_festival_details">
                        <p class="p_in">重阳节是我国传统四大祭祖节日之一，民间素有祭祖祈福的传统。人们会在每年的重阳节举行祭祖活动，祈求神灵降福，并推行敬老活动，传承孝道文化。重阳节之时，我国很多地方都有祭祖活</p>
                        <img src="{$Think.const.IMG_URL}topics/chongyangjie/cyj_festival_img6.jpg"/>
                        <p>动。不过，这些祭祖活动也会因地域的不同而具有不同的形式。</p>
                        <p><strong>香港</strong></p>
                        <p class="p_in">在香港，每逢重阳当天，政府有关部门及公共交通机构便会实施一系列相应措施，以方便及管理</p>
                        <p><a href="{:U('/news/detail/3900')}" target='_blank'>详细</a></p>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div><!-- cyj_festival重阳节结束 -->
    </div><!-- cyj_innermain -->
</div><!-- cyj_main中间内容结束 -->
<!-- 底部 -->
<div class="topics_footer">
    <p>{$Think.config.BEIAN_INFO}</p>
</div><!-- topics_footer end -->
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/topics.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //孝文化tab切换
        jQuery.jqtab = function (tabtit, tabcon) {
            $(tabcon).hide();
            $(tabtit + " li:first").addClass("thistab").show();
            $(tabcon + ":first").show();

            $(tabtit + " li").hover(function () {
                $(tabtit + " li").removeClass("thistab");
                $(this).addClass("thistab");
                $(tabcon).hide();
                var activeTab = $(this).find("a").attr("tab");
                $("#" + activeTab).show();
                return false;
            });
        };
        /*调用方法如下：*/
        $.jqtab("#cyj_filial_nav", ".cyj_filial_box");
    });
</script>
<include file="Common:topics_tongji" />
</body>
</html>