<!doctype html>
<html lang="en">
<head>
	<link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <meta charset="UTF-8">
	<title>福州市福百顺礼仪有限公司_{$Think.config.SITE_NAME}</title>
	<meta name="keywords" content="福州市福百顺礼仪有限公司,专业殡仪服务机构" />
    <meta name="description" content="福州市福百顺礼仪有限公司,专业殡仪服务机构" />
     <link href="{$Think.const.CSS_URL}topics/header.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{$Think.const.CSS_URL}topics/fbs.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
<include file="Common:head_topics" />
<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
	<div class="contain">
		<ul>
			<li class="currter"><a href="#">福百顺礼仪</a></li>
			<li><a href="#2F">福百顺品牌</a></li>
			<li><a href="#3F">福百顺代言</a></li>
			<li><a href="#4F">福百顺展示</a></li>
			<li><a href="#5F">福百顺服务</a></li>
			<div class="clear"></div>
		</ul>
	</div>
</div><!-- topics_nav导航结束 -->
<!-- 福百顺banner -->
<div class="fbs_banner">
	<div class="contain">
		<!-- 福百顺品牌 -->
		<div class="fbs_brand">
			<div id="2F" class="fbs_brand_main">
				<h2>福州市福百顺礼仪有限公司</h2>
				<p>福人 福地 福百顺</p>
				<p>福百顺礼仪 一个专业殡仪服务机构</p>
				<p>生命的轮回总在不经意间到来 让我们措手不及又不得不勇敢面对</p>
				<p>我们专业 福百顺礼仪 专业20年服务经验的积淀给您帮助</p>
				<p>我们专注 福百顺礼仪 专注传承传统习俗的服务为您解忧</p>
				<p>在您最痛苦的时候 我在您身旁</p>
				<p>在您最无助的时候 我在您身旁</p>
				<p>专业 专注 只因为这是有福报的事业</p>
			</div>
		</div><!-- fbs_brand福百顺品牌结束 -->
	</div><!-- contain end -->
</div><!-- fbs_banner end -->
<!-- 中间内容 -->
<div class="fbs_main">
	<div class="contain">
		<!-- 福百顺代言 -->
		<div id="3F" class="fbs_lays">
			<div class="fbs_lays_main">
				<p>我就是我 <span>–彭靓</span></p>
				<p>我是70后，我接过父辈的衣钵</p>
				<p>我为福百顺代言。我体会父辈创业的艰辛</p>
				<p>我深知守业比创业艰难</p>
				<p>我出生在勤俭诚信的工人家庭</p>
				<p>我受过高等教育曾受雇于百强企业</p>
				<p><a target='_blank' href="{:U('news/detail/4805')}">点击查看</a></p>
			</div>			
		</div><!-- fbs_lays福百顺代言结束 -->
		<!-- 展示-福百顺 -->
		<div id="4F" class="fbs_show clearfix">
			<!-- 左侧 -->
			<div class="fbs_show_left">
				<ul>
					<li><img src="{$Think.const.IMG_URL}topics/fbs/fbs_show_title.jpg" alt="展示-福百顺"/></li>
					<li>
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_show_img1.jpg" alt="展示-福百顺"/>
						<p>祈福现场</p>
					</li>
				</ul>
			</div><!-- fbs_show_left end -->
			<!-- 右侧 -->
			<div class="fbs_show_right">
				<ul>
					<li class="first last">
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_show_img2.jpg" alt="展示-福百顺"/>
						<p>追  思</p>
					</li>
					<li>
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_show_img3.jpg" alt="展示-福百顺"/>
						<p>许  愿</p>
					</li>
					<li>
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_show_img4.jpg" alt="展示-福百顺"/>
						<p>来宾签到台</p>
					</li>
					<li class="last">
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_show_img5.jpg" alt="展示-福百顺"/>
						<p>胸花定制</p>
					</li>
				</ul>
			</div><!-- fbs_show_right end -->
		</div><!-- fbs_show展示-福百顺结束 -->
		<!-- 咨询电话 -->
		<div class="fbs_phone">
			<p>咨询电话：400-8010-344</p>
		</div><!-- fbs_phone咨询电话结束 -->
		<!-- 物资设备 -->
		<div class="fbs_show clearfix">
			<!-- 左侧 -->
			<div class="fbs_show_left">
				<ul>
					<li><img src="{$Think.const.IMG_URL}topics/fbs/fbs_wzsb_title.jpg" alt="展示-福百顺"/></li>
					<li>
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_wzsb_img1.jpg" alt="展示-福百顺"/>
						<p>物资设备</p>
					</li>
				</ul>
			</div><!-- fbs_show_left end -->
			<!-- 右侧 -->
			<div class="fbs_show_right">
				<ul>
					<li class="first last">
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_wzsb_img2.jpg" alt="展示-福百顺"/>
						<p>物资设备</p>
					</li>
					<li>
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_wzsb_img3.jpg" alt="展示-福百顺"/>
						<p>物资设备</p>
					</li>
					<li>
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_wzsb_img4.jpg" alt="展示-福百顺"/>
						<p>物资设备</p>
					</li>
					<li class="last">
						<img src="{$Think.const.IMG_URL}topics/fbs/fbs_wzsb_img5.jpg" alt="展示-福百顺"/>
						<p>物资设备</p>
					</li>
				</ul>
			</div><!-- fbs_show_right end -->
		</div><!-- fbs_show物资设备结束 -->
		<!-- 咨询电话 -->
		<div class="fbs_phone">
			<p>咨询电话：400-8010-344</p> 
		</div><!-- fbs_phone咨询电话结束 -->
		<!-- 福百顺服务 -->
		<div id="5F" class="fbs_service">
			<h2><img src="{$Think.const.IMG_URL}topics/fbs/fbs_service_title.png"/></h2>
			<div class="fbs_service_main">
				<a class="service_btn1" target='_blank' href="{:U('news/detail/4807')}">查看详情>></a>
				<a class="service_btn2" target='_blank' href="{:U('news/detail/4806')}">查看详情>></a>
			</div>
		</div><!-- fbs_service福百顺服务结束 -->
	</div><!-- contain end -->
</div><!-- fbs_main中间内容结束 -->
<!-- 底部 -->
<div class="topics_footer">
    <p>{$Think.config.BEIAN_INFO}</p>
</div><!-- topics_footer end -->

    <script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/topics.js"></script>

</body>
</html>