<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>寒衣节来源_历史_习俗_禁忌_{$Think.config.SITE_NAME}</title>
    <meta name="keywords" content="寒衣，寒衣节简介，寒衣习俗，寒衣禁忌" />
    <meta name="description" content="寒衣专题，介绍寒衣节的来历，寒衣节的来源，寒衣节禁忌，习俗等。" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/hanyijie/index.css"/>
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/hanyijie/topic.css"/>
</head>
<body>
<!-- 顶部 -->
<include file="Common:head_topics" />
<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
    <div class="contain">
        <ul>
            <li class="currter"><a href="#">寒衣节</a></li>
            <li><a href="#2F">寒衣节起源</a></li>
            <li><a href="#3F">寒衣节知识</a></li>
            <li><a href="#4F">祭拜禁忌</a></li>
            <li><a href="#5F">来源与历史</a></li>
            <li><a href="#6F">陵园推荐</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div><!-- nav导航结束 -->
<!-- 头部 -->
<div class="hy_header">
    <div class="hy_innerheader">
        <!-- 寒衣节起源 -->
        <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_head_h1.png"/></h1>
        <div id="2F" class="hy_origin">
            <div class="hy_origin_left">
                <h2>1、寒衣节源起于古代新收时祭祀祖宗的习俗。</h2>
                <p>古代，秋天新收后，为缅怀先人，祈求来年丰收，民间有祭祀祖宗的习俗，这一习俗与秋天的很多民俗节日均有联系。古人在十月初一，用黍等农作物祭祀祖先，后演变为家祭、墓祭等多种形式。现今江南部分地区，犹存十月初一祭新坟的习俗;十月初一烧送寒衣，祭祀亲人的风俗，现多见于北方民间。</p>
                <h2>2、寒衣节为传统节日——“下元水官节”的前移。</h2>
                <p>“三元”是“三官”的别称，《五杂俎》载：“道经以正月十五为上元，七月十五为中元，十月十五日为下元。”《太上三官经》云：“天官赐福，地官赦罪，水官解厄”，“三元节”为道教的传统节日：上元节称“上元天官节”，系上元赐福天官紫微大帝诞辰;中元节称“中元地官节”，系中元赦罪地官清虚大帝诞辰;下元节称“下元水官节”，系下元解厄水官洞阴大帝诞辰。水官生日，作为节庆，是为了求取水官保佑，能够解脱无法预料的厄运。</p>
                <p>始于汉代的“下元水官节”，在民间流传了一千多年。清代，此节被前移到十月初一，成为寒衣节的一个重要组成部分。 <a href="{:U('/news/detail/4060')}" target='_blank'>【查看更多】</a></p>
            </div>
            <div class="hy_origin_right">
                <img src="{$Think.const.IMG_URL}topics/hanyijie/origin_right_img1.jpg"/>
            </div>
            <div class="clear"></div>
        </div><!-- hy_origin寒衣节起源结束 -->
    </div><!-- hy_innerheader -->
</div><!-- hy_header头部结束 -->
<!-- 中间内容 -->
<div class="hy_main">
    <!-- 寒衣节知识 -->
    <div class="hy_knowledge">
        <div class="hy_know">
            <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_knowledgeh1_img.png"/>			
        </div>
    </div>
    <!-- 寒衣节知识内容 -->
    <div id="3F" class="hy_innermain">
        <div class="hy_ledge">
            <ul>
                <li>
                    <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_h1img1.png"/></h1>
                    <p>一年一度的“寒衣节”又到了，为什么“寒衣节”要送寒衣？应该有什么特别要求？有何现实意义？作为一种信仰习俗文化，值得探讨。</p>
                    <p><strong>什么叫“送寒衣”？</strong></p>
                    <p>“寒衣节”送寒衣，是比较普遍的一种民间重大祭祀习俗活动。随着天气渐渐<a href="{:U('/news/detail/4061')}" target='_blank'>【查看更多】</a></p>
                    <div class="hy_ledge_bg">
                        <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_img1.jpg"/>
                    </div>
                </li>
                <li class="li2 last">
                    <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_h1img2.png"/></h1>
                    <p>农历十月初一是中国传统的寒衣节，又称秋祭、鬼头日、十月朝、祭祖节、烧衣节、授衣节等，因为在鬼节这天祭祀祖先的虔诚标志之一是哭，所以又叫“哭节”，与三月三，清明节、中元节并称中国四大鬼节。这一天，人们会通过各种方式祭奠先人，表达哀思。</p>
                    <p><strong>寒衣节如何烧寒衣？ </strong><a href="{:U('/news/detail/4065')}" target='_blank'>【查看更多】</a></p>
                    <div class="hy_ledge_bg">
                        <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_img2.jpg"/>
                    </div>
                </li>
                <li>
                    <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_h1img3.png"/></h1>
                    <p>寒衣节自古有之。据考证，早在周朝时，农历十月初一是腊祭日，这天要举行隆重的祭祀活动。据《礼记·月令》，农历十月是立冬的月份。这一天，天子率三公九卿到北郊举行迎冬礼，礼毕返回，要奖赏为国捐躯者，并抚恤他们的妻子儿女。已经死去的人怎么受赏呢?为他们“送寒衣”。上行下效，遂相沿成习。在《礼记·月令》中，同时还描述了周代<a href="{:U('/news/detail/4066')}" target='_blank'>【查看更多】</a></p>
                    <div class="hy_ledge_bg">
                        <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_img3.jpg"/>
                    </div>
                </li>
                <li class="li2 last">
                    <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_h1img4.png"/></h1>
                    <p>中国人讲究“慎终追远”，其中农历十月初一的寒衣节，与三月三、清明节、七月中元并称民间四大悼亡节日（四大鬼节），民间叫做“过十月一”。在儒家“孝亲”传统与“灵魂不灭”的原始宗教信仰的支配下，古人由生者推及死者，由阳世推及阴间，认为远在黄泉之下的亡亲，需要在十月添衣过冬，作为亡者亲属， 有义务为其置备御寒物品以示悼念之情<a href="{:U('/news/detail/4064')}" target='_blank'>【查看更多】</a></p>
                    <div class="hy_ledge_bg">
                        <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_img4.jpg"/>
                    </div>
                </li>
                <li>
                    <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_h1img5.png"/></h1>
                    <p>每年农历十月初一，谓之“十月朝”，又称“祭祖节”，亦称冥阴节，这一天，特别注重祭奠先亡之人，为其送寒衣。它与春季的清明节、秋季的中元节，并称为一年之中的三大“鬼节”。这一天，人们会通过各种方式祭奠先人，表达哀思。同时，这一天也标志着严冬的到来，所以也是父母、爱人等为所关心的人送御寒衣物的日子。 <a href="{:U('/news/detail/4069')}" target='_blank'>【查看更多】</a></p>
                    <div class="hy_ledge_bg">
                        <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_img5.jpg"/>
                    </div>
                </li>
                <li class="li2 last">
                    <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_h1img6.png"/></h1>
                    <p>农历十月初一是寒衣节，又叫送寒衣。与春季的三月三，清明节，秋季的中元节（农历七月十五），并称为一年之中的四大“鬼节”。</p>
                    <p><strong>节日说明</strong></p>
                    <p>与清明节、中元节不同的是，十月初一除以烧的形式为死去的亡灵送纸钱外要<a href="{:U('/news/detail/4067')}" target='_blank'>【查看更多】</a></p>
                    <div class="hy_ledge_bg">
                        <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_ledge_img6.jpg"/>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div><!-- hy_innermain寒衣节知识内容结束 -->
        <!-- 祭拜禁忌 -->
        <div id="4F" class="hy_taboo">
            <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_tabooh1_img.png"/></h1>
            <!-- 准备供品 -->
            <div class="hy_taboo_main">
                <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_taboo_img1.png"/>
                <div class="hy_taboo_describe">
                    <h2>01.准备供品</h2>
                    <p>一般在上午进行。供品张罗好后，家人打发小孩到街上买一些五色纸及冥币、香箔备用。五色纸乃红、黄、蓝、白、黑五种颜色，薄薄的，有的中间还夹有棉花。晌午吃过饭，主妇把锅台收拾干净，叫齐一家人，这就可以上坟烧寒衣了。</p>
                </div>
                <div class="clear"></div>
            </div>
            <!-- 进行拜祭 -->
            <div class="hy_taboo_mainA">
                <div class="hy_taboo_describe">
                    <h2>02.进行拜祭</h2>
                    <p>到了坟前，焚香点蜡，把饺子等供品摆放齐整，一家人轮番下跪磕头;然后在坟头划一个圆圈，将五色纸、冥币置于圈内，点火焚烧。有的人家不但烧冥币，还烧用五色纸糊成的豪宅、汽车等“奢侈品”，一边烧，一边念叨：“某某呀，你活着时辛苦操劳，死了就好好享福吧，住豪宅，开宝马，风风光光，气死阎王!”生怕亲人在阴曹地府过不上好日子。</p>
                    <p>还有的人家，在坟头划圆圈时，不忘在旁边另加个圆圈。其用意乃在救济那些无人祭奠的孤魂野鬼，以免他们穷极生恶，抢走自家祖先的衣物。</p>
                </div>
                <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_taboo_img2.png"/>
                <div class="clear"></div>
            </div>
            <!-- 寒衣节注意事项 -->
            <div class="hy_taboo_main">
                <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_taboo_img3.png"/>
                <div class="hy_taboo_describe">
                    <h2>03.寒衣节注意事项</h2>
                    <p>凡属送给死者的衣物、冥钞诸物，都必须烧焚，只有烧的干干净净，这些阳世的纸张，才能转化为阴曹地府的绸缎布匹、房舍衣衾及金银铜钱。只要有一点没有烧尽，就前功尽弃、亡人不能使用。所以十月一日烧寒衣，要特别认真细致。这种行动虽然看来好笑，却也反映了生者对亡人的哀思与崇敬，属于一种精神上的寄托。</p>
                    <P>民间送寒衣时，还讲究在十字路口焚烧一些五色纸，象征布帛类。用意是救济那些无人祭祖的绝户孤魂，以免给亲人送去的过冬用物被他们抢去。<a href="{:U('/news/detail/4062')}" target='_blank'>【查看更多】</a></P>
                </div>
                <div class="clear"></div>
            </div>
        </div><!-- hy_taboo祭拜禁忌结束 -->
        <!-- 来源与历史传说 -->
        <div id="5F" class="hy_history">
            <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_historyh1_img.png"/></h1>
            <div class="hy_history_main">
                <p>关于寒衣节的来历，主要有以下传说。</p>
                <p><strong>1、因先秦的迎冬礼仪脱胎而成</strong></p>
                <p>据《礼记·月令》记，农历十月是立冬的月份。这一天，天子率三公九卿到北郊举行迎冬礼，礼毕返回，要奖赏为国捐躯者，并抚恤他们的妻子儿女。已经死去的人怎么受赏呢?为他们“送寒衣”当是题中应有之义，上行下效，遂相沿成习。</p>
                <p class="p_top"><strong>2、朱元璋“授衣”传说</strong></p>
                <p>农历十月在古代是一个重要的月份，此时正是稻谷收获进仓之际，“是月也，天子始裘”(《礼记·月令》)，天子以穿冬衣的仪式，昭告庶民：冬天已经来临。相传明初朱元璋在南京称帝，为了显示顺应天时，在十月初一这天早朝，行“授衣”之礼，并把刚收获的赤豆、糯米做成热羹赐给群臣尝新。南京民谚说：“十月朝、穿棉袄，吃豆羹、御寒冷。”“寒衣节”由此而来。</p>
                <p><strong>3、孟姜女千里送寒衣</strong></p>
                <p>传，秦时江南松江府孟、姜两家，种葫芦而得女，取名孟姜女，<a href="{:U('/news/detail/4063')}" target='_blank'>【查看详情】</a></p>
            </div>
        </div><!-- hy_history来源与历史传说 -->
    </div><!-- hy_innermain -->
</div><!-- hy_main中间内容结束 -->
<!-- 陵园推荐 -->
<div id="6F" class="hy_recommend">
    <h1><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommendh1_img.png"/></h1>
    <!-- 陵园推荐内容 -->
    <div class="hy_reco_main">
        <div id="marquee1">
            <ul>
                <!-- 河南福寿园 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img2.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg2.jpg"/></span>
                    <p>郑州市民躺进“棺材”体验生死之间的“滋味”。当日，在河南福寿园在寒衣节之际展开“感知生命，绽放人生”为主题的祭扫活动，在园区喷泉广场举办<a href="{:U('/news/detail/4120')}" target='_blank'>【查看更多】</a></p>
                </li>
                <!-- 德孝生态园 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img3.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg3.jpg"/></span>
                    <p>每年农历十月初一，又称“十月朝”、“祭祖节”、“冥阴节”、“秋祭”，民众称为鬼头日。这一天，特别注重祭奠先亡之人，谓之送寒衣。寒衣节与春季的清明节，<a href="{:U('/news/detail/4124')}" target='_blank'>【查看更多】</a></p>
                </li>
                <!-- 万福陵园 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img4.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg4.jpg"/></span>
                    <p>又是一年寒衣节。在传统观念里，人们对寒衣节的认识只限于到已故亲人的坟头上培土、烧纸等，而现在，人们越来越重视多样化祭扫。<a href="{:U('/news/detail/4125')}" target='_blank'>【查看更多】</a></p>
                </li>
                <!-- 山东济南福寿园 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img5.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg5.jpg"/></span>
                    <p>11月12日，寒衣节到来之际，在山东福寿园遗体捐献纪念广场，近百位遗体捐献者亲属、捐献志愿者等手捧杯烛，将思念写满卡片，聚集在一起追思无<a href="{:U('/news/detail/4126')}" target='_blank'>【查看更多】</a></p>
                </li>
                <!-- 北京天寿陵园 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img6.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg6.jpg"/></span>
                    <p>薄雾入溪谷，寒衣送故人。11月22日，阴历十月初一“寒衣节”当天，北京天寿陵园从“亲民、为民、利民”的社会和谐理念出发，大力倡导亲情温馨服务，引导<a href="{:U('/news/detail/4122')}" target='_blank'>【查看更多】</a></p>
                </li>
                <!-- 太原公墓仙居园 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img7.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg7.jpg"/></span>
                    <p>11月22日十月初一，是与清明节中元节并称为一年之中三大”鬼节”的寒衣节，是扫墓祭拜先人的重要节日，今年太原墓地仙居园早早做好准备，专线班车7点开始陆续从市区<a href="{:U('/news/detail/4123')}" target='_blank'>【查看更多】</a></p>
                </li>
                <!-- 天津永安公墓 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img8.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg8.jpg"/></span>
                    <p>11月22日，是农历十月初一寒衣节，无论天南地北都有 “寄与亡魂焚币尽，冥途冷远念家尊。”的习俗，与诗中不同的是，如今客户更多的选择鲜花或墓位装饰等祭祀亲人，<a href="{:U('/news/detail/4127')}" target='_blank'>【查看更多】</a></p>
                </li>
                <!-- 八达岭陵园 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img9.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg9.jpg"/></span>
                    <p>一只只色彩温馨的大花筐，捧托着满满的五色寒衣卡，在八达岭陵园每个墓区口静候着客人的到来，拿到寒衣卡书写下您最想对亲人说的话，敬献给亲人的碑前。<a href="{:U('/news/detail/4128')}" target='_blank'>【查看更多】</a></p>
                </li>
                <!-- 重庆金山公墓 -->
                <li>
                    <img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_img10.jpg"/>
                    <span><img src="{$Think.const.IMG_URL}topics/hanyijie/hy_recommend_spanimg10.jpg"/></span>
                    <p>寒衣节。从市公墓管理处了解到，共有3万余人昨到重庆金山公墓祭扫，人数比去年略增。采访中记者发现，鲜花祭祀成为主流，低碳文明的祭奠方式被越来越多的市民接受。<a href="{:U('/news/detail/4143')}" target='_blank'>【查看更多】</a></p>
                </li>
            </ul>
        </div>
    </div><!-- hy_reco_main陵园推荐内容结束 -->
</div><!-- hy_recommend陵园推荐结束 -->
<!-- 底部 -->
<div class="hy_footer">
<p> {$Think.config.BEIAN_INFO}</p>
</div>
 <script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
    <!-- 陵园资质jquery.kxbdMarquee.js -->
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.kxbdmarquee.js"></script>
    <script type="text/javascript">
    //陵园资质滚动
    $(function(){
        $("#marquee1").kxbdMarquee({direction:"left"});
    });
    </script>
    <script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}home/topics.js"></script>
</body>
</html>