<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <meta charset="UTF-8">
    <title>河北赤城凤凰山生命纪念园_{$Think.config.SITE_NAME}</title>
    <meta name='keywords' content='河北赤城凤凰山生命纪念园,河北赤城凤凰山生命纪念园简介，河北赤城凤凰山生命纪念园墓型' />
    <meta name="description" content="凤凰山生命纪念园以人文纪念、文化艺术为主体，以生态学和园林景观为载体，融儒、释、道文化为一炉。其布局和建筑形制取法于“易理”、“五行”，循“一线绕三环”的路径，尽显传统殡葬文化之精华，真可谓“一片安魂净土，更与天地融”。" />
    <link href="{$Think.const.CSS_URL}topics/hbfhs.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.CSS_URL}topics/header.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 顶部 -->
<include file="Common:head_topics" />
<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
    <div class="contain">
        <ul>
            <li class="currter"><a href="#" title="河北赤城凤凰山">河北赤城凤凰山</a></li>
            <li><a href="#2F" title="陵园简介">陵园简介</a></li>
            <li><a href="#3F" title="陵园墓型">陵园墓型</a></li>
            <li><a href="#4F" title="陵园风景">陵园风景</a></li>
            <li><a href="#5F" title="陵园资质">陵园资质</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div><!-- topics_nav导航结束 -->
<!-- banner -->
<div class="hbfhs_banner"></div>
<!-- 陵园简介 -->
<div id="2F" class="hbfhs_intro">
   <div class="contain">
       <h2 class="hbfhs_title"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_intro_h2.png" alt="陵园简介"/></h2>
       <!-- 简介文字图片 -->
       <div class="intro_imgtext">
           <img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_intro_img1.png" alt="河北赤城凤凰山公墓"/>
       </div>
       <!-- 简介简介内容 -->
       <div class="intro_main clearfix">
           <img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_intro_img2.jpg" alt="河北赤城凤凰山生命纪念园简介"/>
           <div class="intro_main_text">
               <p>
                   凤凰山生命纪念园其整体规划由著名设计院及风水学家本着保持生态，突显人性理念为核心，以人文纪念、文化艺术为主体，以生态学和园林景观为载体，融儒、释、道文化为一炉。其布局和建筑形制取法于“易理”、“五行”，循“一线绕三环”的路径，呈有序与无序分布，尽显“天人合一、浑然天成”的传统殡葬文化之精华，真可谓“一片安魂净土，更与天地融”。<a href="{:U('/cemetery/detail/'.$store_id)}" title="河北赤城凤凰山生命纪念园">《查看更多》</a>
               </p>
           </div>
       </div><!-- intro_main End -->
       <!-- 民族魂简介 -->
       <div class="intro_mzh">
           <h3>“民族魂”纪念碑落成揭幕 暨“凤凰山杯”首届摄影大赛颁奖仪式</h3>
           <p>
               70年前的8月23日，我党领导的武装力量从日军手中收复了察哈尔省会张家口市，这也标志着平北抗战取得了决定性的胜利。在这个光荣日子70周年纪念日来到的前夕，2015年8月21日，纪念抗战胜利70周年暨“民族魂”纪念碑落成仪式在河北省赤城县凤凰山生命纪念园功勋园<a href="{:U('/cemetery/detail/'.$store_id)}" title="河北赤城凤凰山生命纪念园_民族魂">《查看更多》</a>
           </p>
           <h3>“民族魂”纪念碑落成揭幕 现场盛况</h3>
           <ul>
               <li><a href="{:U('/cemetery/detail/'.$store_id)}" title="河北赤城凤凰山生命纪念园_民族魂"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_intro_img3.jpg" alt="民族魂_河北赤城凤凰山生命纪念园"/></a></li>
               <li><a href="{:U('/cemetery/detail/'.$store_id)}" title="河北赤城凤凰山生命纪念园_民族魂"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_intro_img4.jpg" alt="民族魂_河北赤城凤凰山生命纪念园"/></a></li>
               <li><a href="{:U('/cemetery/detail/'.$store_id)}" title="河北赤城凤凰山生命纪念园_民族魂"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_intro_img5.jpg" alt="民族魂_河北赤城凤凰山生命纪念园"/></a></li>
           </ul>
       </div><!-- intro_mzh 民族魂简介 End -->
   </div><!-- contain End -->
</div><!-- hbfhs_intro 陵园简介 End -->
<!-- 陵园墓型 -->
<div id="3F" class="hbfhs_tomb">
    <div class="contain">
        <h2 class="hbfhs_title"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_tomb_h2.png" alt="陵园墓型"/></h2>
        <ul class="clearfix">
            <volist name="goods" id="vo" key="k">
                <li <if condition="$k%4==0">class="last"</if>>
                    <img src="{$vo.Img.image_url}" alt="{$vo.goods_name}_河北赤城凤凰山生命纪念园"/>
                    <p>{$vo.goods_name|msubstr=0,12}</p>
                    <a href="{:U('/order/'.$vo['store_id'])}" target="_blank" title="河北赤城凤凰山生命纪念园">立即预定</a>
                </li>
            </volist>
        </ul>
    </div><!-- contain -->
</div><!-- hbfhs_tomb 陵园墓型 End -->
<!-- 陵园风景 -->
<div id="4F" class="hbfhs_scenery">
    <div class="contain">
        <h2 class="hbfhs_title"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_scenery_h2.png" alt="陵园风景_河北赤城凤凰山生命纪念园"/></h2>
        <ul class="clearfix">
            <li><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_scenery_img1.jpg" alt="陵园风景_河北赤城凤凰山生命纪念园"/></li>
            <li class="last"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_scenery_img2.jpg" alt="陵园风景_河北赤城凤凰山生命纪念园"/></li>
            <li><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_scenery_img3.jpg" alt="陵园风景_河北赤城凤凰山生命纪念园"/></li>
            <li><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_scenery_img4.jpg" alt="陵园风景_河北赤城凤凰山生命纪念园"/></li>
            <li class="last"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_scenery_img5.jpg" alt="陵园风景_河北赤城凤凰山生命纪念园"/></li>
        </ul>
    </div><!-- contain End -->
</div><!-- hbfhs_scenery 陵园风景 End -->
<!-- 陵园资质 -->
<div id="5F" class="hbfhs_aptitude">
    <div class="contain">
        <h2 class="hbfhs_title"><img src="{$Think.const.IMG_URL}topics/hbfhs/hbfhs_aptitude_h2.png" alt="陵园墓型_河北赤城凤凰山生命纪念园"/></h2>
        <!-- 陵园资质内容 -->
        <div class="aptitude_main">
            <div id="marquee1">
                <ul>
                    <volist name='zizhi' id='vo'>
                        <li><img src="{$vo.image_url}" alt="河北赤城凤凰山生命纪念园"/></li>
                    </volist>
                </ul>
            </div>
        </div><!-- aptitude_main 陵园资质内容 End -->
    </div>
</div><!-- hbfhs_aptitude 陵园资质 End -->
<!-- 底部 -->
<div class="topics_footer">
    <p>{$Think.config.BEIAN_INFO}</p>
</div><!-- topics_footer end -->

<!-- 陵园资质jquery.kxbdMarquee.js -->
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}jquery.kxbdmarquee.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/topics.js"></script>
</body>
</html>