<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <meta charset="UTF-8">
    <title>清明节由来、清明扫墓由来、清明节习俗、清明节传说、清明节禁忌等尽在91搜墓网</title>
    <meta name="keywords" content="清明节,清明节的由来,清明节的来历,清明扫墓,清明节习俗,踏青节,清明节是几月几日,清明节传说,清明节禁忌" />
    <meta name="description" content="清明节专题页面为您介绍清明节由来、清明扫墓、清明节习俗、清明节传说、清明节禁忌等清明节（也叫踏青节）相关知识。其它清明节相关问题请拨打91搜墓网热线400-8010-344"。/>
    <link href="{$Think.const.CSS_URL}topics/qingming/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.CSS_URL}topics/header.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.CSS_URL}screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
</head>
<body>
<include file="Common:head_topics" />

<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
	<div class="contain">
		<ul>
			<li class="currter"><a href="#">清明节</a></li>
			<li><a href="#2F">传说与由来</a></li>
			<li><a href="#3F">节日禁忌</a></li>
			<li><a href="#4F">文化内涵</a></li>
			<li><a href="#5F">文化习俗</a></li>
			<div class="clear"></div>
		</ul>
	</div>
</div><!-- topics_nav导航结束 -->
<div class="qm_banner"></div>
<!-- 内容 -->
<div class="qm_main">
	<!-- 清明节传说与由来 -->
	<div class="qm_origin" id="2F">
		<div class="contain">
			<!-- 标题 -->
			<h2 class="qm_title"><img src="{$Think.const.IMG_URL}topics/qingming/qm_origin_title.jpg"/></h2>
			<!-- 传说与由来内容 -->
			<div class="qm_origin_main clearfix">
				<ul>
					<li>
						<h3>清明节的起源，据传始于古代帝王将相“墓祭”之礼，后来民间亦相仿效，于此日祭祖扫墓</h3>
						<div class="clearfix"  title="清明节的起源，据传始于古代帝王将相“墓祭”之礼，后来民间亦相仿效，于此日祭祖扫墓" >
							<div class="qm_origin_img_left">
								<img src="{$Think.const.IMG_URL}topics/qingming/qm_origin_leftimg1.png" alt="清明节习俗起源" />
							</div>
							<div class="qm_origin_img_right">
								<a target="_blank" href="http://www.91soumu.com/news/detail/4961.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_origin_img1.jpg" /></a>
							</div>
						</div>
						<p>历代沿袭而成为中华民族一种固定的风俗。本来，寒食节与清明节是两个不同的节日，到了唐朝，将祭拜扫墓的日子定为寒食节。<a  target='_blank' href="http://www.91soumu.com/news/detail/4961.html"><<查看详情>></a></p>
					</li>
					<li>
						<h3>我国传统的清明节大约始于周代，已有二千五百多年的历史。清明最开始是一个很重要的节气，清明一到，气温升高</h3>
						<div class="clearfix" title="我国传统的清明节大约始于周代，已有二千五百多年的历史。清明最开始是一个很重要的节气，清明一到，气温升高">
							<div class="qm_origin_img_left">
								<img src="{$Think.const.IMG_URL}topics/qingming/qm_origin_leftimg2.png" alt="清明节的由来与传说" />
							</div>
							<div class="qm_origin_img_right">
								<a  target="_blank" href="http://www.91soumu.com/news/detail/3325.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_origin_img2.jpg" alt="清明节的由来与传说" /></a>
							</div>
						</div>
						<p>正是春耕春种的大好时节，故有 “ 清明前后，种瓜种豆 ” 。“ 植树造林，莫过清明 ” 的农谚。后来 <a  target='_blank' href="http://www.91soumu.com/news/detail/3325.html"><<查看详情>></a></p>
					</li>
					<li class="last">
						<h3>清明节，又叫踏青节，是我国传统节日，在每年公历四月五日前后。这时，万物沉睡的严冬过去</h3>
						<div class="clearfix" title="清明节，又叫踏青节，是我国传统节日，在每年公历四月五日前后。这时，万物沉睡的严冬过去">
							<div class="qm_origin_img_left">
								<img src="{$Think.const.IMG_URL}topics/qingming/qm_origin_leftimg3.png" alt="清明节祭扫坟墓的由来" />
							</div>
							<div class="qm_origin_img_right">
								<a target="_blank" href="http://www.91soumu.com/news/detail/3527.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_origin_img3.jpg" alt="清明节祭扫坟墓的由来" /></a>
							</div>
						</div>
						<p>万象更新的春天来到。到处是春光明媚，草木萌动的清明景象。“清明时节雨纷纷，路上行人欲断魂；借问酒家何处有<a  target='_blank' href="http://www.91soumu.com/news/detail/3527.html"><<查看详情>></a></p>
					</li>
				</ul>
			</div><!-- qm_origin_main传说与由来内容结束 -->
		</div><!-- contain -->
	</div><!-- qm_origin清明节由来结束 -->
	<!-- 节日禁忌 -->
	<div class="qm_taboos" id="3F">
		<div class="contain">
			<!-- 标题 -->
			<h2 class="qm_title"><img src="{$Think.const.IMG_URL}topics/qingming/qm_taboos_title.jpg"/></h2>
			<!-- 禁忌内容 -->
			<div class="qm_taboos_main clearfix">
				<ul>
					<li>
						<div class="clearfix">
							<div class="qm_taboos_img_left">
                                                            <img src="{$Think.const.IMG_URL}topics/qingming/qm_taboos_leftimg1.png" alt="清明扫墓9个常识与禁忌" />
							</div>
							<div class="qm_taboos_img_right" title="清明扫墓9个常识与禁忌">
								<a  target="_blank"  href="http://www.91soumu.com/news/detail/4960.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_taboos_img1.jpg" alt="清明扫墓9个常识与禁忌" /></a>
							</div>
						</div>
						<p>1、清明祭祀为何说“清明拜山”此处的清明拜山指的是扫墓的意思，江南及南方诸多墓园在山上，故称为拜山。<a target='_blank' href="http://www.91soumu.com/news/detail/4960.html"><<查看详情>></a></p>
					</li>
					<li>
						<div class="clearfix">
							<div class="qm_taboos_img_left">
								<img src="{$Think.const.IMG_URL}topics/qingming/qm_taboos_leftimg2.png" alt="清明祭祀注意事项之扫墓" />
							</div>
							<div class="qm_taboos_img_right" title="清明祭祀注意事项之扫墓">
								<a target="_blank" href="http://www.91soumu.com/news/detail/3343.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_taboos_img2.jpg" alt="清明祭祀注意事项之扫墓" /></a>
							</div>
						</div>
						<p>扫墓俗称上坟，是祭祀祖先的一种活动。汉族和一些少数民族大多都是在清明节扫墓。按照旧时习俗，扫墓时<a target='_blank' href="http://www.91soumu.com/news/detail/3343.html"><<查看详情>></a></p>
					</li>
					<li class="last">
						<div class="clearfix">
							<div class="qm_taboos_img_left">
								<img src="{$Think.const.IMG_URL}topics/qingming/qm_taboos_leftimg3.png" alt="清明节扫墓禁忌及礼仪" />
							</div>
							<div class="qm_taboos_img_right" title="清明节扫墓禁忌及礼仪">
								<a target='_blank' href="http://www.91soumu.com/news/detail/1866.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_taboos_img3.jpg" alt="清明节扫墓禁忌及礼仪" /></a>
							</div>
						</div>
						<p>清明节扫墓是我国清明节最大的也是最为普遍的风俗，每到清明节，不管是在外做官的还是打工的，或者是在家务农的人<a target='_blank' href="http://www.91soumu.com/news/detail/1866.html"><<查看详情>></a></p>
					</li>
				</ul>
			</div><!-- qm_taboos_main禁忌内容结束 -->
		</div><!-- contain -->
	</div><!-- qm_taboos节日禁忌结束 -->
	<!-- 好雨知时节 —— 文化内涵 -->
	<div class="qm_connotation" id="4F">
		<div class="contain">
			<!-- 标题 -->
			<h2 class="qm_title"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_title.jpg"/></h2>
			<!-- 文化内涵内容 -->
			<div class="qm_connotation_maina">
				<ul>
					<li>
						<div class="clearfix">
							<div class="qm_connotation_img_left">
								<img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_leftimg1.png" alt="清明节祭祀的传统习俗" />
							</div>
							<div class="qm_connotation_img_right" title='清明节祭祀的传统习俗'>
								<a target='_blank' href="http://www.91soumu.com/news/detail/1228.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_img1.jpg" alt="清明节祭祀的传统习俗" /></a>
							</div>
						</div>
						<p>清明，既是二十四节气之一，又是我国一个传统节日。《岁时百问》曰："万物生长此时，式。"宋代朝<a target='_blank' href="http://www.91soumu.com/news/detail/1228.html"><<查看详情>></a></p>
					</li>
					<li class="center">
						<div class="clearfix">
							<div class="qm_connotation_img_left">
								<img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_leftimg2.png" alt="清明节也是“感恩节”“孝亲节”" />
							</div>
							<div class="qm_connotation_img_right" title='清明节也是“感恩节”“孝亲节”'>
								<a target='_blank' href="http://www.91soumu.com/news/detail/3431.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_img2.jpg"/></a>
							</div>
						</div>
						<p>祭祀是一项仪式活动，而在清明节祭祀祖先是我国民间日常生活中的一种仪式性道德文化，是儒家<a  target='_blank' href="http://www.91soumu.com/news/detail/3431.html"><<查看详情>></a></p>
					</li>
					<li>
						<div class="clearfix">
							<div class="qm_connotation_img_left">
								<img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_leftimg3.png" alt="清明祭祀:以感恩纪念" />
							</div>
							<div class="qm_connotation_img_right" title='清明祭祀:以感恩纪念'>
								<a target='_blank' href="http://www.91soumu.com/news/detail/3339.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_img3.jpg" alt="清明祭祀:以感恩纪念" /></a>
							</div>
						</div>
						<p>“清明时节雨纷纷，路上行人欲断魂。借问酒家何处有？牧童遥指杏花村。”“春城无处不飞花，寒食东 <a target='_blank' href="http://www.91soumu.com/news/detail/3339.html"><<查看详情>></a></p>
					</li>
				</ul>
			</div><!-- qm_connotation_maina文化内涵内容结束 -->
			<!-- 标题 -->
			<h2 class="qm_title"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_titleB.jpg"/></h2>
			<!-- 文化内涵——润物细无声 -->
			<div class="qm_connotation_mainb clearfix">
				<ul>
					<li title='民俗专家：清明节的节日' >
						<h3>民俗专家：清明节的节日...</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/4398.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_mainb_img1.jpg" alt="民俗专家：清明节的节日" /></a>
						<p>在很多人看来，清明节就是扫墓的节日。民俗专家表示，这话只说对了一半，清明节的文化内涵不仅是缅怀故人，也有亲近自然、珍爱生命的意味，它的节日精神是“将生死并置”。</p>
						<p>山东省民俗学会副秘书长张勃说，清明作为节气最早出现于先...<a target='_blank' href="http://www.91soumu.com/news/detail/4398.html">《查看详情》</a></p>
					</li>
					<li title='清明节前的关于亲人的那些鬼梦'>
						<h3>清明节前的关于亲人的那些鬼梦</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/3700.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_mainb_img2.jpg" alt="清明节前的关于亲人的那些鬼梦" /></a>
						<p>这些天，找解梦的关于去世亲人的梦境的越来越多了，我曾经说中国人会在几个节日前集中做去世亲人相关的梦境，这几个节日是春节，清明节，中元节，中秋节。清明节和中元节是和祭祀相关的节日，春节和中秋节是团圆相关的节日，这都会让国人更容...<a target='_blank' href="http://www.91soumu.com/news/detail/3700.html">《查看详情》</a></p>
					</li>
					<li title='从清明节看复兴中国传统文化'>
						<h3>从清明节看复兴中国传统文化...</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/3273.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_mainb_img3.jpg" alt="从清明节看复兴中国传统文化的意义：慎终追远" /></a>
						<p>香港《文汇报》发表社评指出，清明节的意义，在于慎终追远。在新时代意义中的清明节，除了扫墓祭拜祖先，表达子孙对先人的追思外，更重要的是要遵循祖先的教诲及发扬传统文化的美德。.古人描绘清明的景象是：“南北山头多墓田，清明祭扫各纷...<a  target='_blank' href="http://www.91soumu.com/news/detail/3273.html">《查看详情》</a></p>
					</li>
					<li class="last" title='清明踏青:可追溯至孔子的时代'>
						<h3>清明踏青:可追溯至孔子的时代</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/1865.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_connotation_mainb_img4.jpg" alt="清明踏青:可追溯至孔子的时代" /></a>
						<p>清明节也叫踏青节，关于清明节踏青之说，可以一直追溯到孔子那里。《论语》记载，孔子有一次与他的弟子在一起讨论人生志向，孔子的弟子曾晳说：“暮春时节，穿着刚做好的春服，与五六个朋友，六七个小孩，到沂水去沐浴，并随风起舞，洗...<a target='_blank' href="http://www.91soumu.com/news/detail/1865.html">《查看详情》</a></p>
					</li>
				</ul>
			</div><!-- qm_connotation_mainb文化内涵——润物细无声结束 -->
		</div><!-- contain -->
	</div><!-- qm_connotation好雨知时节 —— 文化内涵结束 -->
	<!-- 文化习俗 -->
	<div class="qm_custom" id="5F">
		<div class="contain">
			<!-- 标题 -->
			<h2 class="qm_title"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_title.jpg"/></h2>
			<!-- 文化习俗内容 -->
			<div class="qm_custom_main clearfix">
				<ul>
					<li title='中华四大鬼节之清明节'>
						<h3>中华四大鬼节之清明节</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/3356.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img1.jpg" alt="中华四大鬼节之清明节" /></a>
						<P>在中国，清明最早是一个节气。民据民俗专家介绍，每年4月5日前后，太阳到达黄经15度时为清明节气开始。《淮南子?天文训》中说：“春分后十五日，斗指乙，则清明风至。...<a target='_blank' href="http://www.91soumu.com/news/detail/3356.html">《查看详情》</a></P>
					</li>
					<li title='清明节纪念方式：扫墓'>
						<h3>清明节纪念方式：扫墓</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/4957.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img2.jpg" alt="清明节纪念方式：扫墓" /></a>
						<P>清明节纪念祖先有多种形式：扫墓是清明节最早的一种习俗，这种习俗延续到今天，已随着社会的进步而逐渐简化。扫墓当天，子孙们先将先人的坟墓及周围的杂草修整和清理，...<a target='_blank' href="http://www.91soumu.com/news/detail/4957.html">《查看详情》</a></P>
					</li>
					<li title='清明节历史由来'>
						<h3>清明节历史由来...</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/2048.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img3.jpg" alt="清明节历史由来：古时候竟然是“美食节”" /></a>
						<P>清明时节踏青、野餐的历史,自古有之。古代清明节就是一个“美食节”,不仅有很多时令美食在这个春暖花开的季节上市,而且清明节和古代的“寒食节”的习俗在今天逐渐重合。...<a target='_blank' href="http://www.91soumu.com/news/detail/2048.html">《查看详情》</a></P>
					</li>
					<li title='清明节习俗：扫墓祭祖'>
						<h3>清明节习俗：扫墓祭祖...</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/1861.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img4.jpg" alt="清明节习俗：扫墓祭祖、踏青赏花" /></a>
						<P>清明节习俗是指在清明节前后进行的祭奠先人的习惯风俗。清明节是中国最重要的传统节日之一。它不仅是人们祭奠祖先、缅怀先烈的节日，也是中华民族认祖归宗的纽带，更重要的是认...<a target='_blank' href="http://www.91soumu.com/news/detail/1861.html">《查看详情》</a></P>
					</li>
					<li class="last" title='清明丧葬习俗：“挂纸”...'>
						<h3>清明丧葬习俗：“挂纸”...</h3>
						<a  target='_blank' href="http://www.91soumu.com/news/detail/1864.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img5.jpg" alt="清明丧葬习俗：“挂纸”祭先人" /></a>
						<P>清明是我国二十四节候之一，也是我国民间的传统节日。清明按农历计没有固定的月和日，一般在二月或三月，即上一年的冬至过了106天就是清明;民间将扫墓称为“挂纸”或“...<a  target='_blank' href="http://www.91soumu.com/news/detail/1864.html">《查看详情》</a></P>
					</li>
					<li title='清明祭祖扫墓的几种不同...'>
						<h3>清明祭祖扫墓的几种不同...</h3>
						<a  target='_blank' href="http://www.91soumu.com/news/detail/4958.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img6.jpg"/></a>
						<P>清明扫墓是古代的传统，每年到了清明时节，在世的人为了纪念自己祖先，都要给自己的祖先上墓，添香，以表示到祖先的尊敬，谓之对祖先的“思时之敬”。其习俗由来已久。...<a  target='_blank' href="http://www.91soumu.com/news/detail/4958.html">《查看详情》</a></P>
					</li>
					<li title='清明节插柳的风俗'>
						<h3>清明节插柳的风俗</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/4959.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img7.jpg"/></a>
						<P>据说，插柳的风俗，也是为了纪念“教民稼穑”的农事祖师神农氏的。有的地方，人们把柳枝插在屋檐下，以预报天气，古谚有“柳条青，雨蒙蒙；柳条干，晴了天”的说法。...<a target='_blank' href="http://www.91soumu.com/news/detail/4959.html">《查看详情》</a></P>
					</li>
					<li title='海南清明习俗'>
						<h3>海南清明习俗</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/1868.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img8.jpg" alt="海南清明习俗：吟诵祖训供祭品添孝道" /></a>
						<P>风俗各异过清明</P>
						<p>海南人过清明节，扫墓祭祖、踏青郊游是基本内容，但十里不同风、百里不同俗，部分地区清明习俗也略有不同。文昌、琼海等地一些村庄，一般不...<a target='_blank' href="http://www.91soumu.com/news/detail/1868.html">《查看详情》</a></P>
					</li>
					<li title='福州清明节习俗'>
						<h3>福州清明节习俗</h3>
						<a target='_blank'  href="http://www.91soumu.com/news/detail/4965.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img9.jpg"/></a>
						<P>清明节是我国一个传统的扫墓祭祖节日，但福州的清明节却有其独特的风俗，每年清明节前后，福州市民家家户户都要去郊外踏青，为祖先扫墓、压纸、培土。扫墓完毕后，必须...<a target='_blank' href="http://www.91soumu.com/news/detail/4965.html">《查看详情》</a></P>
					</li>
					<li class="last" title='山西清明节习俗'>
						<h3>山西清明节习俗</h3>
						<a target='_blank' href="http://www.91soumu.com/news/detail/4964.html"><img src="{$Think.const.IMG_URL}topics/qingming/qm_custom_img10.jpg" alt="山西清明节习俗：打秋千" /></a>
						<P>山西旧有“清明细雨催人哀，漠漠（土番）头野花开，手端祭品肩扛锹，都为先坟上土来”的民谣，生动地概括了当时人们的心情与扫墓的特点。春天，民间多修补房舍，以防夏...<a target='_blank' href="http://www.91soumu.com/news/detail/4964.html">《查看详情》</a></P>
					</li>
				</ul>
			</div><!-- qm_custom_main文化习俗内容结束 -->
		</div><!-- contain -->
	</div><!-- custom文化习俗结束 -->
</div><!-- qm_main内容结束 -->
<!-- 底部 -->
<div class="qm_footer"></div>
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/topics.js"></script>
</body>
</html>