<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>上海青浦福寿园_简介_墓位_墓型_{$Think.config.SITE_NAME}</title>
    <meta name='keywords' content="上海青浦福寿园简介，上海青浦福寿园墓型展示，墓型介绍，墓位介绍" />
    <meta name='description' content="上海福寿园以人文艺术理念、以公园为主体的环境建设和现代企业经营模式,园区有各种墓型、墓位：艺术墓、传统墓、草坪墓等。目前已有汪道涵、章士钊、曹聚仁等600多位名人安息其中" />
    <link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/shqpfsy/index.css"/>
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/shqpfsy/topic.css"/>
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/shqpfsy/style.css" />
</head>
<body>
<include file="Common:head_topics" />
<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
    <div class="contain">
        <ul>
            <li class="currter"><a href="javascript:void(0)">青浦福寿园</a></li>
            <li><a href="#2F">陵园简介</a></li>
            <li><a href="#3F">陵园园区</a></li>
            <li><a href="#4F">陵园活动</a></li>
            <li><a href="#5F">陵园墓型</a></li>
            <li><a href="#6F">名人墓地</a></li>
            <li><a href="#7F">葬式介绍</a></li>
            <li><a href="#8F">陵园荣誉</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div><!-- nav导航结束 -->
<!-- 中间内容 -->
<div class="box">
    <!-- 陵园简介 -->
    <div class="introduce" id="2F">
        <!-- 左侧 -->
        <div class="intro_left">
            <!-- 轮播图 -->
            <div id="duce" class="flexslider">
                <ul class="slides">
                    <li><div class="img"><img src="{$Think.const.IMG_URL}topics/shqpfsy/introduce_img1.jpg" height="232" width"900" alt="" /></div></li>
                    <li><div class="img"><img src="{$Think.const.IMG_URL}topics/shqpfsy/introduce_img2.jpg" height="232" width"900" alt="" /></div></li>
                    <li><div class="img"><img src="{$Think.const.IMG_URL}topics/shqpfsy/introduce_img3.jpg" height="232" width"900" alt="" /></div></li>
                    <li><div class="img"><img src="{$Think.const.IMG_URL}topics/shqpfsy/introduce_img4.jpg" height="232" width"900" alt="" /></div></li>
                    <li><div class="img"><img src="{$Think.const.IMG_URL}topics/shqpfsy/introduce_img5.jpg" height="232" width"900" alt="" /></div></li>
                </ul>
            </div><!--flexslider轮播图 -->
            <div class="intor">
                <p>福寿园集团成立于2003年，是一家在上海、重庆、合肥、济南、郑州、锦州、厦门、南昌八个城市拥有22个分公司的中国殡葬业旗舰集团，产业涵盖公墓、殡仪、殡葬设备等领域。其中母体公司上海福寿园创建于1994年，是目前全国公墓业首屈一指的品牌企业，建成了中国首座人文纪念公园。2008年，上海福寿园以人文艺术理念、以公园为主体的环境建设和现代企业经营模式，被世界殡葬协会列入世界十大公墓，并冠以“东方最美的墓园”之名。</p>
                <p>上海福寿园地处青浦城南，毗邻松江，山清水秀，古称三泖九峰，是六千年崧泽文化的发源地。目前已有汪道涵、章士钊、曹聚仁等600多位名人安息其中。园区占地一千多亩，优美的自然景色、独特的人文景观以及风格迥异的艺术雕塑，使整个园区气势恢宏、风范典雅....【<a href="{:U('cemetery/detail/118')}" target="_blank">查看更多</a>】</p>
            </div>
        </div><!-- 左侧结束 -->
        <div class="intor_right">
            <img src="{$Think.const.IMG_URL}topics/shqpfsy/introduce.png"/>
        </div>
        <div class="clear"></div>
    </div><!-- introduce陵园简介结束 -->
    <!-- 内容 -->
    <div class="main">
        <!-- 园区 -->
        <div class="garden" id="3F">
            <!-- 左侧 -->
            <div class="garden_left">
                <img src="{$Think.const.IMG_URL}topics/shqpfsy/garden.png"/>
            </div>
            <!-- 右侧 -->
            <div class="graden_right">
                <!-- 园内容 -->
                <ul class="gra">
                    <!-- 轮播1 -->
                    <li>
                        <div class="graden_box">
                            <div class="gra_main">
                                <div class="tu"><img src="{$Think.const.IMG_URL}topics/shqpfsy/garden_img1.jpg" width="156" height="156"/></div>
                                <div class="describe">
                                    <h2>怀瑾园</h2>
                                    <p>“瑾”指美玉，比喻人具有高尚的品格。怀瑾园属于商品艺术墓区，具有极强的现代感和艺术感。</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="gra_main last">
                                <div class="tu"><img src="{$Think.const.IMG_URL}topics/shqpfsy/garden_img2.jpg" width="156" height="156"/></div>
                                <div class="describe">
                                    <h2>明拙园</h2>
                                    <p>取自“大智若愚，自甘守拙”特指谦虚容让的传统美德。</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="gra_main">
                                <div class="tu"><img src="{$Think.const.IMG_URL}topics/shqpfsy/garden_img3.jpg" width="156" height="156"/></div>
                                <div class="describe">
                                    <h2>四季花园</h2>
                                    <p>小型艺术墓区，将墓碑与玫瑰有机结合，营造成鲜花盛开的花园。</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="gra_main last">
                                <div class="tu"><img src="{$Think.const.IMG_URL}topics/shqpfsy/garden_img4.jpg" width="156" height="156"/></div>
                                <div class="describe">
                                    <h2>锡宁园</h2>
                                    <p>谚语有云：有锡争，无锡宁。意指避免纷争祸乱，追求和平安详的生活。</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                    <!-- 轮播2 -->
                    <li>
                        <div class="graden_box">
                            <div class="gra_main">
                                <div class="tu"><img src="{$Think.const.IMG_URL}topics/shqpfsy/garden_img1.jpg" width="156" height="156"/></div>
                                <div class="describe">
                                    <h2>泉水人家</h2>
                                    <p>以老济南风貌为主题的泉文化墓区，建有济南八景、72名泉等景观，将荷花、泉水、济南民居有机结合，体现济南深厚的文化底蕴和鲜明的民俗风情。</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="gra_main">
                                <div class="tu"><img src="{$Think.const.IMG_URL}topics/shqpfsy/garden_img2.jpg" width="156" height="156"/></div>
                                <div class="describe">
                                    <h2>钟灵园</h2>
                                    <p>取自“钟灵毓秀”，与钟灵湖相邻，是安葬名人名家的雕塑专区，彰显大家风范。京剧大师方荣翔、国画大家王天池、爱心歌手良子安葬于此。</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                    
                    <div class="clear"></div>
                </ul><!-- gra园内容结束 -->
                <ul class="garnav">
                    <li><a class="thline" href="0"></a></li>
                    <li><a href="-870"></a></li>
                    <div class="clear"></div>
                </ul>
            </div><!-- graden_right园区右侧结束 -->
            <div class="clear"></div>
        </div><!-- garden园区结束 -->
        <!-- 活动 -->
        <div class="activity" id="4F">
            <!-- 左侧 -->
            <div class="activity_left">
                <!-- tab切换活动内容 -->
                <ul class="activity_main">
                    <volist name='storeNews' id='vo' key='k'>
                    <li id="tab{$k}" class="activity_box">
                        <div class="activity_intor">
                            <a href="{:U('/news/detail/'.$vo[id])}" title="{$vo.title}" target='_blank'>
                                <img src="{$vo.image_url}"/>
                                <p>{$vo.title}</p>
                            </a>
                        </div>
                    </li>
                    </volist>
                </ul>
                <!-- tab标题 -->
                <div class="activity_title">
                    <ul id="activity_nav">
                        <volist name='storeNews' id='vo' key='k'>
                            <li><a href="{:U('/news/detail/'.$vo[id])}" tab="tab{$k}" title="{$vo.title}" target='_blank'><span>{$k}</span>{$vo.title|msubstr=0,19}</a></li>
                        </volist>
                    </ul>
                </div>
                <div class="clear"></div>
            </div><!-- activity_left活动左侧结束 -->
            <!-- 活动右侧 -->
            <div class="activity_right">
                <img src="{$Think.const.IMG_URL}topics/shqpfsy/activity.png"/>
            </div><!-- activity_right活动右侧结束 -->
            <div class="clear"></div>
        </div><!-- activity活动结束 -->
        <!-- 墓型 -->
        <div class="tombtype" id="5F">
            <h1><img src="{$Think.const.IMG_URL}topics/shqpfsy/tombtype.png"/></h1>
            <!-- 墓型内容 -->
            <ul>
                <volist name="goods" id="vo" key="k">
                <li <if condition="$k%4==0">class="last"</if>>
                    <img src="{$vo.Img.image_url}"/>
                    <div class="describe">
                        <p>{$vo.goods_name|msubstr=0,12}</p>
                        <a href="{:U('/order/'.$vo['store_id'])}" target="_blank">预约看墓</a>
                        <div class="clear"></div>
                    </div>
                </li>
                </volist>
                <div class="clear"></div>
            </ul><!-- ul墓型内容结束 -->
            <p><a href="/cemetery/tomb-{$store_id}" target="_blank">查看更多》</a></p>
        </div><!-- tombtype墓型结束 -->
        <!-- 名人墓地 -->
        <div class="celebrities" id="6F">
            <!-- 名人墓地左侧 -->
            <div class="celebrities_left">
                <img src="{$Think.const.IMG_URL}topics/shqpfsy/celebrities.png"/>
            </div>
            <!-- 名人墓地右侧 -->
            <div class="celebrities_right">
                <!-- 名人墓地内容 -->
                <div id="cele_focus">
                    <ul>
                        <volist name="mrmd" id="vo" key="k">
                        <li>
                            <a <eq name="k" value="4"> class='abstract'</eq> href="{:U('/cemetery/famous-d-'.$vo['id'])}" >
                                <img src="{$vo.image_url}"/>
                                <p>{$vo.summary|msubstr=0,120}</p>
                            </a>
                        </li>
                        </volist>
                        <div class="clear"></div>
                    </ul>
                </div><!-- cele_focus名人墓地内容结束 -->				
            </div><!-- celebrities_right名人墓地右侧结束 -->
            <div class="clear"></div>
        </div><!-- celebrities名人墓地结束 -->
        <!-- 葬式介绍 -->
        <div class="burialform" id="7F">
            <!-- 葬式介绍左侧 -->
            <div class="burialform_left">
                <ul>
                    <li>
                        <a href="/news/detail/833.html">
                            <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform_img1.jpg"/>
                            <div class="referral">
                                <h2>草坪葬</h2>
                                <p>草坪葬，源于西方流行于东方的葬式。是一种在草坪上植入墓穴，将骨灰盒放置其中，将墓盖和</p>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="/news/detail/835.html">
                            <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform_img2.jpg"/>
                            <div class="referral">
                                <h2>花坛葬</h2>
                                <p>花坛葬是墓葬与树葬的创新，它改变了传统公墓死板、无生机的形式，用花坛</p>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform_img3.jpg"/>
                            <div class="referral">
                                <h2>室内葬</h2>
                                <p>室内葬分为传统馆、海派馆和佛教馆。普通馆每间约40平方，三面墙上分成大小不同的一格一格，</p>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="/news/detail/836.html">
                            <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform_img4.jpg"/>
                            <div class="referral">
                                <h2>树葬</h2>
                                <p>树葬是指把骨灰深埋在一棵指定的大树下，或者把骨灰撒在土壤里，上面种上一</p>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a href="/news/detail/839.html">
                            <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform_img5.jpg"/>
                            <div class="referral">
                                <h2>艺术墓</h2>
                                <p>艺术墓是根据死者的生平而专门设计的墓型，是艺术化与个性化的高度结合，文化品味很高，充</p>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="/news/detail/838.html">
                            <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform_img6.jpg"/>
                            <div class="referral">
                                <h2>中式墓</h2>
                                <p>中式墓是成品墓中的一种，它的主要特征体现在墓碑上。中式墓的墓碑由主墓碑、左右和上部的</p>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform_img7.jpg"/>
                            <div class="referral">
                                <h2>名人艺术墓葬</h2>
                                <p>艺术墓是根据死者的生平而专门设计的墓型，是艺术化与个性化的高度结合，文化品味很高，</p>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="last">
                        <a href="/news/detail/837.html">
                            <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform_img8.jpg"/>
                            <div class="referral">
                                <h2>壁葬</h2>
                                <p>壁葬是将骨灰盒嵌在墙壁内的丧葬方式，在安葬死者的同时为后人留福，是一种先进的殡葬理念</p>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div><!-- burialform_left葬式介绍左侧结束 -->
            <!-- 葬式介绍右侧 -->
            <div class="burialform_right">
                <img src="{$Think.const.IMG_URL}topics/shqpfsy/burialform.png"/>
            </div><!-- burialform_right葬式介绍右侧结束 -->
            <div class="clear"></div>
        </div><!-- burialform葬式介绍结束 -->
        <!-- 陵园资质 -->
        <div class="aptitude" id="8F">
            <h1><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude.png"/></h1>
            <!-- 陵园资质内容 -->
            <div class="aptitude_main">
                <div id="marquee1">
                    <ul>
                        <li><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude_img1.jpg"/></li>
                        <li><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude_img2.jpg"/></li>
                        <li><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude_img3.jpg"/></li>
                        <li><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude_img4.jpg"/></li>
                        <li><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude_img1.jpg"/></li>
                        <li><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude_img2.jpg"/></li>
                        <li><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude_img3.jpg"/></li>
                        <li><img src="{$Think.const.IMG_URL}topics/shqpfsy/aptitude_img4.jpg"/></li>
                    </ul>
                </div>
            </div><!-- aptitude_main陵园资质内容结束 -->
        </div><!-- aptitude陵园资质结束 -->
    </div><!-- main内容结束 -->
</div><!-- box中间内容结束 -->
<!-- 底部 -->
<div class="topics_footer">
    <p>{$Think.config.BEIAN_INFO}</p>
</div><!-- topics_footer end -->
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<!-- 介绍轮播slider.js -->
<script type="text/javascript" src="{$Think.const.JS_URL}topics/shqpfsy/slider.js"></script>
<!-- 陵园资质jquery.kxbdMarquee.js -->
<script type="text/javascript" src="{$Think.const.JS_URL}jquery.kxbdmarquee.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/topics.js"></script>
<script type="text/javascript">
//园区点击轮播效果
		$(".garnav a").click(function(){
			var myClick=$(this).attr("href");
			$(".gra").animate({marginLeft:myClick});
			$(".garnav a").removeClass();
			$(this).addClass("thline");
			return false;
		});

    $.jqtab("#activity_nav",".activity_box");
    //名人墓地图片效果
    $(document).ready(function(e) {
        $("#cele_focus .abstract p").css("display","block");
        $("#cele_focus a").hover(function(){
            $(this).stop().animate({width:"340px"},"fast");
            $(this).find("p").css("display","block");
            $("#cele_focus .abstract p").css("display","none");
        },function(){
            $("#cele_focus a").stop().animate({width:"162px"},"fast");
            $(this).find("p").css("display","none");
            $("#cele_focus .abstract p").css("display","block");
        });
    });
   
    $(function(){
        //介绍轮播图
        $('#duce').flexslider({
            animation: "slide",
            direction:"horizontal",
            easing:"swing"
    });
    });
</script>
</body>
</html>