<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中国殡葬协会青年工作委员会_{$Think.config.SITE_NAME}</title>
	 <meta name='keywords' content='91搜墓网,网上公墓,网上预订,预约看墓,购墓,墓地陵园价格,陵园风水,行业动态,搜索平台 殡葬行业,陵园,墓地,风水,陵园环境,墓地价格,公墓,墓型,殡葬协会,生态陵园' />
    <meta name="description" content="中国殡葬协会青年工作委员会，91搜墓网，墓地，陵园，殡仪馆，墓地价格，墓地风水,秉承着做优做精做深殡葬文化的理念，旨在通过墓区景观改造，资源整合，服务提升" />
	<link href="{$Think.const.CSS_URL}topics/yccfa/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- banner -->
<div class="yccfa_banner"></div>
<!-- contain -->
<div class="contain">

	<!-- 殡葬协会介绍 -->
	<div class="yccfa_introduce"><a href="http://www.yccfa.org" title="中国殡葬协会青年工作委员会">
		<p>中国殡葬协会青年工作委员会是中国殡葬协会下属的二级分会，<br/>
		青年工作委员会在中国殡葬协会的直接管理和指导下开展各项工作。<br/>
		是由全国殡葬业有志于推动和培育青年干部后备力量及管理创新的殡葬企业以及研究<br/>
		殡葬业或对殡葬业有热情的青年专家、学者组成的非营利性社会组织。<br/>
		青年工作委员会的宗旨是坚持在中国殡葬协会的正确领导下，<br/>
		坚持以生态环境为基调，以文化创新、理念创新、科技创新为动力，以生命文化为底蕴，<br/>
		帮助青年殡葬业者解决企业在行业内发展过程中遇到的实际困惑和问题，<br/>
		培养青年殡葬从业者的技能，<br/>
		注入国外新理念推动殡葬行业的快速发展，给殡葬业持续注入新的生机与动力。<br />
		</p></a>
	</div><!-- yccfa_introduce 殡葬协会介绍 End -->

	<!-- 青工委活动-历年回顾 -->
	<div class="yccfa_activity">
		<!-- 标题 -->
		<div class="yccfa_activity_title">
			<img src="{$Think.const.IMG_URL}topics/yccfa/yccfa_activity_title.png"/>
		</div>
		<!-- 活动内容 -->
		<div class="yccfa_activity_main clearfix">

			<!-- 活动内容一 -->
			<div class="activity_main activity_main_a clearfix">
				<!-- 活动内容图片 -->
				<div class="activity_main_img">
					<img src="{$Think.const.IMG_URL}topics/yccfa/activity_main_img1.png"/>
				</div>
				<!-- 活动内容简介 -->
				<div class="activity_main_nr">
					<h2><img src="{$Think.const.IMG_URL}topics/yccfa/activity_main_nr_title1.png"/></h2>
					<p>5月14日至17日，由中国殡葬协会青年工作委员会主办、昆明祥和陵园协办的第二届中华陵园行参观交流会在昆明举行。通过交流、现场观摩、实地培训等过程，更深切地了解到殡葬是传承文化的载体，是社会活动的一个重要组成部分，与每一个人的生老病死密切相关，从感官世界和精神思想中体会强烈的个体共鸣和思辨，此次会议中中国殡葬协会会长李建华贺电。</p>
				</div>
				<!-- 背景图片定位 -->
				<span class="pos"></span>
			</div><!-- activity_main_a End -->

			<!-- 活动内容二 -->
			<div class="activity_main activity_main_b clearfix">
				<!-- 活动内容图片 -->
				<div class="activity_main_img">
					<img src="{$Think.const.IMG_URL}topics/yccfa/activity_main_img2.png"/>
				</div>
				<!-- 活动内容简介 -->
				<div class="activity_main_nr">
					<h2><img src="{$Think.const.IMG_URL}topics/yccfa/activity_main_nr_title2.png"/></h2>
					<p>中国殡葬协会青年工作委员会第三次副主任会议于9月23日在四川成都召开。会议对待审批入会个人会员进行了审批和表决，对下期“中华陵园行”活动时间地点及内容进行了探讨和确定。</p>
				</div>
				<!-- 背景图片定位 -->
				<span class="pos"></span>
			</div><!-- activity_main_b End -->

			<!-- 活动内容三 -->
			<div class="activity_main activity_main_c clearfix">
				<!-- 活动内容图片 -->
				<div class="activity_main_img">
					<img src="{$Think.const.IMG_URL}topics/yccfa/activity_main_img3.png"/>
				</div>
				<!-- 活动内容简介 -->
				<div class="activity_main_nr">
					<p>5月18日至22日，由中国殡葬协会青年委员会主办，浙江安贤园，苏州山陵文化委员会，上海滨海古园承办的“中华陵园行”以杭州，苏州，上海三地为交流点，以“探索新理念，弘扬新殡葬”为主题，吸引着全国各中国殡葬行业同仁积极参加。</p>
					<h2><img src="{$Think.const.IMG_URL}topics/yccfa/activity_main_nr_title3.png"/></h2>
				</div>
				<!-- 背景图片定位 -->
				<span class="pos"></span>
			</div><!-- activity_main_c End -->

		</div><!-- yccfa_activity_main 活动内容 End -->
		
		<!-- 总结 -->
		<div class="yccfa_activity_bottom">
			<img src="{$Think.const.IMG_URL}topics/yccfa/yccfa_activity_bottom.png"/>
		</div><!-- yccfa_activity_bottom 总结 End -->

	</div><!-- yccfa_activity 青工委活动-历年回顾 End -->

	<!-- 副主任单位 -->
	<div class="yccfa_unit">
		<!-- 标题 -->
		<h2><img src="{$Think.const.IMG_URL}topics/yccfa/yccfa_unit_h2.png"/></h2>
		<!-- 单位内容 -->
		<div class="yccfa_unit_main">
			<ul class="clearfix">
				<li>
					<h3>卉格苑（北京）科技</h3>
					<p>主任&nbsp;刘鹏</p>
				</li>
				<li>
					<h3>山东京海殡仪服务有限公司</h3>
					<p>副主任&nbsp;梅晓峰</p>
				</li>
				<li class="last">
					<h3>圣川陵园涡阳人文纪念园</h3>
					<p>副主任&nbsp;莫涛涛</p>
				</li>
				<li>
					<h3>上海固名科技合作公司</h3>
					<p>副主任&nbsp;郁真致</p>
				</li>
				<li>
					<h3>大庆市寿山公墓有限公司</h3>
					<p>副主任&nbsp;曲直/曲哲</p>
				</li>
				<li class="last">
					<h3>河北省平山县古中山陵园</h3>
					<p>副主任&nbsp;赵志国</p>
				</li>
				<li>
					<h3>苏州市吴中区木渎山陵文化产业管理委员会</h3>
					<p>副主任&nbsp;骆春燕</p>
				</li>
				<li>
					<h3>运城市天秀生态农业开发有限公司</h3>
					<p>副主任&nbsp;张盼</p>
				</li>
				<li class="last">
					<h3>大乘景观(国际)有限公司</h3>
					<p>副主任&nbsp;周慧芳</p>
				</li>
				<li>
					<h3>安贤园中国控股有限公司</h3>
					<p>副主任&nbsp;施俊</p>
				</li>
				<li>
					<h3>福建磊艺实业有限公司</h3>
					<p>副主任&nbsp;张超凡</p>
				</li>
				<li class="last">
					<h3>莆田市福山陵园有限责任公司</h3>
					<p>副主任&nbsp;黄嘉强</p>
				</li>
				<li>
					<h3>昆明晋龙如意园</h3>
					<p>副主任&nbsp;许文彪</p>
				</li>
				<li>
					<h3>秦皇岛市海涛殡葬用品有限公司</h3>
					<p>副主任&nbsp;孙海波</p>
				</li>
				<li class="last">
					<h3>织金县仙居殡仪有限责任公司</h3>
					<p>副主任&nbsp;付洁</p>
				</li>
				<li>
					<h3>山东智远环保设备有限公</h3>
					<p>副主任&nbsp;丁婕</p>
				</li>
				<li>
					<h3>龙陵县万福生态陵园建设管理有限公司</h3>
					<p>副主任&nbsp;解添超</p>
				</li>
				<li class="last">
					<h3>上海天寿石业有限公司</h3>
					<p>副主任&nbsp;王云鹤</p>
				</li>
				<li>
					<h3>上海至尊园实业股份有限公司</h3>
					<p>副主任&nbsp;付玉泉</p>
				</li>
				<li>
					<h3>武汉汉宇生命文化服务有限公司</h3>
					<p>副主任&nbsp;向颖</p>
				</li>
				<li class="last">
					<h3>上海贤恩企业管理咨询有限公司</h3>
					<p>副主任&nbsp;朱晨艳</p>
				</li>
				<li>
					<h3>浙江净土贸易有限公司</h3>
					<p>副主任&nbsp;傅涛</p>
				</li>
				<li>
					<h3>湖南盛兰联创建筑设计有限公司</h3>
					<p>副主任&nbsp;李爱兰</p>
				</li>
				<li class="last">
					<h3>北京同泰投资管理有限公司</h3>
					<p>副主任&nbsp;殷鹰</p>
				</li>
				<li>
					<h3>安贤园遵义诗乡生态陵园</h3>
					<p>副主任&nbsp;崔波</p>
				</li>
				<li>
					<h3>浙江九如园林工程有限公司</h3>
					<p>副主任&nbsp;温鸿庚</p>
				</li>
				<li class="last">
					<h3>北京天堂祥鹤殡仪服务有限公司</h3>
					<p>副主任&nbsp;池熙龙</p>
				</li>
			</ul>
		</div><!-- yccfa_unit_main 单位内容 End -->
	</div><!-- yccfa_unit 副主任单位 End -->

</div><!-- contain End -->

<!-- 底部 -->
<div class="footer">
	<!-- 底部导航 -->
	<ul>
		<li><a href="{:U('/intro/aboutus')}" target="_blank" title="关于91搜墓网">关于91搜墓网</a></li>
		<li><a href="{:U('/intro/contactus')}" target="_blank" title="联系我们">联系我们</a></li>
		<li><a href="{:U('/intro/sitemap')}" target="_blank" title="网站地图">网站地图</a></li>
		<li><a href="{:U('/intro/joinus')}" target="_blank" title="加盟合作">加盟合作</a></li>
		<li><a href="http://www.yccfa.org" target="_blank" title="中国殡葬协会青年工作委员会官网">中国殡葬协会青年工作委员会官网</a></li>
	</ul>
	<!-- 备案号 -->
	<p>{$Think.config.BEIAN_INFO}</p>
</div><!-- footer 底部 End -->

</body>
</html>