<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>中元节_鬼节_习俗_禁忌_{$Think.config.SITE_NAME}</title>
    <meta name="keywords" content="中元节，鬼节，中元节简介，中元节习俗，中元节禁忌" />
    <meta name="description" content="中元节专题，讲述中元节（鬼节）的来历，中元节在民间有很多的禁忌，中元节的相关习俗等。" />
    <link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/zhongyuanjie/ghostfestival.css"/>
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}topics/zhongyuanjie/topic.css"/>
</head>
<body>
<include file="Common:head_topics" />
<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
    <div class="contain">
        <ul>
            <li class="currter"><a href="#">中元节</a></li>
            <li><a href="#2F">中元节简介</a></li>
            <li><a href="#3F">中元节民俗</a></li>
            <li><a href="#4F">中元节发展</a></li>
            <li><a href="#5F">图说中元</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div><!-- nav导航结束 -->
<!-- 头部 -->
<div class="g_header"></div>
<!-- 中间内容 -->
<div class="g_main">
    <div id="2F" class="g_mainimg">
        <!-- 中元节的来历 -->
        <div class="g_origin">
            <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/origin.png"/>
        </div>
        <!-- 中元节禁忌 -->
        <div class="g_taboo">
            <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/taboo_titleimg.png"/>
            <ul>
                <li><strong>禁忌1：</strong>传说这一天的子夜时分，阴气特别重，在鬼节的时候大家要早点回家呆着。</li>
                <li><strong>禁忌2：</strong>不要把两根筷子插在饭中央。</li>
                <li><strong>禁忌3：</strong>不可去危险水域戏水。</li>
                <li><strong>禁忌4：</strong>不可捡捡路边的钱。</li>
            </ul>
        </div>
        <div class="clear"></div>
        <!-- 中元节民俗 -->
        <div id="3F" class="g_folkcustom">
            <h1><img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_folkcustom_titleimg.png"/></h1>
            <ul>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_folkcustom_img1.jpg"/>
                    <div class="introduce">
                        <h2>中元普渡</h2>
                        <p>七月十五也是佛教盂兰盆节。“孟兰”在佛经中是倒悬的意思，盆是指供品的盛器，所以“盂兰盆”的意思是用来救倒悬痛苦的器物，衍生出来的意思是：用盆子装满百味五果，供养佛陀和僧侣，以拯救入地狱的苦难众生。 </p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_folkcustom_img2.jpg"/>
                    <div class="introduce">
                        <h2>中元祭祖</h2>
                        <p>在七月十五这一天，民间盛行祭祀土地和庄稼。将供品撒进田地。烧纸以后，再用剪成碎条的五色纸，缠绕在农作物的穗子上。传说可以避免冰雹袭击，获得大秋丰收。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="li_bottom">
                    <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_folkcustom_img3.jpg"/>
                    <div class="introduce">
                        <h2>祭祀土地</h2>
                        <p>祭祖节在阴历七月十五日，所以简称为“七月半”祭祖。此时盛夏已经过去，秋凉刚刚开始。民间相信祖先也会在此时返家探望子孙，故需祭祖。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="li_bottom">
                    <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_folkcustom_img4.jpg"/>
                    <div class="introduce">
                        <h2>放河灯</h2>
                        <p>河灯也叫“荷花灯”，河灯一般是在底座上放灯盏或蜡烛，中元夜里放在江河湖海之中，任其漂泛。放河灯的目的，是普渡水中的落水鬼和其他孤魂野鬼。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <div class="clear"></div>
            </ul>
        </div><!-- g_folkcustom中元节民俗结束 -->
        <!-- 中元节的发展 -->
        <div id="4F" class="g_develop">
            <h1><img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_develop_titleimg.png"/></h1>
            <ul>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_develop_img1.jpg"/>
                    <div class="theme">
                        <h2>传承千年的传统祭奠</h2>
                        <p>中元节是中国古代重要的节日。节日这天，人们带上祭品，到坟上去祭奠祖先，与清明节上坟相似。<br/>这一天一到傍晚，家家在天井或大门口摆出供桌，三牲五果，糕点醇酒，红烛清香，祭拜亡灵，然后再烧纸烧锭。还有人张灯结彩，请法师来设坛祭奠、酬谢众神、普度众鬼。中元节是中国古代重要的节日。节日这天，人们带上祭品，到坟上去祭奠祖先，与清明节上坟相似。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_develop_img2.jpg"/>
                    <div class="theme">
                        <h2>绿色生态的网上祭奠</h2>
                        <p>进入新世纪之后，许多的年轻人却对传统祭奠方式感动疑惑，认为点蜡烛、焚纸钱污染空气，可能还会带来火灾隐患。有网友希望能够倡导文明祭祀，用其他的方式缅怀先祖。例如让相关部门规划固定区域，规范祭祀行为。另外一部分网友提倡网上祭奠。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="last">
                    <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_develop_img3.jpg"/>
                    <div class="theme">
                        <h2>多措并举  传承文化</h2>
                        <p>部分中元节研究专家指出，中元节自古就有不进寺庙，野外祭祀的说法。由于不是国家法定节假日没有假期，人们只能选择就近的小区、河堤上进行祭祀活动。或许年轻人认为可以另寻方式，如进行网上，但对于老一辈而言，中元节作为一种传统民俗，在野外祭祀是对先祖的一种纪念方式。然而其实无论哪种祭祀方式都不是最重要，最重要的是通过不同的方式，来对中华传统文化作一个传承。</p>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div><!-- g_develop中元节的发展结束 -->
        <!-- 图说中元节 -->
        <div id="5F" class="g_picture">
            <h1><img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_picture_titleimg.png"/></h1>
            <div class="left">
                <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_picture_img1.jpg"/>
            </div>
            <div class="center">
                <ul>
                    <li class="pictu"><img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_picture_img3.jpg"/></li>
                    <li><img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_picture_img6.jpg"/></li>
                    <li class="last"><img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_picture_img4.jpg"/></li>
                </ul>
            </div>
            <div class="right">
                <img src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_picture_img2.jpg"/>
                <img class="last" src="{$Think.const.IMG_URL}topics/zhongyuanjie/g_picture_img5.jpg"/>
            </div>
            <div class="clear"></div>
        </div><!-- g_picture图说中元节 -->
    </div><!-- g_mainimg中间内容结束 -->
</div><!-- g_main中间内容结束 -->
<div class="topics_footer">
    <p>{$Think.config.BEIAN_INFO}</p>
</div><!-- topics_footer end -->
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/topics.js"></script>
</body>
</html>