<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="/Public/soumu.ico"  type="image/x-icon">
    <meta charset="UTF-8">
    <title>中秋节_中秋节赏月_中秋节团聚_91搜墓网</title>
    <meta name="keywords" content="中秋节,中秋节的由来,中秋节的来历,中秋节赏月,中秋节习俗,中秋节传说,赏月,中秋节团聚" />
    <meta name="description" content="中秋节是中国传统节日中最盛大的节日之一。这一天全国各地的家庭都会团聚在一起，月饼是这个节日的标配，祭祀月神的环节，有些家庭都已经略去了。不过，赏月是每个家庭、每个人都会做的事。总之，中秋节是团圆的节日，是丰收和欢庆的盛宴。"/>
    <link href="{$Think.const.CSS_URL}topics/zhongqiujie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.CSS_URL}topics/header.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 顶部 -->
  <include file="Common:head_topics" />
<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
    <div class="contain">
        <ul>
            <li class="currter"><a href="#">中秋节</a></li>
            <li><a href="#2F">传统知识起源</a></li>
            <li><a href="#3F">叙说中秋故事</a></li>
            <li><a href="#4F">中秋祝福</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div><!-- topics_nav导航结束 -->
<!-- banner -->
<div class="zq_banner"></div>

<!-- 故事导航 -->
<div class="zq_nav_box">
    <div class="zq_nav contain">
        <ul>
            <li class="first">
                <a href="#2F">
                    <img src="{$Think.const.IMG_URL}topics/zhongqiu/zq_nav_qy.png" alt="传统知识起源_中秋节"/>
                </a>
            </li>
            <li>
                <a href="#3F">
                    <img src="{$Think.const.IMG_URL}topics/zhongqiu/zq_nav_gs.png" alt="叙说中秋故事_中秋节"/>
                </a>
            </li>
            <li class="last">
                <a href="#4F">
                    <img src="{$Think.const.IMG_URL}topics/zhongqiu/zq_nav_zf.png" alt="91搜墓网中秋祝福_中秋节"/>
                </a>
            </li>
        </ul>
    </div><!-- zq_nav 故事导航 End -->
</div><!-- zq_nav_box 故事导航 End -->

<!-- 中秋节传统知识起源 -->
<div id="2F" class="zq_qy">
    <div class="contain">
        <!-- 中秋节传统知识起源内容 -->
        <div class="zq_qymain">
            <!-- 标题 -->
            <h3 class="zq_title">
                <img title="中秋传统知识起源" src="{$Think.const.IMG_URL}topics/zhongqiu/zq_title_qy.png" alt="中秋传统知识起源_中秋节"/>
            </h3>
            <div class="qyimgtext clearfix">
                <img src="{$Think.const.IMG_URL}topics/zhongqiu/zq_qy_img1.jpg" alt="中秋传统知识起源_中秋节"/>
                <p>
                    关于中秋节的起源，有神话、历史以及农耕多种说法。农业生产起源的说法简单朴实，却饱含了人生和生活的真谛。按照农业生产起源说，秋天是收获的季节，大部分农产品和果蔬相继成熟，人们开始采摘果实。曾经的汗水都化作了丰收的喜悦，围在收获成果旁边享受幸福的聚会，感恩身边的人和果实。人生也一样，要付出认真的汗水才能收获成功，要付出真心的关怀才能收获爱情、友情、亲情的回馈。
                </p>
            </div>
            <p>
                中秋节是中国传统节日中最盛大的节日之一。这一天，全国各地的家庭都会团聚在一起。月饼是这个节日的标配，此外，葡萄、柚子也是这场盛宴里的尤物。祭祀月神的环节，有些家庭都已经略去了，不过，只要这一天不是阴雨天气，赏月是每个家庭、每个人都会做的事。桂花酒、赏花灯、猜字谜等，不同地区会有不同的玩法。
            </p>
            <p>
                总之，中秋节是团圆的节日，是丰收和欢庆的盛宴。<a href="{:U('news/detail/3367')}" title="仲秋祭月与中秋节的源起_中秋节">详细内容</a>
            </p>
        </div><!-- zq_qymain 中秋节传统知识起源内容 End -->
    </div><!-- contain End -->
</div><!-- zq_qy 中秋节传统知识起源 End -->

<!-- 叙说中秋故事 -->
<div id="3F" class="zq_gs">
    <div class="contain">
        <!-- 叙说中秋故事内容 -->
        <div class="zq_gsmain">
            <!-- 标题 -->
            <h3 class="zq_title">
                <img title="叙说中秋故事" src="{$Think.const.IMG_URL}topics/zhongqiu/zq_title_gs.png" alt="叙说中秋故事_中秋节"/>
            </h3>
            <ul>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/zhongqiu/zq_gs_img1.jpg" alt="爱情篇_中秋节"/>
                    <div class="zq_gs_text">
                        <h4>1)爱情篇</h4>
                        <p>
                            ①　中秋之嫦娥奔月：小时候听到最多的神话故事就是嫦娥奔月，尤其在中秋这样一个传统大节日，是阖家团圆，更是花好月圆。然而关于这个美好至极的节日，却有嫦娥奔月这么伤感的离别，浪漫到伤感不就是爱情吗？这也是提醒我们珍惜眼前人。
                            <a href="{:U('news/detail/5162')}" title="中秋之嫦娥奔月——后羿，你要月饼还是嫦娥？_中秋节">详细内容</a>
                        </p>
                        <p>
                            ②　中秋之霓裳羽衣曲：霓裳羽衣曲听起来就是浪漫和心碎。一篇舞曲串起了多少篇章宏大的儿女情长，唐玄宗李隆基痴恋儿媳杨玉环；李煜周娥皇万卷丛中寻觅霓裳羽衣曲的踪迹……古人封建，今人开放，可现在还有多少人有爱得勇气，更有多少人能有爱得真心？越来越繁荣的经济社会外衣之下，日渐空乏的心灵和肉体被掏空，你还敢爱吗？
                            <a href="{:U('news/detail/5172')}" title="中秋之霓裳羽衣曲——月亮的启示：痛并快乐着_中秋节">详细内容</a>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/zhongqiu/zq_gs_img2.jpg" alt="友情篇_中秋节"/>
                    <div class="zq_gs_text">
                        <h4>2）友情篇</h4>
                        <p>
                            ③　中秋之琵琶行：现在我们都有闺蜜团、男人帮，红颜和蓝颜都可以一起喝酒撸串赚外快。很多人都是吃不到一块咱喝酒，喝不到一块各自走。我们在快节奏的工作生活，容不得你拖泥带水，各自洒脱是现在的个性和追求。古人们结交的故事却不太一样，文人墨客结交朋友都有一个“雅”字。深情厚谊只要一首曲子，司马青衫湿。
                            <a href="{:U('news/detail/5181')}" title="中秋之琵琶行——送给友达们的《琵琶行》_中秋节">详细内容</a>
                        </p>
                        <p>
                            ④　中秋之她是我朋友：有一种说法，是不是真朋友，找他借钱就知道了。还是觉得用钱来衡量友情——太土豪，有本事你用命啊！这篇战争里的故事很撼动人心，让你知道什么是生死之交。我用眼泪告诉你我爱惜生命，但是来吧，用尽我的血来换你的命。
                            <a href="{:U('news/detail/5183')}" title="中秋之她是我朋友——我不要跟你歃血为盟，那点血不够！_中秋节">详细内容</a>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="{$Think.const.IMG_URL}topics/zhongqiu/zq_gs_img3.jpg" alt="亲情篇_中秋节"/>
                    <div class="zq_gs_text">
                        <h4>3）亲情篇</h4>
                        <p>
                            ⑤　中秋之黄庭坚涤溺（黄庭坚坚持为母亲洗马桶）：看一个人是不是用心，并不是看他能不能为你开天辟地。看他能不能为你做小事，看他能不能坚持。尤其像洗马桶这样卑微的小事，尤其是日复一日，年复一年，这不是考验，这是孝。
                            <a href="{:U('news/detail/5187')}" title="中秋之黄庭坚涤亲溺器——生子当如黄山谷_中秋节">详细内容</a>
                        </p>
                        <p>
                            ⑥　中秋之黄香事父（黄香为父亲暖穿驱蚊）：一位网络作者分享妹妹日常：一日在公园里被蚊子咬得直喊痒，妹妹就把自己的袖管、裤中秋管都挽起来，就让蚊子来咬我吧。嗯，继承了先人的优良传统。古代也有一人做过同样的事，他就是黄香。
                            <a href="{:U('news/detail/5188')}" title="中秋之黄香温衾中了孝的毒_中秋节">详细内容</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div><!-- zq_gsmain 叙说中秋故事内容 End -->
    </div><!-- contain -->
</div><!-- zq_gs 叙说中秋故事 End -->

<!-- 91搜墓网中秋祝福 -->
<div id="4F" class="zq_zf">
    <div class="contain">
        <!-- 91搜墓网中秋祝福内容 -->
        <div class="zq_zfmain">
            <!-- 标题 -->
            <h3 class="zq_title">
                <img title="91搜墓网中秋祝福" src="{$Think.const.IMG_URL}topics/zhongqiu/zq_title_zf.png" alt="91搜墓网中秋祝福_中秋节"/>
            </h3>
            <!-- 祝福内容 -->
            <ul class="clearfix">
                <li class="zq_zf_li1">
                    <h5>①　江苏的菇凉说：</h5>
                    <p>我家乡的小孩中秋节都系绒，毛绒绒的红绳子系在手腕上漂漂亮亮、大吉大利；</p>
                    <p>梦想：今天在北京，明天再国外，玩个痛快！</p>
                </li>
                <li class="zq_zf_li2">
                    <h5>②　吉林的妹子很实在：</h5>
                    <p>吃！吃月饼、吃葡萄！</p>
                    <p>梦想：来一车巧克力，然后，飞上宇宙~</p>
                </li>
                <li class="zq_zf_li3">
                    <h5>③　山东的镁铝你跟风！</h5>
                    <p>好吃哒，月饼、葡萄、石榴，啦啦啦~</p>
                    <p>梦想：好吃哒，Er~</p>
                </li>
                <li class="zq_zf_li4">
                    <h5>④　江西的淑女：</h5>
                    <p>好吃哒，月饼、柚子~柚子哦</p>
                    <p>梦想：环游世界~</p>
                </li>
                <li class="zq_zf_li5">
                    <h5>⑤　成都房产：</h5>
                    <p>我家乡的小孩中秋节都系绒，毛绒绒的红绳子系在手腕上漂漂亮亮、大吉大利；</p>
                    <p>梦想：今天在北京，明天再国外，玩个痛快！</p>
                </li>
                <li class="zq_zf_li6">
                    <h5>⑥　设计：</h5>
                    <p>我家乡的小孩中秋节都系绒，毛绒绒的红绳子系在手腕上漂漂亮亮、大吉大利；</p>
                    <p>梦想：今天在北京，明天再国外，玩个痛快！</p>
                </li>
            </ul>
            <!-- 祝福总结 -->
            <p class="zq_zf_zj">说起吃哒都很实在，说起梦想来~Er~能不能实在点！！！</p>
        </div><!-- zq_zfmain 91搜墓网中秋祝福内容 End -->
    </div><!-- contain End -->
</div><!-- zq_zf 91搜墓网中秋祝福 End -->

<div class="zq_sdgt"></div>

<!-- 底部 -->
<div class="topics_footer zq_footer">
    <p>{$Think.config.BEIAN_INFO}</p>
</div><!-- topics_footer end -->
<script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/commonb.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}home/topics.js"></script>
</body>
</html>