@charset "utf-8";
/* flexslider */
.flexslider{margin:0 auto;position:relative;width:232px;height:145px;zoom:1;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flexslider .slides{zoom:1;}
.flex-direction-nav{text-indent: 9999px;}
.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}
.flex-control-nav{width:100%;position:absolute;bottom:-34px;text-align:center;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{display:block;height:16px;overflow:hidden;width:16px;cursor:pointer;background: #bcebcf; color: #ff6d00;}
.flex-control-paging li a.flex-active{background: #bcebcf;}