<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <include file="Public::head"/>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="fixed-top">
        <!-- BEGIN HEADER -->
    <include file="Public::top"/>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
        <!-- BEGIN SIDEBAR -->
        <include file="Public::left"/>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN THEME CUSTOMIZER-->
                        <div id="theme-change" class="hidden-phone">
                            <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                        </div>
                        <!-- END THEME CUSTOMIZER-->
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <ul class="breadcrumb">
                            <li>
                                <a href="{:U('Index/index')}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                            </li>
                            <li>
                                <a href="{:U('Index/index')}">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                            </li>
                            <li><a href="javascript:void(0)">殡仪馆SEO</a><span class="divider-last">&nbsp;</span></li>

                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div id="page" class="dashboard">
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN RECENT ORDERS PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-reorder"></i>殡仪馆SEO</h4>
                                    <php>
                                        if(showHandle('Opex/add')){
                                    </php>
                                        <span class="tools">
                                            <a href="javascript:;" class="icon-plus add" >添加殡仪馆SEO</a>
                                        </span>
                                    <php>
                                        }
                                    </php>
                                </div>
                                <div class="widget-body">
                                    <form id="quickForm" method="get" class="form-horizontal" autocomplete="off" action='{:U("funeralSeo")}'>
                                    <table>
                                        <tr>
                                            <td>搜索：</td>
                                            <td>
                                                <select name="province_id" >
                                                    <option value="">请选择地区</option>
                                                    <volist name="region" id="vo">
                                                        <option value="{$vo.region_id}" <eq name="vo.region_id" value="$Think.get.province_id">selected</eq>>{$vo.region_name}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">确定</button>
                                            </td>
                                        </tr>
                                    </table>
                                    </form>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:5%;">省份</th>
                                                <th style="width:15%;">SEO标题</th>
                                                <th style="width:22%;">关键字</th>
                                                <th style="width:46%;">描述</th>
                                                <th style="width:5%;">时间</th>
                                                <th style="width:7%;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="list" id="vo">
                                            <tr class="odd gradeX">
                                                <td>{$vo.Province.region_name}</td>
                                                <td>{$vo.seo_title}</td>
                                                <td>{$vo.seo_keywords}</td>
                                                <td>{$vo.seo_description}</td>
                                            <td>{$vo.created_time}</td>
                                            <td>
                                                <php>
                                                    if(showHandle('Opex/edit')){
                                                </php>
                                                    <a class="btn btn-small edit"  href="javascript:void(0)" data-id="{$vo.id}"><!--<i class="icon-pencil icon-white"> </i>-->编辑</a>
                                                <php>
                                                    }
                                                    if(showHandle('Opex/button')){
                                                </php>
                                                    <eq name="vo.status" value="$Think.config.NORMAL_STATUS">
                                                        <a class="btn btn-danger btn-small switch" href="javascript:void(0)" data-id="{$vo.id}" data-status="{$Think.config.DELETE_STATUS}"><!--<i class="icon-remove  icon-white"> </i>-->禁用</a>
                                                    <else/>
                                                        <a class="btn btn-success btn-small switch" href="javascript:void(0)" data-id="{$vo.id}" data-status="{$Think.config.NORMAL_STATUS}"><!--<i class="icon-ok  icon-white"> </i>-->启用</a>
                                                    </eq>
                                                <php>
                                                    }
                                                </php>
                                            </td>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                    <div class="row-fluid">
                                        <div class="span12 center">
                                            <div class="pagination" id="sample_1_info" style="text-align: center">
                                                {$page}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END RECENT ORDERS PORTLET-->
                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->

    <!--添加SEO开始-->
    <div id="add" class="modal hide fade in" style="width:800px;">
        <form id="addForm" method="post" class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>添加SEO信息</h3>
            </div>
            <div class="modal-body" >

                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>省份：</td>
                            <td>
                                <select name="province_id" data-rule="required">
                                    <option value="">请选择</option>
                                    <volist name="region" id="vo">
                                        <option value="{$vo.region_id}">{$vo.region_name}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>标题：</td>
                            <td>
                                <textarea class="input-xxlarge"  name='seo_title' data-rule='required' /> </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>关键词：</td>
                            <td>
                                <textarea class="input-xxlarge"  name='seo_keywords' data-rule='required' /> </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>描述：</td>
                            <td>
                                <textarea class="input-xxlarge"  name='seo_description' data-rule='required' /> </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>是否显示</td>
                            <td><input name="status" value="{$Think.config.NORMAL_STATUS}" type="radio" data-rule="checked" checked> 是 
                                <input name="status" value="{$Think.config.DELETE_STATUS}" type="radio" data-rule="checked"> 否
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="act" value="funeralseo">
                <input type="hidden" name="type" value="{$Think.config.SEO_TYPE.FUNERAL_LIST}">
                <button type="submit"  class="btn btn-success">提交</button>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </form>
    </div>
    <!--添加SEO结束-->

    <!--编辑SEO信息开始-->
    <div id="edit" class="modal hide fade in" style="width:800px;">
        <form id="editForm" method="post" class="form-horizontal" autocomplete="off">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>编辑信息</h3>
            </div>
            <div class="modal-body" >

                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>省份：</td>
                            <td>
                                <select name="province_id" data-rule="required"  disabled="disabled">
                                    <option value="">请选择</option>
                                    <volist name="region" id="vo">
                                        <option value="{$vo.region_id}">{$vo.region_name}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>标题：</td>
                            <td>
                                <textarea class="input-xxlarge"  name='seo_title' data-rule='required' /> </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>关键词：</td>
                            <td>
                                <textarea class="input-xxlarge"  name='seo_keywords' data-rule='required' /> </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>描述：</td>
                            <td>
                                <textarea class="input-xxlarge"  name='seo_description' data-rule='required' /> </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>是否显示</td>
                            <td><input name="status" value="{$Think.config.NORMAL_STATUS}" type="radio" data-rule="checked"> 是 
                                <input name="status" value="{$Think.config.DELETE_STATUS}" type="radio" data-rule="checked"> 否
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="hidden" name='id' /> 
                <button type="submit"  class="btn btn-success">提交</button>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </form>
    </div>
    <!--编辑SEO信息结束-->

    <!-- BEGIN FOOTER -->
    <include file="Public::footer"/>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
    <script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>

    <script src="{$Think.const.JS_URL}jquery.validator.js"></script>
    <script src="{$Think.const.JS_URL}zh-CN.js"></script>
    <script src="{$Think.const.JS_URL}scripts.js"></script>
    <script>
        //添加seo 
        $('.add').click(function () {
            $('#add').modal();
        });
        //提交SEO 表单
        $('#addForm').bind('valid.form', function () {
            $('#add').modal('hide');
            $.ajax({
                url: "{:U('add')}",
                type: 'post',
                data: $(this).serialize(),
                success: function (d) {
                    var result = eval("(" + d + ")");
                    if (result.flag == 1) {
                        alert(result.msg);
                        window.location.reload();//刷新当前页面.
                    } else {
                        alert(result.msg);
                    }
                }
            });
        });

        //编辑SEO信息
        $('.edit').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/system.php/Opex/edit/id/' + id,
                type: 'get',
                success: function (d) {
                    var result = eval("(" + d + ")");
                    var data = result.data;
                    if (result.flag == 1) {
                        $('#editForm select[name="province_id"]').val(data.province_id);
                        $('#editForm select[name="type"]').val(data.type);
                        $('#editForm textarea[name="seo_title"]').val(data.seo_title);
                        $('#editForm textarea[name="seo_keywords"]').val(data.seo_keywords);
                        $('#editForm textarea[name="seo_description"]').val(data.seo_description);
                        $("#editForm input[name='status'][value="+data.status+"]").attr("checked",true); 
                        $('#editForm input[name="id"]').val(data.id);
                        $('#edit').modal();
                    } else {
                        alert('操作失败');
                    }
                }
            });
        });

        //提交修改seo的表单
        $('#editForm').bind('valid.form', function () {
            $('#edit').modal('hide');
            $.ajax({
                url: "{:U('edit')}",
                type: 'post',
                data: $(this).serialize(),
                success: function (d) {
                    var result = eval("(" + d + ")");
                    if (result.flag == 1) {
                        alert(result.msg);
                        window.location.reload();//刷新当前页面.
                    } else {
                        alert(result.msg);
                    }
                }
            });
        });
        //SEO开启和禁用
        $('.switch').click(function () {
            var id = $(this).attr('data-id');
            var status = $(this).attr('data-status');
            $.ajax({
                url: "{:U('button')}",
                type: 'post',
                data: {'id':id,'status':status},
                success: function (d) {
                    var result = eval("(" + d + ")");
                    if (result.flag == 1) {
                        alert(result.msg);
                        window.location.reload();
                    } else {
                        alert(result.msg);
                    }
                }
            });
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>