<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<include file="Public::head"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
<!-- BEGIN HEADER -->
<include file="Public::top"/>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
    <!-- BEGIN SIDEBAR -->
    <include file="Public::left"/>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN THEME CUSTOMIZER-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                            <span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
                            </span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="#">91搜墓网后台</a> <span class="divider">&nbsp;</span>
                        </li>
                        <li><a href="#">添加用户</a><span class="divider-last">&nbsp;</span></li>

                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div id="page" class="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN RECENT ORDERS PORTLET-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>添加用户</h4>
                            </div>
                            <div class="widget-body form">
                                <!-- BEGIN FORM-->
                                <form action="{:U('Admin/addAdmin')}" class="form-horizontal" onsubmit="return only();" method="post">
                                    <div class="control-group">
                                        <label class="control-label">姓名</label>
                                        <div class="controls">
                                            <input type="text" class="span4 " name="nickname" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">登录账号</label>
                                        <div class="controls">
                                            <input type="text" class="span4 " name="email" required id="emailVal" onblur="checkEmail()">
                                            <span id="tips" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">电子邮箱</label>
                                        <div class="controls">
                                            <input type="text" class="span4 " name="email_address" >
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">密码</label>
                                        <div class="controls">
                                            <input type="password" class="span4 " name="pwd" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">确认密码</label>
                                        <div class="controls">
                                            <input type="password" class="span4 " name="repwd" required>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success" id="sub">添加</button>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END RECENT ORDERS PORTLET-->
                    </div>
                </div>

            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<include file="Public::footer"/>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="{$Think.const.JS_URL}jquery-1.8.3.min.js"></script>
<script src="{$Think.const.ASSETS_URL}bootstrap/js/bootstrap.min.js"></script>

<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="js/excanvas.js"></script>
<script src="js/respond.js"></script>
<![endif]-->

<!--地图封装接口 以及一些初始化的数据 -->
<script src="{$Think.const.JS_URL}scripts.js"></script>
<script>
    //验证登录账号的唯一性
    function checkEmail(){
        var email = $('#emailVal').val();
        $.ajax({
            url: "{:U('Admin/checkEmail')}",
            type: 'POST',
            data: {'email':email},
            success: function (d) {
                var result = eval("(" + d + ")");
                if (result.flag == 0) {
                    $('#tips').empty('');
                    $('#tips').text('登录密账号已存在，请重新添加');
                }else{
                    $('#tips').empty('');
                }
            }
        });
    }
    //验证提交密码和确认密码一致性
    function only(){
        var pwd = $('input[name="pwd"]').val().replace(/(^\s*)|(\s*$)/g, "");
        var repwd = $('input[name="repwd"]').val().replace(/(^\s*)|(\s*$)/g, "");
        var tips =  $('#tips').text();
        if(pwd === repwd){
            if(!(tips.length == 0)){
                alert(tips);
                return false;
            }else{
                return true;
            }
        }else{
            alert('密码不一致');
            return false;
        }
    }

</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>