<!-- 底部footer部分 -->
<div class="footer clearfix">
    <div class="contain">
        <!-- 底部导航+联系我们 -->
        <div class="footer_main clearfix">
            <!-- 底部导航 -->
            <div class="footer_nav clearfix">
                <ul>
                    <h1>购墓指南</h1>
                    <li><a target="_blank" href="{:U('/help/guide/gmlc')}" title="购墓流程">购墓流程</a></li>
                    <li><a target="_blank" href="{:U('/help/guide/lyxz')}" title="陵园选择">陵园选择</a></li>
                    <li><a target="_blank" href="{:U('/help/guide/mdxz')}" title="墓地选择">墓地选择</a></li>
                    <li><a target="_blank" href="{:U('/help/guide/yysh')}" tilte="预约商户">预约商户</a></li>
                </ul>
                <ul>
                    <h1>订单保障</h1>
                    <li><a target="_blank" href="{:U('/help/security/wzys')}" title="网站优惠">网站优势</a></li>
                    <li><a target="_blank" href="{:U('/help/security/hyqy')}" title="会员权限">会员权益</a></li>
                    <li><a target="_blank" href="{:U('/help/security/yhxy')}" title="用户协议">用户协议</a></li>
                    <li><a target="_blank" href="{:U('/help/security/yszc')}" title="隐私政策">隐私政策</a></li>
                </ul>
                <ul>
                    <h1>常见问题</h1>
                    <li><a target="_blank" href="{:U('/help/issue/xmjq')}" title="选墓技巧">选墓技巧</a></li>
                    <li><a target="_blank" href="{:U('/help/issue/gmxz')}" title="购墓须知">购墓须知</a></li>
                    <li><a target="_blank" href="{:U('/help/issue/shfw')}" title="售后服务">售后服务</a></li>
                    <li><a target="_blank" href="{:U('/help/issue/lqfx')}" title="领取返现">领取返现</a></li>
                </ul>
                <ul>
                    <h1>殡葬文化</h1>
                    <li><a target="_blank" href="{:U('/help/common/bzjr')}" title="殡葬吉日">殡葬吉日</a></li>
                    <li><a target="_blank" href="{:U('/help/common/bzfw')}" title="殡葬服务">殡葬服务</a></li>
                    <li><a target="_blank" href="{:U('/help/common/jsxs')}" title="祭祀习俗">祭祀习俗</a></li>
                    <li><a target="_blank" href="{:U('/help/common/fsxd')}" title="风水选定">风水选定</a></li>
                </ul>
                <ul>
                    <h1>91搜墓网</h1>
                    <li><a target="_blank" href="{:U('/intro/aboutus')}" title="关于91搜墓网">关于91搜墓网</a></li>
                    <li><a target="_blank" href="{:U('/intro/contactus')}" title="联系我们">联系我们</a></li>
                    <li><a target="_blank" href="{:U('/intro/sitemap')}" title="网站地图">网站地图</a></li>
                    <li><a target="_blank" href="{:U('/intro/joinus')}" title="加盟合作">加盟合作</a></li>
                </ul>
	    </div><!-- footer_nav底部导航结束 -->
            <!-- 联系我们 -->
            <div class="contact clearfix">
                <h2>400-8010-344</h2>
                <div class="cont">
                    <div class="sina">
                        <span></span><a href="http://weibo.com/u/5186364473" target="_blank"  title="91搜墓网-sina新浪微博">立即关注</a>
                    </div>
                    <div class="tencent">
                        <span></span><a href="http://t.qq.com/soumu91" target="_blank"  title="91搜墓网-腾讯微博">立即关注</a>
                    </div>
                </div>
                <img class="wechat" src="{$Think.const.IMG_URL}wechat.png" alt="91搜墓网微信公众号"/>
            </div><!-- contact联系我们结束 -->
        </div><!-- footer_main底部导航+联系我们结束 -->
    </div><!-- contain -->
</div><!-- footer底部footer部分结束 -->
<!-- 版权 -->
<div class="copyright">
    <ul>
        <li>{$Think.config.BEIAN_HAO}</li>
        <li>服务热线:400-8010-344</li>
        <li>{$Think.config.SITE_NAME} 版权所有</li>
    </ul>
    <p>CopyRight (C)2009-{:date("Y")} {$Think.config.BEIAN_COPY}</p>
</div><!-- copyright版权结束 -->
<!--回到顶部-->
<include file="Common:returntop_in" />
