<div class="help_nav">
    <div class="innerhelp_nav">
        <ul>
            <li <eq name="menu_flag" value="intro"> class="help_nav_led" </eq> ><a href="{:U('/intro/aboutus')}" title="91搜墓网">91搜墓网</a></li>
            <li <eq name="menu_flag" value="guide"> class="help_nav_led" </eq> ><a href="{:U('/help/guide/gmlc')}" title="购墓指南">购墓指南</a></li>
            <li <eq name="menu_flag" value="security"> class="help_nav_led" </eq> ><a href="{:U('/help/security/wzys')}" title="订单保障">订单保障</a></li>
            <li <eq name="menu_flag" value="issue"> class="help_nav_led" </eq> ><a href="{:U('/help/issue/xmjq')}" title="常见问题">常见问题 </a></li>
            <li <eq name="menu_flag" value="common"> class="help_nav_led" </eq> ><a href="{:U('/help/common/bzjr')}" title="殡葬文化">殡葬文化</a></li>
            <li class="last"><a href="{:U('/intro/joinus')}" title="加盟合作">加盟合作</a></li>
        </ul>
    </div>
</div>