<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- bootstrap -->
<link href="{$Think.const.CSS_URL}storecenter/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="{$Think.const.CSS_URL}storecenter/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<link href="{$Think.const.CSS_URL}storecenter/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
<!-- global styles -->
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}storecenter/layout.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}storecenter/elements.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}storecenter/icons.css" />
<!-- libraries -->
<link href="{$Think.const.CSS_URL}storecenter/lib/font-awesome.css" type="text/css" rel="stylesheet" />
<!-- open sans font -->
<link href='{$Think.const.CSS_URL}storecenter/font.googleapis.css' rel='stylesheet' type='text/css' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />